<div class="afa-summary">
    <h2>AfA Adaptations</h2>

    <h3>General</h3>
        <div>
            <span class="afa-icon mouse-access">Mouse Accessibility</span>
            <span class="afa-icon kbd-access">Keyboard Accessibility</span>
            <span class="afa-icon disp-trans">Display Transformability</span>
            <span class="afa-icon ebook">Has eBook</span>
        </div>

    <h3>Images</h3>
        <div>
            <span class="afa-icon img-alt">Alt Text</span>
        </div>

    <h3>Audio</h3>

    <h3>Video</h3>

</div>