<div class="afa-summary fl-clearfix">
    <h2>AfA Adaptations:</h2>

    <h3>General</h3>
    <div>
        <span class="afa-icon mouse-access">Mouse Accessibility</span>
        <span class="afa-icon kbd-access">Keyboard Accessibility</span>
        <span class="afa-icon disp-trans">Display Transformability</span>
        <span class="afa-icon ebook">e-Book</span>
        <span class="afa-icon colour-coding">Colour Coding</span>
        <span class="afa-icon hazard">Hazard</span>
        <span class="afa-icon translation">Translations</span>
    </div>

    <h3>Images</h3>
    <div>
        <span class="afa-icon alt-text">Alt Text</span>
        <span class="afa-icon img-long-desc">Long Description</span>
        <span class="afa-icon audio-adapt">Audio Adaptation</span>
    </div>

    <h3>Audio</h3>
    <div>
        <span class="afa-icon text-alt">Transcripts</span>
        <span class="afa-icon visual-adapt">Visual Adaptation</span>
    </div>

    <h3>Video</h3>
    <div>
        <div class="fl-force-left">
            <h4>Audio Track</h4>
            <div>
                <span class="afa-icon captions">Captions/Transcripts</span>
                <span class="afa-icon visual-adapt">Visual Adaptation</span>
            </div>
        </div>
        <div class="afa-track-right fl-force-right">
            <h4>Video Track</h4>
            <div>
                <span class="afa-icon audio-adapt">Audio Adaptation</span>
            </div>
        </div>
    </div>
</div>