<div class="toolbar help">
  {% if resubmit %}
    Copyright license cannot be changed after a resource is published.
  {% else %}
    Select a copyright license to define how others can use your work:
  {% endif %}
</div>

<div class="layout-columns">

    <div class="column-left">
      {% with form.license as field %}
        {% if field.errors %}
          <div class="field">
            <div class="errors">
              {% for error in field.errors %}
                <label class="error">{{ error|safe }}</label>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {{ field }}
      {% endwith %}
    </div>
    <div class="column-main">
      <div class="current-license">
        <h3>Current License</h3>
        <div class="images">
          <div class="license license-by hide">
            <div class="image"></div>
            Attribution
          </div>
          <div class="license license-nc hide">
            <div class="image"></div>
            Non-Commercial
          </div>
          <div class="license license-sa hide">
            <div class="image"></div>
            Share-Alike
          </div>
          <div class="license license-nd hide">
            <div class="image"></div>
            No Derivative<br>Works
          </div>
        </div>
        <a href="#" target="_blank" style="display: none;">Not selected</a>
      </div>
    </div>

  {% spaceless %}
  <div class="slider-buttons">
    <a href="#step-describe" class="prev"><span class="icon"></span></a>
    <a href="#" class="next publish"><span class="wrap"><strong>{% if resubmit %}Publish Changes{% else %}Publish{% endif %}</strong></span><span class="icon"></span></a>
  </div>
  {% endspaceless %}
</div>
