<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load compress %}
{% load flatblock_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ request.LANGUAGE_CODE }}" lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/blueprint/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/blueprint/typography.css" media="all" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/form.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/keywords-widget.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/iframe-submission.css" media="all" />
    {% endcompress %}
    
    <!--[if lt IE 8]>
      {% compress css %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/blueprint/ie.css" media="all" />
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie.css" media="all" />
      {% endcompress %}
    <![endif]-->
    
  </head>
  <body class="iframe-submission">
  
    <a href="#" id="close">Close</a>
    
    {% if url_error %}
      <p class="error">{{ url_error }}</p>
    {% else %}
    
      <form action="{{ request.get_full_path }}" method="post"
            class="content-submission" id="content-submission">
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        <fieldset title="Step 1">
          <legend></legend>
          <table>
            <tbody>
              {% with form.title as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
              {% with form.abstract as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
              {% with form.institution as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
              {% with form.collection as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
              {% with form.authors as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
              {% with form.keywords as field %}
                {% include "materials/forms/include/iframe-form-field.html" %}
              {% endwith %}
            </tbody>
          </table>
        </fieldset>
        <fieldset title="Step 2">
          <legend></legend>
          <table width="100%">
            <tbody>
              <tr>
                <td width="33%">
                  {% with form.general_subjects as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                  {% with form.media_formats as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                </td>
                <td width="33%">
                  {% with form.grade_levels as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                  {% with form.languages as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                  {% with form.geographic_relevance as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                </td>
                <td width="33%">
                  {% with form.material_types as field %}
                    {% include "include/form-field.html" %}
                  {% endwith %}
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <fieldset title="Step 3">
          <legend></legend>
          {% include "materials/forms/include/iframe-license-field.html" %}
        </fieldset>
        <fieldset title="Step 4">
          <legend></legend>
            {% with form.license_description as field %}
              {% include "include/form-field.html" %}
            {% endwith %}
            
            {% with form.copyright_holder as field %}
              {% include "include/form-field.html" %}
            {% endwith %}
        </fieldset>
        <a class="finish" href="#" style="display: inline-block;">Submit</a>
      </form>
      
    {% endif %}
    
    {% include "include/cdn-js.html" %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.stepy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/postmessage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/namespace.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/content-submission.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/keywords-widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/validation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/iframe-submission.js"></script>
    {% endcompress %}
    <script type="text/javascript">
      $(function() {
        oer.iframe_submission.init();
      });
    </script>
    
  </body>
</html>
