#align-form {
  min-width: 500px;
}

#align-form label {
  display: inline-block;
}

#align-form div.grade,
#align-form div.category,
#align-form div.tag,
#align-form div.buttons input[type='submit'] {
  display: none;
}

#align-form h3 {
  color: #1F4D64;
  font-weight: bold;
  font-size: 14px;
}

#align-tag-description {
  float: right;
  display: none;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 350px;
  background-color: #FFE4B8;
  line-height: 1.2em;
  font-size: 12px;
}

#align-form .align-tags-ct {
  margin-right: 380px;
  margin-bottom: 10px;
  padding: 3px 5px;
  border: 1px solid #ccc;
}

#align-form .align-tags-ct .tags-number {
  display: block;
  margin-top: 10px;
}

#align-form .align-tags-ct.no-tags .tags-number {
  display: none;
}

#align-form .align-tags-ct .not-aligned {
  display: none;
  color: #ccc;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}

#align-form .align-tags-ct.no-tags .not-aligned {
  display: block;
}

.portlet.align-item-tags #show-align-form {
  display: none;

}

body.authenticated .portlet.align-item-tags #show-align-form {
  display: inline;
}

body.authenticated .portlet.align-item-tags .login {
  display: none;
}

.align-tags {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portlet .align-tags {
  margin: 10px 0;
}

.align-tags li {
  display: inline-block;
  margin: 3px 3px 3px 0;
  padding: 3px 5px;
  background-color: #FFE4B8;
}

.align-tags li a {
  color: #1E4E62;
  text-decoration: none;
}

.align-tags li.user-tag {
  position: relative;
  display: inline-block;
  margin: 3px 6px 3px 0;
  padding: 0;
  border: 2px solid #FFE4B8;
  background-color: #fff;
}

.align-tags li.user-tag a {
  display: inline-block;
  margin-right: 20px;
  padding: 1px 5px 1px 3px;
  background-color: #FFE4B8;
  color: #1E4E62;
}

.align-tags li.user-tag a.delete {
  position: absolute;
  top: 0;
  right: 2px;
  display: block;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: transparent url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  vertical-align: middle;
  text-indent: -9999px;
}

.align-tag-tooltip .ui-tooltip-titlebar,
.align-tag-tooltip .ui-tooltip-content {
  border-color: #FFE4B8;
  background-color: #FFE4B8;
  color: #333;
}

.align-tag-tooltip {
  max-width: 300px;
}

.align-tag-tooltip .ui-tooltip-content h1,
#align-tag-description h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

.align-tag-tooltip .ui-tooltip-content p,
#align-tag-description p {
  margin-bottom: 0;
}

.align-tag-tooltip .score {
  margin-top: 20px;
  margin-left: 50px;
  width: auto;
}

.align-tag-tooltip .score td {
  vertical-align: middle;
}

.align-tag-tooltip .score td.first {
  padding-right: 10px;
  width: 50px;
  color: #666;
}

.align-tag-tooltip .score td span {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
}

.align-tag-tooltip .score td span.s1 {
  background-color: #679701;
}

.align-tag-tooltip .score td span.s2 {
  background-color: #8CC63F;
}

.align-tag-tooltip .score td span.s3 {
  background-color: #DBD639;
}

.align-tag-tooltip .score td span.s4 {
  background-color: #FFCB66;
}

.align-tag-tooltip .score td span.s5 {
  background-color: #B5C3CA;
}
