.authoring-tool {

  #content {
    a {
      text-decoration: none;
    }
  }

  .layout-columns {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .authoring-step {
    padding: 0 30px;
    background-color: #f2f2f2;
  }

  .head {
    background-color: #fff;
  }

  .actions {
    padding: 0;
    margin: 0 0 10px 10px;
    float: right;
    a {
      display: inline-block;
      margin-left: 7px;
      text-transform: uppercase;
      color: #333;
      font-size: 16px;
      background-color: #eee;
      padding: 0 10px;
      line-height: 26px;
      border: 1px solid #ccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &.hidden {
        display: none;
      }
      &:hover {
        color: #fff;
        background: #666;
        border-color: #333;
      }
    }
  }

  #status-messages {
    float: right;
    .status-message {
      line-height: 26px;
      background: none;
      border: none;
      padding: 0;
      color: #333;
      &.success {
        color: #060;
      }
      &.error {
        color: #600;
      }
    }
  }

  #material-title {
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
    padding: 0 3px;
    color: #333;
    max-width: 500px;
    &:hover {
       background-color: #eee;
    }
  }

  .title-input {
    margin: 0 -3px;
    input {
      font-size: 20px;
      line-height: 24px;
      height: 24px;
      padding: 0 1px;
      border: 1px solid #ccc;
      font-family: Arial, Verdana, Tahoma, 'Lucida Grande', sans-serif;
      width: 500px;
      color: #333;
      &:focus {
        outline-width: 0;
      }
    }
  }

  #editor {

    .toolbar {
      background: url(../images/authoring/toolbar-bg.png) 0 0 repeat-x;
      height: 41px;
      margin: 0 -30px;
      .sep {
        display: block;
        float: left;
        height: 41px;
        width: 5px;
        margin: 0 5px;
        vertical-align: middle;
        background: url(../images/authoring/toolbar-sep.png);
      }
      .button {
        display: block;
        width: 39px;
        height: 39px;
        text-indent: -9999px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        float: left;
        &.undo {
          background-image: url(../images/authoring/button-undo.png);
        }
        &.redo {
          background-image: url(../images/authoring/button-redo.png);
        }
        &.bold {
          background-image: url(../images/authoring/button-bold.png);
        }
        &.italic {
          background-image: url(../images/authoring/button-italic.png);
        }
        &.underline {
          background-image: url(../images/authoring/button-underline.png);
        }
        &.link {
          background-image: url(../images/authoring/button-link.png);
        }
        &.bullet-list {
          background-image: url(../images/authoring/button-bullet-list.png);
        }
        &.number-list {
          background-image: url(../images/authoring/button-number-list.png);
        }
        &.media {
          background-image: url(../images/authoring/button-media.png);
          width: 100px;
        }
        &.disabled {
          background-image: none;
          cursor: default;
        }
      }
      .text-style {
        position: relative;
        float: left;
        .select {
          display: block;
          margin-right: 5px;
          color: #333;
          background: url(../images/authoring/icon-dropdown-closed.png) 100% 50% no-repeat;
          padding-right: 20px;
          span {
            display: block;
            height: 26px;
            line-height: 26px;
            margin-top: 6px;
            font-family: "Times New Roman", serif;
            font-size: 16px;
            width: 100px;
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 0 4px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
          }
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: absolute;
          border: 1;
          margin: 3px;
          border: 1px solid #ccc;
          border-bottom: none;
          background: #fff;
          width: 150px;
          display: none;
        }
        li {
          padding: 0;
          margin: 0;
          border-bottom: 1px solid #ccc;
          a {
            color: #333;
            display: block;
            padding: 4px 10px;
            &:hover {
              background: #eee;
            }
            span {
              font-family: "Times New Roman", serif;
              font-size: 15px;
              line-height: 25px;
            }
            &.header span {
              color: #690;
              font-size: 25px;
            }
            &.sub-header span {
              color: #9c3;
              text-transform: uppercase;
              font-family: Arial, sans-serif;
              font-weight: bold;
              font-size: 18px;
              margin-left: 5px;
            }
            &.paragraph span {
              margin-left: 15px;
            }
            &.quote span {
              padding-left: 7px;
              border-left: 3px solid #fc3;
              font-style: italic;
              margin-left: 15px;
            }
          }
        }
        &.active ul {
          display: block;
        }
      }
    }
    > .left {
      width: 250px;
      float: left;
    }

    > .right {
      margin-left: 270px;
      padding: 20px 0;
    }

    .editor-area {
      &:focus {
        outline-width: 0;
      }
    }
  }
  .dialog {
    margin-bottom: 10px;
  }
}

#edit-link-dialog {
  position: absolute;
  display: none;
  width: 258px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 0 #ccc;
  -moz-box-shadow: 3px 0 #ccc;
  -ms-box-shadow: 3px 0 #ccc;
  box-shadow: 0 0 5px #666;
  background-color: #fff;
  padding: 5px;
  text-align: right;
  input {
    width: 250px;
    font-size: 13px;
    padding: 3px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  a {
    font-size: 12px;
    margin-left: 5px;
    &.remove {
      position: absolute;
      left: 0;
    }
  }
}

#media-dialog {
  display: none;
  font-size: 17px;
  color: #666;
  margin-top: -20px;
  .step {
    background-color: #f2f2f2;
    border: 1px solid #cfcfcf;
    border-top: none;
    position: relative;
    display: none;
  }

  .head {
    padding: 5px 10px;
    font-size: 15px;
    color: #777;
    text-shadow: 1px 1px 0 #fff;
    background-color: #e6e6e6;
    position: relative;
    a.hide {
      display: inline;
      position: absolute;
      right: 5px;
    }
  }

  .body {
    padding: 20px 30px;
  }

  .left {
    float: left;
  }

  .right {
    margin-left: 170px;
    position: relative;
    height: 112px;
  }

  input[type='text'], textarea {
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    padding: 3px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
  }

  a.submit {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-indent: -9999px;
    text-transform: lowercase;
    background: url(../images/authoring/icon-submit.png) 100% 50% no-repeat;
    color: #9aca41;
    &:hover {
      width: auto;
      padding-right: 25px;
      text-indent: 0;
    }
  }

  .step.upload {
    .right {
      padding-top: 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type='file'] {
      display: none;
    }
    .drop-zone {
      border: 1px dashed #ccc;;
      height: 108px;
      width: 144px;
      background-color: #fff;
      text-align: center;
      a {
        margin-top: 30px;
        display: inline-block;
        padding-left: 15px;
        background: url(../images/authoring/icon-search.png) 0 50% no-repeat;
        text-transform: lowercase;
        font-size: 15px;
      }
      span {
        display: block;
        margin-top: 5px;
        color: #777;
      }
    }
  }

  .step.upload-progress {
    .body {
      text-align: center;
      padding-top: 30px;
      height: 102px;
    }
    .progress {
      margin: 10px auto;
      max-width: 400px;
      border: 2px solid #9a9a9a;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background: url(../images/authoring/progress-bg.png) repeat-x;
    }
    .fill {
      width: 50%;
      background: url(../images/authoring/progress-fill.png) repeat-x;
      height: 29px;
      text-align: right;
      border: solid #fee1a2;
      border-width: 1px 0 0 1px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
    }
    .legend {
      margin-right: 5px;
      line-height: 30px;
      color: #fff;
      font-weight: bold;
    }
  }

  .step.image {
    .head {
      position: relative;
      a {
        display: inline-block;
        padding-right: 20px;
        background: url(../images/authoring/icon-dropdown-closed.png) 100% 50% no-repeat;
        &.opened {
          background-image: url(../images/authoring/icon-dropdown-opened.png);
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: solid #ccc;
        border-width: 0 1px;
        background-color: #fff;
        display: none;
        position: absolute;
        top: 28px;
        left: 10px;
        z-index: 20;
        li {
          border-bottom: 1px solid #ccc;
          margin: 0;
          padding: 3px 7px 3px 20px;
          cursor: pointer;
          &:hover {
            background-color: #f5f5f5;
          }
          &.selected {
            background-image: url(../images/authoring/icon-checked.png);
            background-repeat: no-repeat;
            background-position: 6px 9px;
          }
        }
        &.opened {
          display: block;
        }
      }
    }
    textarea {
      margin-top: 5px;
    }
  }

  .step.document {
    input {
      width: 400px;
      margin: 0;
      border: 1px solid #ccc;
      font-size: 14px;
      padding: 3px;
    }
  }

  .step.video {
    img {
      max-height: 108px;
      max-width: 144px;
    }
    input[type='text'] {
      width: 100%;
      padding: 3px;
      margin: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

#outline {
  margin-top: 30px;
  font-family: Arial, sans-serif;
  color: #069;
  font-size: 15px;
  h2 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #989898;
  }
  li {
    padding: 5px 0;
  }
  ul {
    font-weight: bold;
  }
  ul > ul {
    margin-left: 1em;
    list-style-type: circle;
    font-weight: normal;
    color: #39c;
  }
  .new {
    span {
      font-size: 13px;
      border-bottom: 1px dashed;
      cursor: pointer;
    }
    input {
      background-color: #fff;
      border: none;
      padding: 0 3px;
      height: 20px;
      font-size: 15px;
      margin: -4px;
      width: 100%;
    }
  }
}

.authored-content {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Times New Roman", serif;

  div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, ol, ul, table, figure {
    margin-bottom: 1em;
  }

  ul > ul, ol > ol, ul > ol, ul > ol {
    margin-left: 2em;
  }

  h2 {
    color: #690;
    border-bottom: 1px solid;
    font-size: 25px;
  }

  h3 {
    color: #9c3;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  blockquote {
    padding-left: 7px;
    border-left: 3px solid #fc3;
    font-style: italic;
  }

  a.download {
    display: inline-block;
    padding-left: 20px;
    background: url(../images/authoring/icon-download.png) 0% 50% no-repeat;
    font-style: normal;
  }

  figcaption {
    font-family: Arial, sans-serif;
  }

  figure.image {
    text-align: center;
    &.left {
      float: left;
      margin-right: 10px;
    }
    &.right {
      float: right;
      margin-left: 10px;
    }
    figcaption {
      font-style: italic;
      strong {
        font-style: normal;
        color: #666;
      }
    }
  }

  figure.document {
    font-size: 110%;
    padding: 3px 0 3px 22px;
    background: url(../images/authoring/download_icon&16.png) 0% 50% no-repeat;
  }

  figure.video {
    text-align: center;
    iframe, object, embed {
      margin: 0 auto;
    }
    figcaption {
      font-style: italic;
    }
    .unisubs-widget {
      margin: 0 auto;
    }
  }
}

