.autocomplete-list-widget input.add {
  margin-left: 5px;
  width: 250px;
}

form.formatted .field .autocomplete-list-widget ul, .autocomplete-list-widget ul {
  margin-bottom: 5px;
  list-style-type: none;
}

form.formatted .field .autocomplete-list-widget ul li,
.autocomplete-list-widget ul li {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  background-color: #CED9DD;
  color: #1E4E62;
}

form.formatted .field .autocomplete-list-widget ul li span,
.autocomplete-list-widget ul li  span {
  margin-right: 16px;
}

.autocomplete-list-widget ul:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
}

.autocomplete-list-widget a.delete {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  margin-left: 3px;
  width: 15px;
  height: 15px;
  background: url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  text-indent: -9999px;
}
