.autocomplete-list-widget input.add {
  width: 250px;
  margin-left: 5px;
}

.autocomplete-list-widget ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.autocomplete-list-widget li,
form.formatted .field .autocomplete-list-widget li {
  border: 2px solid #C1DEE8;
  background-color: #fff;
  display: inline-block;
  padding: 0px;
  margin: 3px 6px 3px 0;
  position: relative;
}

.autocomplete-list-widget li span {
  color: #017CA5;
  background-color: #C1DEE8;
  display: inline-block;
  margin-right: 20px;
  padding: 1px 5px 1px 3px;
}

.autocomplete-list-widget li a.delete {
  display: block;
  float: right;
  position: absolute;
  right: 2px;
  top: 0px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: transparent url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
}

