body {
  color: #333;
  font-size: 13px;
  font-family: Arial, Verdana, Tahoma, 'Lucida Grande', sans-serif;
}

body .page {
}

em{
  font-style: italic;
}

a {
  color: #0B7BA9;
}

a.dashed {
  border-bottom: 1px dashed;
  text-decoration: none;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

hr.tall {
  margin: 20px 0;
  border: 0 solid #ccc;
  border-top-width: 1px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px #888;
  -moz-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
}

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  content: ".";
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.fixed-width {
  margin: 0 auto;
  width: 960px;
}

.dotted {
  padding-bottom: 4px;
  background: url(../images/dotted-line-hor.gif) repeat-x scroll 0 100% transparent;
}

.breadcrumbs {
  margin-top: 5px;
}

.breadcrumbs a {
  text-decoration: none;
}

.page-title {
  margin-top: 5px;
  color: #668D16;
  font-weight: normal;
  font-size: 25px;
}

.page-title span {
  color: #666;
}

.status-message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #A88743;
  background-color: #FC6;
  color: #544322;
  font-weight: bold;
}

.ui-widget {
  font-size: 12px;
  font-family: Arial, Verdana, Tahoma, 'Lucida Grande', sans-serif;
}

.expand-button {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
}

a.expand-button.collapsed {
  background: url(../images/collapsible-btn-closed.png) no-repeat;
}

a.expand-button.expanded {
  background: url(../images/collapsible-btn-opened.png) no-repeat;
}

.action-panel {
  margin-top: 10px;
  padding-top: 10px;
  height: 32px;
  background: url(../images/actionpanel-bg.png) no-repeat 0 0;
}

.action-panel.empty {
  padding: 0;
  height: 25px;
  background: url(../images/actionpanel-empty-bg.png) no-repeat 0 0;
}

.action-panel ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.action-panel ul.left {
  float: left;
  margin-left: 10px;
}

.action-panel ul.right {
  float: right;
  margin-right: 10px;
}

.action-panel li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 11px 0 0;
  height: 20px;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
  line-height: 20px;
}

.action-panel li.last {
  margin: 0;
  padding: 0;
  background: none;
}

.action-panel ul.right a {
  text-decoration: none;
  font-weight: bold;
}

.promo {
  margin-bottom: 15px;
  padding: 15px 20px;
  border: 1px solid #AFCFDC;
  background: #F4F8F9 url(../images/promo-bg.png) repeat-x 0 0;
  font-size: 12px;
}

.promo a {
  text-decoration: none;
}

div.box {
  border: 1px solid #BCCACD;
  background: #F3F7F8;
}

div.box h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  height: 39px;
  background: #F3F7F8 url(../images/box-header-bg.png) repeat-x 0 0;
  color: white;
  line-height: 33px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

#content.contribute a {
  text-decoration: none;
}

.accordion .accordion-header {
  margin-top: 0;
}

.accordion .accordion-header a {
  display: inline-block;
  padding-left: 20px;
  height: 16px;
  background: url(../images/collapsible-btn-closed.png) no-repeat 0 0;
}

.accordion .accordion-header a.expanded {
  background-image: url(../images/collapsible-btn-opened.png);
}

.accordion .accordion-body {
  display: none;
  padding-bottom: 5px;
}

.ui-autocomplete, .ui-datepicker {
  -webkit-box-shadow: 2px 2px 3px #999;
  -moz-box-shadow: 2px 2px 3px #999;
  box-shadow: 2px 2px 3px #999;
}

.ui-button .ui-button-text {
  font-size: 12px;
}

.ui-dialog.dropdown .ui-dialog-titlebar {
  display: none;
}

.ui-dialog.dropdown {
  position: fixed;
  border-top: none;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

.ui-dialog.loading .ui-dialog-title {
  padding-right: 22px;
  background: url(../images/ajax-loader.gif) no-repeat 100% 50%;
}

.rc3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rc5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rc10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.button-blue-big {
  display: inline-block;
  margin: 3px;
  padding: 2px 10px;
  background-color: #0B7BA8;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  font-size: 16px;
}

.qtip {
  line-height: 1.3em;
  font-size: 13px;
}

.qtip dt {
  font-weight: bold;
}

.qtip dd {
  margin: 0.2em 0 0.5em 1em;
}

.qtip dd.last {
  margin-bottom: 0;
}

a.ui-widget {
  text-decoration: none;
}

.ui-tooltip-dark-blue .ui-tooltip-titlebar {
  border: none;
  background-color: #418ba8;
  color: #fff;
}

.ui-tooltip-dark-blue .ui-tooltip-content {
  border: none;
  background-color: #c9e7f2;
  color: #000;
}

ul.tagit.ui-widget-content {
  border: none;
  background: none;
  padding: 0;
}

ul.tagit li {
  display: inline-block;
  float: none;
}

.tagit.ui-widget-content input[type='text'] {
  padding: 4px;
  border: 1px solid #ccc;
}

.global-notification {
  padding: 3px 0;
  border-bottom: 1px solid #A88743;
  background-color: #FC6;
  color: #544322;
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
  font-size: 14px;
}

.global-notification .close a, .status-message .close a {
  color: #544322;
  font-weight: normal;
  font-size: 11px;
}

.status-message .close {
  margin-top: 5px;
}

.ui-effects-transfer {
  z-index: 9999;
  border: 1px solid #333;
}
