body {
  background: url(../images/main-bg.png) repeat-x;
  color: #333;
  font-family: Arial, Verdana, Tahoma, 'Lucida Grande', sans-serif;
  font-size: 11px;
}

a {
  color: #0B7BA9;
}

a.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.clear {
  clear: both;
}

.fixed-width {
  width: 960px;
  margin: 0 auto;
}

.dotted {
  background:url(../images/dotted-line-hor.gif) repeat-x scroll 0 100% transparent;
  padding-bottom:4px;
}

.breadcrumbs {
  margin-top: 10px;
}

.breadcrumbs a {
  text-decoration: none;
}

.page-title {
  color: #668D16;
  font-size: 25px;
  font-weight: normal;
  margin-top: 5px;
}

.page-title span {
  color: #666;
}

.ui-widget {
  font-family: Arial, Verdana, Tahoma, 'Lucida Grande', sans-serif;
  font-size: 11px;
}

.ui-widget-content {
  background: none;
}

.expand-button {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
}

.expand-button.collapsed {
  background: url(../images/collapsible-btn-closed.png) no-repeat;
}

.expand-button.expanded {
  background: url(../images/collapsible-btn-opened.png) no-repeat;
}

.action-panel {
  background: url(../images/actionpanel-bg.png) no-repeat 0% 0%;
  height: 32px;
  margin-top: 10px;
  padding-top: 10px;
}

.action-panel.empty {
  background: url(../images/actionpanel-empty-bg.png) no-repeat 0% 0%;
  height: 25px;
  padding: 0;
}

.action-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.action-panel ul.left {
  float: left;
  margin-left: 10px;
}

.action-panel ul.right {
  float: right;
  margin-right: 10px;
}

.action-panel li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 11px 0 0;
  height: 20px;
  line-height: 20px;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
}

.action-panel li.last {
  margin: 0;
  padding: 0;
  background: none;
}

.promo {
  background: #F4F8F9 url(../images/promo-bg.png) repeat-x 0% 0%;
  border: 1px solid #AFCFDC;
  margin-bottom: 15px;
  padding: 15px 20px;
  font-size: 12px;
}

div.box {
  background: #F3F7F8;
  border: 1px solid #BCCACD;
}

div.box h3 {
  background: #F3F7F8 url(../images/box-header-bg.png) repeat-x 0% 0%;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 10px;
  line-height: 33px;
  height: 39px;
}