.layout-columns {
  margin-top: 20px;
  background: url(../images/columns-bg.gif) repeat-y 190px 0;
}

.column-main {
  display: inline-block;
  padding: 0 20px;
  width: 560px;
  vertical-align: top;
}

.column-left {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}

.column-right {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}

body.no-columns .layout-columns {
  background: none;
}

body.no-columns .column-main {
  padding: 0;
  width: auto;
}

body.no-columns .column-left,
body.no-columns .column-right {
  display: none;
}

body.wide-right-column .layout-columns {
  background: url(../images/dotted-line-vert.gif) repeat-y 690px 0;
}

body.wide-right-column .column-left {
  display: none;
}

body.wide-right-column .column-main {
  padding-left: 0;
  width: 670px;
}

body.wide-right-column .column-right {
  margin-left: 20px;
  width: 250px;
}
