footer.global {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 2px solid #999999;
  color: #666666;
}

footer.global .cc-button {
  float: right;
}

footer.global nav ul {
  margin-bottom: 5px;
  list-style-type: none;
}

footer.global nav li {
  display: inline;
  padding-right: 3px;
  padding-left: 5px;
  border-left: 1px solid #666666;
}

footer.global nav .first {
  padding-left: 0px;
  border: none;
}

footer.global nav a,
footer.global nav a:visited {
  color: #0D7BAC;
  text-decoration: none;
  line-height: 15px;
}

