input.text, textarea.text {
    background:none;
    background-color:#fff;
    border:1px solid #9D9D9D;
    font-size:14px;
    padding:1px 2px;
}
input.button {
    background:url(../images/button-bg.png) repeat-x scroll 0 0 #DADADA;
    border:1px solid #799BA5;
    color:#0D5470;
    font-size:14px;
    overflow:visible;
    padding:0 10px;
    line-height: 20px;
    width:auto;
}