.frontpage-highlight {
  width: 180px;
  color: #679801;
  font-size: 18px;
}

.frontpage-highlight em {
  font-style: normal;
  color: #F3C237;
}

.frontpage-highlight ul {
  margin-left: 10px;
}

.frontpage-highlight.left {
  float: left;
  text-align: center;
  padding-top: 35px;
}

.frontpage-highlight.right {
  float: right;
  padding-top: 25px;
}

.frontpage-highlight.right a.button {
  display: block;
  width: 114px;
  height: 24px;
  margin: 10px auto 0;
  text-decoration: none;
  color: white;
  background: url(../images/search-now.png) no-repeat;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.frontpage-block {
  margin: 0 15px;
}

.frontpage-block h4 {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
}

.frontpage-block a {
  color: #0B7BA9;
  text-decoration: none;
  font-weight: bold;
}

.frontpage-block a:visited {
  color: #0B7BA9;
}

.frontpage-block li {
  margin-top: 10px;
}

.frontpage-blocks td {
  vertical-align: top;
  padding: 0;
}

.frontpage-blocks td.first {
  border-right: 1px solid #B1CEDC;
}

#frontpage-promo {
  background: url(../images/frontpage-promo-bg.jpg) no-repeat 0% 0%;
  height: 227px;
}

#frontpage-promo .column1 {
  color: white;
  float: left;
  font-size: 35px;
  font-weight: bold;
  margin-top: 137px;
  padding-top: 10px;
  text-align: center;
  width: 480px;
}

#frontpage-promo .column2 {
  color: white;
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-top: 137px;
  padding-left: 20px;
  padding-top: 12px;
  width: 460px;
}

#frontpage-promo .column2 em {
  color: #FC6;
  font-size: 17px;
  font-style: normal;
}

.tags a.view-all-tags,
.tags a.view-all-tags:visited {
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.frontpage-block.tags h4 {
  margin-bottom: 5px;
}

.tags .tag-cloud {
  padding-bottom: 5px;
  margin-bottom: 5px;
}