.frontpage-block {
  font-size: 12px;
  margin: 0 15px;
}

.frontpage-block h4 {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
}

.frontpage-block a {
  color: #0B7BA9;
  text-decoration: none;
  font-weight: bold;
}

.frontpage-block a:visited {
  color: #0B7BA9;
}

.frontpage-block li {
  margin-top: 10px;
}

.frontpage-blocks td {
  vertical-align: top;
  padding: 0;
}

.frontpage-blocks td.first {
  border-right:1px solid #B1CEDC;
}

#frontpage-promo {
  background: url(../images/frontpage-promo-bg.jpg) no-repeat 0% 0%;
  height: 227px;
}

#frontpage-promo .column1 {
  color: white;
  float: left;
  font-size: 35px;
  font-weight: bold;
  margin-top: 137px;
  padding-top: 10px;
  text-align: center;
  width: 480px;
}

#frontpage-promo .column2 {
  color: white;
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-top: 137px;
  padding-left: 20px;
  padding-top: 12px;
  width: 460px;
}

#frontpage-promo .column2 em {
  color: #FC6;
  font-size: 17px;
  font-style: normal;
}