body.green {
  background-image: url(../images/green-main-bg.png);
}

.green header.global {
  background-image: url(../images/green-header-bg.jpg);
}

.green #logo {
  background-image: url(../images/green-logo.jpg);
  width: 135px;
}

.green #logo-green {
  background: url(../images/green-logo.jpg) no-repeat -135px -43px;
  width: 140px;
  height: 40px;
  display: block;
  float: left;
  margin-top: 55px;
}

.green-feature {
  background: url(../images/green-homepage-feature.jpg) no-repeat;
  height: 119px;
  padding-left: 22px;
  padding-top: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 936px;
}

.green-feature h2 {
  color: #666;
  font-weight: normal;
  font-size: 22px;
  width: 466px;
  padding-bottom: 8px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0 100%;
  margin-bottom: 12px;
}

.green-feature p {
  font-size: 16px;
  color: #666;
}

.green-feature p a {
  font-weight: bold;
  color: #0C5670;
  text-decoration: none;
}

.green .content.microsite-frontpage h2 {
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 28px;
}

.green .content.microsite-frontpage h2 .icon {
  display: block;
  float: left;
  background: url(../images/green-icon.png) no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 3px;
}

.materials-index .details dd.topics a.green,.view-item .details dd.topics a.green
  {
  background: url(../images/green-icon-small.png) no-repeat 0 50%;
}

.green .portlet.oermaterials {
  background: url(../images/dotted-line-hor.gif) repeat-x 0 0;
  padding-top: 5px;
}

.green .portlet.oermaterials hgroup h2 {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

.green .portlet.oermaterials ul {
  margin-left: 20px;
}

.green .portlet.oermaterials .accordion {
  padding-bottom: 20px;
  margin-bottom: 20px;
}


.green .portlet.oermaterials {
  margin-bottom: 0;
}

#green-sponsors-portlet p {
  color: #666;
  line-height: 16px;
  margin-right: 20px;
}

#green-sponsors-portlet div {
  text-align: center;
  margin: 15px 0;
}

body.green .top-keywords h4 .icon {
  display: block;
  float: left;
  width: 27px;
  height: 26px;
  margin-right: 4px;
  background: url(../images/green-icon.png) no-repeat;
}

body.green .top-keywords h4 {
  line-height: 26px;
}

.portlet.oermaterials .topics li a.green {
  background: url(../images/green-icon-small.png) no-repeat 0 50%;
}

.portlet.item-tags li.green {
  background: #D8E5C3 url(../images/green-icon-small-green-bg.png) no-repeat 3px 50%;
  padding-left: 24px;
}

.portlet.item-tags li.green a {
  color: #64972B;
}

.green-browse #content section {
  margin: 0 10px 20px 10px;
}

.green-browse #content section h1 {
  font-size: 18px;
  color: #679801;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.green-browse #content section hgroup h2 {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  margin: 0 0 5px 0;
}

.green-browse #content .columns {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.green-browse #content section.column {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}

.green-browse #content .accordion h2 {
  color: #0A546D;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.green-browse #content .accordion h2 a {
  color: #0A546D;
  text-decoration: none;
}

.green-browse #content .accordion ul {
  list-style-type: none;
}

.green-browse #content .accordion li a {
  text-decoration: none;
  font-size: 11px;
}