body.green {
  background-image: url(../images/green-main-bg.png);
}

.green #header {
  background-image: url(../images/green-header-bg.jpg);
}

.green #logo {
  background-image: url(../images/green-logo.jpg);
  width: 273px;
}

.green .frontpage-highlight {
  width: 180px;
  color: #8AC239;
  font-size: 18px;
}

.green .frontpage-highlight em {
  font-style: normal;
  color: #F3C237;
}

.green .frontpage-highlight ul {
  margin-left: 10px;
}

.green .frontpage-highlight.left {
  float: left;
  text-align: center;
  padding-top: 35px;
}

.green .frontpage-highlight.right {
  float: right;
  padding-top: 25px;
}

.green .frontpage-highlight.right a.search-now {
  display: block;
  width: 118px;
  height: 25px;
  margin: 10px auto 0;
  text-decoration: none;
  color: white;
  background: url(../images/search-now.png) no-repeat;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.green-feature {
  background: url(../images/green-homepage-feature.jpg) no-repeat;
  height: 119px;
  padding-left: 22px;
  padding-top: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 936px;
}

.green-feature h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  font-size: 22px;
  width: 466px;
  padding-bottom: 8px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0% 100%;
  margin-bottom: 12px;
}

.green-feature p {
  font-size: 16px;
  color: #666;
}

.green-feature p a {
  font-weight: bold;
  color: #0C5670;
  text-decoration: none;
}

.green .content.microsite-frontpage h2 {
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 28px;
}

.green .content.microsite-frontpage h2 .icon {
  display: block;
  float: left;
  background: url(../images/green-icon.png) no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 3px;
}

.materials-index .details dd.topics a.green,.view-item .details dd.topics a.green
  {
  background: url(../images/green-icon-small.png) no-repeat 0 50%;
}

.green .portlet.oermaterials {
  background: url(../images/dotted-line-hor.gif) repeat-x 0 0;
  padding-top: 5px;
}

.green .portlet.oermaterials h4 {
  
}

.green .portlet.oermaterials h6 {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}

.green .portlet.oermaterials ul {
  margin-left: 20px;
}

.green .portlet.oermaterials .accordion {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.green .portlet.oermaterials {
  margin-bottom: 0;
}

#green-sponsors-portlet p {
  color: #666;
  line-height: 16px;
  margin-right: 20px;
}

#green-sponsors-portlet div {
  text-align: center;
  margin: 15px 0;
}

body.green .top-keywords h4 .icon {
  display: block;
  float: left;
  width: 27px;
  height: 26px;
  margin-right: 4px;
  background: url(../images/green-icon.png) no-repeat;
}

body.green .top-keywords h4 {
  line-height: 26px;
}

.portlet.oermaterials .topics li a.green {
  background: url(../images/green-icon-small.png) no-repeat 0 50%;
}