@import "bootstrap/variables.scss";
@import "bootstrap/mixins.scss";

header.global {
  height: 110px;
  background: url(../images/header-bg.png) no-repeat 50% 50%;
}

#logo {
  float: left;
  display: block;
  margin-top: 12px;
  margin-left: 2px;
  width: 130px;
  height: 83px;
  background: url(../images/logo.png) no-repeat;
}

header.global nav ul {
  position: relative;
  top: 80px;
  float: right;
  list-style-type: none;
  text-align: right;
  margin: 0;
}

header.global nav li {
  float: left;
  padding: 0 10px;
  background: url(../images/header-link-sep.gif) no-repeat 100% 50%;
}

header.global nav li.auth {
  display: none;
}

body.authenticated header.global nav li.auth {
  display: list-item;
}

body.authenticated header.global nav li.anon {
  display: none;
}

header.global nav .last {
  padding: 0;
  background: none;
}

header.global nav a,
header.global nav span {
  padding: 0 5px;
  color: #707070;
  line-height: 22px;
  font-weight: bolder;
}

header.global nav a img {
  vertical-align: middle;
}

header.global nav a.button-contribute {
  display: block;
  overflow: hidden;
  margin-left: 10px;
  padding: 0;
  width: 145px;
  height: 22px;
  background: url(../images/contribute-btn.gif) no-repeat;
  text-indent: 9999px;
}

.global-tabs {
  @include fixed-container;
  margin-bottom: $baseline / 2;
  position: relative;
}

.global-tabs nav {
  height: 40px;
}

.global-tabs nav ul {
  display: inline-block;
  padding-right: 1px;
  background: url(../images/section-sep.gif) no-repeat 100% 50%;
  list-style-type: none;
  margin: 0;
}

.global-tabs nav li {
  display: inline-block;
  margin-right: 2px;
  padding-left: 3px;
  height: 40px;
  background: url(../images/section-sep.gif) no-repeat 0 50%;
}

.global-tabs nav li span {
  display: block;
  padding: 0 16px;
  height: 40px;
}

.global-tabs nav li.selected span {
  background: url(../images/section-active-bg.png) repeat-x;
}

.global-tabs nav li a {
  color: #0C5670;
  text-decoration: none;
  line-height: 40px;
  font-weight: bold;
  font-size: 14px;
}

.global-tabs nav li.selected a {
  color: #fff;
}

#global-search-box {
  position: absolute;
  right: 0;
  top: 8px;
  form {
    margin: 0;
    .text {
      width: 300px;
      padding-top: 3px;
      padding-bottom: 2px;
      border-color: #ccc;
      vertical-align: middle;
      &:focus {
        @include box-shadow(none);
      }
    }
    .button {
      vertical-align: middle;
    }
  }
}
