header.global {
  height: 110px;
  background: url(../images/header-bg.png) no-repeat 50% 50%;
}

header.global.fixed-width {
  width: 965px;
}

#logo {
  background: url(../images/logo.png) no-repeat;
  display: block;
  float: left;
  height: 83px;
  margin-top: 12px;
  margin-left: 2px;
  width: 130px;
}

header.global nav ul {
  list-style-type: none;
  text-align: right;
  float: right;
  position: relative;
  top: 80px;
}

header.global nav li {
  float: left;
  background: url(../images/header-link-sep.gif) no-repeat 100% 50%;
  padding: 0 10px;
}

header.global nav li.auth {
  display: none;
}

body.authenticated header.global nav li.auth {
  display: list-item;
}

body.authenticated header.global nav li.anon {
  display: none;
}

header.global nav .last {
  background: none;
  padding: 0;
}

header.global nav a,
header.global nav span {
  color: #707070;
  line-height: 22px;
  font-weight: bolder;
  padding: 0 5px;
  text-decoration: none;
}

header.global nav a img {
  vertical-align: middle;
}

header.global nav a.button-contribute {
  background: url(../images/contribute-btn.gif) no-repeat;
  display: block;
  height: 22px;
  width: 145px;
  margin-left: 10px;
  padding: 0;
  text-indent: 9999px;
  overflow: hidden;
}

.global-tabs nav {
  height: 40px;
  margin-bottom: 10px;
}

.global-tabs nav ul {
  list-style-type: none;
  float: left;
  background: url(../images/section-sep.gif) no-repeat 100% 50%;
  padding-right: 1px;
}

.global-tabs nav li {
  float: left;
  height: 40px;
  padding-left: 3px;
  margin-right: 2px;
  background: url(../images/section-sep.gif) no-repeat 0 50%;
}

.global-tabs nav li span {
  display: block;
  padding: 0 16px;
  height: 40px;
}

.global-tabs nav li.selected span {
  background: url(../images/section-active-bg.png) repeat-x;
}

.global-tabs nav li a {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  color: #0C5670;
}

.global-tabs nav li.selected a {
  color: #fff;
}

#global-search-box {
  float: right;
  padding-top: 8px;
}

#global-search-box input.text {
  height: 18px;
  width: 300px;
}
