.clearfix {
  zoom: 1;
}

.index-filters .filter input, .advanced-search .filter input {
  height: 16px;
}

.index-filters .filter dd label {
  width: 140px;
}

.advanced-search .filter dd.collapsible li label {
  float: left;
  margin-left: 0;
}

#global-search-box .text {
  margin-top: 1px;
  margin-bottom: 0;
}

#global-search-box .button {
  line-height: 16px;
}

.navigation li span {
  float: left;
}

.index-filters .filter dd, a.expand-link, .materials-index dl.expanded, .materials-index dl.collapsed,
.advanced-search .filter dd {
  background: none !important;
}

.rocon {
  text-align: left;
}

.evaluation-results .comment {
  top: -2px;
}

.myitems .portlet h1 .rocon-bl,
.myitems .portlet h1 .rocon-br {
  display: none;
}

.portlet.save .save-unsave-button .rocon-tr,
.portlet.save .save-unsave-button .rocon-br,
.portlet.save .folder-list-button .rocon-tl,
.portlet.save .folder-list-button .rocon-bl {
  display: none;
}

#content.contribute .sheet {
  width: 37% !important;
}
