body.iframe-submission {
  padding: 10px;
  background: #fff none;
}

body.iframe-submission a {
  text-decoration: none;
}

.iframe-submission #container {
  height: 430px;
}

.iframe-submission #container.loading {
  background: url(../images/ajax-loader-big.gif) no-repeat 50% 50%;
}

ul.stepy-titles {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

ul.stepy-titles li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #DDD;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

ul.stepy-titles li.current-step {
  color: #369;
  cursor: auto;
}

ul.stepy-titles li span {
  display: block;
  font: 11px verdana;
}

#close {
  float: right;
  display: block;
  margin-top: -5px;
  margin-right: -7px;
  padding-left: 15px;
  background: url(../images/icon-delete-gray.png) no-repeat 0 50%;
  line-height: 15px;
  font-size: 13px;
}

form.content-submission {
  display: none;
  border: none;
  background: inherit;
  font-size: 13px;
}

.content-submission .label label {
  display: inline-block;
  font-weight: bold;
}

.content-submission .required .label label {
  padding-right: 12px;
  background: url(../images/asterisk.gif) no-repeat 100% 0;
}

.content-submission td.label {
  width: 80px;
}

.content-submission td.label label {
  margin-top: 3px;
  margin-right: 5px;
}

.content-submission div.label {
  margin-bottom: 3px;
}

.content-submission .wide {
  width: 520px;
}

.content-submission td {
  padding-bottom: 5px;
}

.content-submission label.error {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  color: red;
  font-weight: normal;
  font-size: 11px;
}

fieldset.step p.content-submission-buttons {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  width: 610px;
  background: #eee;
  text-align: right;
}

fieldset.step p.content-submission-buttons a {
  display: inline-block;
  visibility: hidden;
}

form.content-submission fieldset.step {
  clear: left;
  margin: 0;
  padding: 0;
  border: none;
}

.content-submission #keywords-widget ul {
  margin-bottom: 0;
}

.content-submission #keywords-widget label {
  display: none;
}

.content-submission #keywords-widget input.add {
  margin-left: 0;
  width: 520px;
}

.content-submission textarea {
  resize: none;
}

.content-submission .field ul {
  list-style-type: none;
}

.content-submission table.columns div.field {
  margin-bottom: 10px;
}

.content-submission table.columns td.column-2 {
  padding-left: 20px;
}

.iframe-submission form.content-submission #id_abstract {
  height: auto;
  background: none;
}

.content-submission .selection-widget table td.label {
  width: auto;
}

.iframe-submission form.content-submission .help {
  margin-bottom: 0;
  color: #666;
  font-size: 12px;
}

.iframe-submission form.content-submission .cou .help {
  margin-bottom: 10px;
}

.iframe-submission form.content-submission #id_license_description {
  background: none;
}

.iframe-submission form.content-submission .fields .label label {
  color: inherit;
  font-size: inherit;
}

.iframe-submission form.content-submission .fields .required .label label
  {
  background: none;
}

.iframe-submission .content-submission .field {
  margin-bottom: 5px;
}

.iframe-submission form.content-submission #id_tech_requirements {
  height: 33px;
  background: none;
}

.iframe-submission form.content-submission #id_license_description {
  height: 33px;
}

.iframe-submission form.login {
  margin: 0;
  width: 230px;
}

.iframe-submission form.login p {
  margin: 10px 0;
}

.iframe-submission form.login .buttons a {
  float: right;
  margin-top: 0;
}

.iframe-submission .existing-resource {
  padding: 10px;
}

.iframe-submission .existing-resource p {
  margin-bottom: 5px;
}

.iframe-submission .existing-resource h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.iframe-submission .existing-resource form.rate {
  text-align: inherit;
}

.iframe-submission .existing-resource .user-tags li {
  display: inline-block;
}

.iframe-submission .existing-resource .user-tags li div {
  margin-right: 20px;
}

.iframe-submission .existing-resource .review textarea {
  width: 463px;
}

.iframe-submission .existing-resource .review {
  width: 470px;
}

.iframe-submission .existing-resource .review .message {
  margin: 5px 0;
  padding: 2px 5px;
  border: 1px solid #A88743;
  background-color: #FC6;
  color: #544322;
  font-weight: bold;
  font-size: 12px;
}

.iframe-submission .success-message {
  margin-right: 100px; 
}

.iframe-submission .success-message p {
  margin-bottom: 10px;
  font-size: 14px;
}