#content.information .promo {
  color: #679801;
  font-size: 16px;
}

#content.topics h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-left: 10px;
  background: #F3F7F8 url(../images/box-header-bg.png) repeat-x 0 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#content.topics h3 a {
  color: #fff;
}

#content.topics .topic .body a {
  color: #0C5670;
  text-decoration: none;
  font-weight: bold;
}

#content.topics .topic {
  margin-bottom: 20px;
  border: 1px solid #BCCACD;
  background: #F3F7F8;
}

#content.topics .topic .body {
  padding: 5px 10px 10px;
}

#content.topics ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content.topics li {
  margin: 0;
  padding: 0;
}

#content.topics li li {
  margin: 5px 0 0 20px;
}

#content.topics .topic .body > ul {
  margin: 10px 0;
  background: url(../images/dotted-line-hor.gif) repeat-x 0 100%;
}

#content.topics .topic .body > ul > li {
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 10px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0 0;
}
