form.login {
  margin: 0 auto;
  width: 330px;
}

form.login input.text {
  width: 322px;
}

form.login a {
  text-decoration: none;
}

form.login .buttons {
  position: relative;
}

form.login .buttons a {
  display: inline-block;
  margin-top: 7px;
  margin-right: 1em;
}

form.login .buttons a.forgot-password {
  position: absolute;
  left: 0;
}

form.login input.text {
  padding: 3px 1px;
  font-size: 16px;
}

form.login #id_password,
form.login #altpassword {
  width: 200px;
}

form.login .field {
  position: relative;
}

form.login label.show-password {
  position: absolute;
  right: 0;
}

#login-popup form.login {
  margin: 5px;
}

#login-popup form.login a {
  color: #0B7BA9;
}

#login-popup form.login p {
  margin: 5px 0;
}

