.materials-index .item {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #BFC7CA;
}

.materials-index.loading {
  height: 200px;
  background: url(../images/ajax-loader-big.gif) no-repeat 50% 50%;
}

.materials-index .item.last {
  border: none;
}

.materials-index h1 {
  margin-bottom: 4px;
  color: #1F4D64;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

.view-item h1 {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

.view-item h1 a {
  color: #1F4D64;
}

.view-item h1 a:hover {
  text-decoration: underline;
}

.view-item h1 a img {
  margin-right: 1px;
  vertical-align: text-top;
}

.materials-index h1 img {
  vertical-align: top;
}

.materials-index a, .view-item a {
  text-decoration: none;
}

.materials-index h1 a {
  color: #1F4D64;
}

.materials-index .details dl, .view-item .details dl {
  margin: 10px 0 0 0;
}

.materials-index .details dl a, .view-item .details dl a {
  font-weight: bold;
}

.materials-index .details dt, .view-item .details dt {
  float: left;
  margin-right: 4px;
  color: #616161;
  font-weight: bold;
}

.materials-index .details dd, .view-item .details dd {
  margin-bottom: 2px;
  margin-left: 0;
}

.materials-index .details dl.collapsed {
  display: none;
}

.materials-index .details {
  margin-right: 120px;
  margin-left: 20px;
}

.materials-index .details dt.topics, .view-item .details dt.topics {
  line-height: 16px;
}

.materials-index .details dd.topics a, .view-item .details dd.topics a {
  display: inline-block;
  padding-left: 20px;
  line-height: 16px;
}

.materials-index .item .evaluated {
  padding-left: 27px;
  height: 23px;
  background: url(../images/evaluation/icon-evaluated.png) no-repeat 0 50%;
  color: #122f78;
  line-height: 23px;
}

.cou-bucket {
  margin: 3px 0;
  padding-top: 4px;
  padding-right: 2px;
  padding-left: 36px;
  width: 50px;
  height: 29px;
  color: #0B7BA9;
  line-height: 12px;
  font-size: 10px;
  cursor: pointer;
}

.cou-bucket.no-strings-attached {
  background: url(../images/no-strings-attached.png) no-repeat 0 50%;
}

.cou-bucket.remix-and-share {
  background: url(../images/remix-and-share.png) no-repeat 0 50%;
}

.cou-bucket.share-only {
  background: url(../images/share-only.png) no-repeat 0 50%;
}

.cou-bucket.read-the-fine-print {
  background: url(../images/read-the-fine-print.png) no-repeat 0 50%;
}

.materials-index .details .message {
  padding: 2px 5px;
  border: 1px solid #A88743;
  background-color: #FC6;
  color: #544322;
  font-weight: bold;
}

.materials-index .expand-button {
  margin-top: 1px;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.materials-index .details a.expand-link.expanded {
  display: none;
}

.materials-index .item .right, .view-item .right {
  float: right !important;
  margin-left: 10px;
}

.materials-index .item dl.actions {
  margin: 0;
  padding: 0;
}

.view-item .stars {
  margin-left: 5px;
}

.view-item .cou-bucket {
  margin-left: 5px;
}

.view-item .add-this {
  margin-bottom: 10px;
}

.view-item .add-this img {
  margin-top: 2px;
}

.view-item form.rate {
  width: 97px;
}

.materials-index .item dl.actions.active {
  position: relative;
}

.materials-index .item dl.actions dd {
  position: absolute;
  top: 2em;
  right: -1px;
  z-index: 5;
  display: none;
  margin: 0;
  padding: 0;
  height: auto;
  cursor: pointer;
}

.materials-index .item dl.actions.active dd {
  z-index: 15;
  display: block;
}

.materials-index .item dl.actions ul {
  position: relative;
  left: -4px;
  margin: -2px 0 0;
  padding: 0;
  border: 1px solid #1B536A;
  background: #3D8298;
  list-style-type: none;
}

.materials-index .item dl.actions ul li {
  margin: 0;
  padding: 0;
}

.materials-index .item dl.actions ul a {
  display: block;
  padding: 2px 5px;
  color: #ffffff;
  white-space: nowrap;
}

.materials-index .item dl.actions ul a:hover {
  background-color: #1C4D65;
}

.materials-index .index-navigation {
  padding: 10px 0;
}

.materials-index .index-navigation.top {
  margin-bottom: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0 100%;
}

.materials-index .index-navigation.bottom {
  margin-top: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0 0;
}

.materials-index .index-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.materials-index .index-navigation li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 11px 0 0;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
}

.materials-index .index-navigation li.last {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

.materials-index .index-navigation .expand-links {
  float: left;
}

.materials-index .index-navigation .pagination {
  float: right;
  color: #999;
}

.materials-index .index-navigation .pagination strong {
  color: #000;
}

.materials-index .index-navigation .pagination a {
  color: #0B7BA9;
}

.index-filters .search {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.index-filters .search input.text {
  width: 173px;
}

.index-filters .search input.button {
  margin: 5px 0;
  padding-right: 5px;
  padding-left: 5px;
  color: #333;
  font-size: 11px;
}

.index-filters .filter {
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 11px;
}

.index-filters .filter input, .advanced-search .filter input {
  float: left;
  display: block;
}

.index-filters .filter label, .advanced-search .filter label {
  float: left;
  display: block;
}

.index-filters .filter dt, .advanced-search .filter dt {
  clear: both;
}

.index-filters .filter dd, .advanced-search .filter dd {
  clear: both;
  margin-left: 16px;
}

.index-filters .filter dt label, .advanced-search .filter dt label {
  color: #666;
  font-weight: bold;
}

.index-filters .filter dt label span {
  float: left;
  display: block;
}

.index-filters .filter dd label {
  overflow: hidden;
  width: 146px;
  height: 16px;
  color: #0B7BA9;
  line-height: 16px;
}

.index-filters .filter dd.collapsed, .index-filters .filter ul.collapsed, .advanced-search .filter dd.collapsed, .advanced-search .filter ul.collapsed {
  display: none;
}

.index-filters dt .tooltip-button {
  float: left;
  display: block;
  margin-left: 5px;
  width: 13px;
  height: 13px;
  background: url(../images/tooltip-btn-13.png) no-repeat;
}

.top-keywords .all {
  display: none;
}

.top-keywords .top {
  margin-bottom: 5px;
}

.top-keywords .see-more {
  color: #666;
  font-size: 14px;
}

.item-keywords a {
  font-weight: bold;
}

.item-tags .button-ct {
  margin-top: 5px;
  text-align: center;
}

.view-item-navigation {
  margin-bottom: 20px;
  text-align: center;
}

.view-item-navigation a {
  text-decoration: none;
  font-size: 14px;
}

.view-item-navigation a.item-link.prev {
  margin-right: 10px;
  padding-right: 14px;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
}

.view-item-navigation a.item-link.next {
  margin-left: 10px;
  padding-left: 14px;
  background: url(../images/dotted-line-vert.gif) repeat-y 0 0;
}

.view-item-navigation a.item-link.hidden {
  visibility: hidden;
}

.view-item .details .left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.view-item .details dl.license {
  clear: left;
}

.view-item .comments {
  margin-top: 2em;
}

.view-item .comments h1 {
  color: #1F4D64;
  font-weight: bold;
  font-size: 18px;
}

.view-item .comments article {
  margin-bottom: 2em;
}

.view-item .comments article h1 {
  margin-bottom: 0.5em;
  color: #333;
  font-weight: normal;
  font-size: 14px;
}

.view-item .comments p {
  margin: 0.5em 3em;
  font-style: italic;
}

.view-item .comments footer {
  padding-left: 400px;
}

.portlet.save a {
  display: inline-block;
  line-height: 27px;
  font-size: 18px;
}

.portlet.save a.save {
  padding-left: 35px;
  background: url(../images/icon-save.png) no-repeat 0 50%;
}

/* Browse All */
.content .browse-materials {
  border: 1px #bccacd;
  border-style: none solid solid solid;
  background: #f3f7f8;
}

.content .browse-materials table {
  margin-bottom: 10px;
}

.content .browse-materials thead th {
  padding: 7px 0 14px 0;
  background: #f3f7f8 url(../images/box-header-bg.png) repeat-x 0 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.content .browse-materials  th a, .content .browse-materials  th a:visited {
  color: white;
}

.content .browse-materials  th.sep {
  background: #f3f7f8 url(../images/box-header-sep.png) no-repeat 0 0;
}

.content .browse-materials  th.sep div {
  width: 11px;
}

.content .browse-materials  td {
  padding: 0;
}

.content .browse-materials  ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .browse-materials  li {
  margin: 7px 15px;
  color: #2683a5;
  list-style-type: none;
  font-weight: bold;
}

.content .browse-materials  li a, .content .browse-materials  li a:visited {
  color: #2683a5;
  text-decoration: none;
}

.content .browse-materials  li span {
  float: right;
}

.content .browse-materials td.sep {
  background: #f3f7f8 url(../images/browse-table-column-sep.png) repeat-y 0 0;
}

.content .browse-materials td.sep div, .content .browse-materials  td.nosep div {
  width: 11px;
}

.content .browse-materials.providers li {
  margin: 7px 10px;
  list-style-type: none;
  font-size: 12px;
}

.csv-icon {
  display: block;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background: url(../images/csv-icon.png) no-repeat 0 0;
  text-indent: -9999px;
}

.rss-icon {
  display: block;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background: url(../images/rss-icon.gif) no-repeat 0 0;
  text-indent: -9999px;
}

.email-icon {
  display: block;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background: url(../images/email-icon.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

.advanced-search .search-box {
  margin-bottom: 20px;
  padding: 10px;
  background: #0c5671 url(../images/advancedsearch-searchbox-bg.png) repeat-x 0 0;
}

.advanced-search .search-box h3 {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

.advanced-search .search-box input.searchbutton {
  float: right;
}

.advanced-search .search-box input.text {
  margin-bottom: 7px;
  width: 452px;
  border: 1px solid #9d9d9d;
}

.advanced-search .search-box select {
  margin-right: 5px;
  width: 147px;
}

.box.search-by-keyword label {
  float: left;
  clear: both;
  display: block;
  margin-top: 10px;
  margin-left: 13px;
  color: #1A5565;
}

.box.search-by-keyword input.text {
  float: right;
  margin-top: 10px;
  margin-right: 13px;
}

.box.search-by-keyword .buttons, .box.filters .buttons {
  margin: 10px;
  text-align: right;
}

.advanced-search #align-form,
.advanced-search .rubric {
  margin: 5px 13px 20px 13px;
}

.advanced-search #align-form .field {
  margin-bottom: 10px;
}

.advanced-search #align-form .field label,
.advanced-search .rubric .field label {
  margin-bottom: 2px;
  font-weight: bold;
}

.advanced-search #align-form .field.loading label:after {
  content: url(../images/ajax-loader.gif);
}

.advanced-search .filters .languages {
  margin: 5px 13px 20px 13px;
}

.advanced-search .filters .languages label {
  margin-right: 10px;
  color: #1A5565;
  font-weight: bold;
  font-size: 14px;
}

.advanced-search .filters table {
  margin-right: 13px;
  margin-left: 13px;
  width: 530px;
}

.advanced-search .filter dt label {
  color: #1A5565;
  font-weight: bold;
  font-size: 14px;
}

.advanced-search .filter dt {
  margin-bottom: 2px;
}

.advanced-search .filter dd label {
  color: #333;
}

.advanced-search .filter dd.collapsible {
  margin-left: 17px;
}

.advanced-search .filter dd.not-collapsible {
  padding-left: 17px;
}

.advanced-search .filter dd.not-collapsible label {
  margin-left: 0;
}

.advanced-search .filter dd.collapsible ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advanced-search .filter dd.collapsible li {
  clear: both;
  margin: 0 0 0 16px;
  padding: 0;
}

.content-actions {
  margin-bottom: 10px;
  border: 1px solid #74AE0B;
  background-color: #CDE2A7;
  text-transform: lowercase;
}

.content-actions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-actions ul li {
  float: right;
  margin: 0;
  padding: 3px 5px;
  border-left: 1px solid #74AE0B;
}

.content-actions a {
  color: #000;
  text-decoration: none;
}

.content-actions dl dt {
  font-weight: normal;
}

.content-actions dl dt a {
  padding-right: 16px;
  background: url(../images/content-actions-arrow.gif) no-repeat 100% 50%;
}

.content-actions dl {
  margin-bottom: 0;
}

.content-actions dl.active {
  position: relative;
}

.content-actions dl dd {
  position: absolute;
  top: 2em;
  right: -1px;
  z-index: 5;
  display: none;
  margin: 0;
  padding: 0;
  height: auto;
  cursor: pointer;
}

.content-actions dl.active dd {
  z-index: 15;
  display: block;
}

.content-actions dl ul {
  position: relative;
  margin: -6px 0 0;
  padding: 0;
  border: 1px solid #74AE0B;
  background: #CDE2A7;
  list-style-type: none;
}

.content-actions dl ul li {
  margin: 0;
  padding: 0;
}

.content-actions dl ul a {
  display: block;
  padding: 4px 5px;
  white-space: nowrap;
}

.content-actions dl ul a:hover {
  background-color: #74AE0B;
}

.content-actions li dd li {
  float: none;
  border-left: none;
}

.content-actions dl ul li.icon a {
  padding-left: 22px;
  background: no-repeat 2px 2px;
}

.content-actions dl ul li.edit a {
  background-image: url(../images/edit-icon.png);
}

.content-actions dl ul li.delete a {
  background-image: url(../images/delete-icon.png);
}

.tags-index .layout-columns {
  background: none;
}

.tags-index .column-left, .tags-index .column-right {
  display: none;
}

.tags-index .column-main {
  float: none;
  width: auto;
}

.tags-index ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags-index ul.letters {
  margin-bottom: 10px;
}

.tags-index ul.letters li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.tags-index ul.letters li a, .tags-index ul.letters li span {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.tags-index ul.letters li a {
  text-decoration: none;
}

.tags-index ul.letters li a:hover, .tags-index ul.letters li span {
  border-color: #666;
}

.tags-index ul.tags {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 0;
  width: 210px;
}

.tags-index ul.tags li {
  margin: 3px 0;
  white-space: nowrap;
}

.tags-index ul.tags a {
  text-decoration: none;
}

.no-items-match {
  font-size: 14px;
}

.portlet.dotted.align-item-tags {
  padding-bottom: 10px;
}

#content.contribute h2 {
  color: #679801;
  font-weight: normal;
  font-size: 16px;
}

#content.contribute dt,
#content.contribute dd {
  margin-bottom: 1em;
}

#content.contribute dd,
#content.contribute p {
  margin-right: 1em;
  margin-left: 1em;
}

#content.contribute p.footnote {
  margin-right: 0;
  margin-left: 0;
  font-size: 12px;
}
