.materials-index .item {
  border-bottom: 1px solid #BFC7CA;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.materials-index .item.last {
  border: none;
}

.materials-index h3, .view-item h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 4px;
  color: #1F4D64;
}

.materials-index a, .view-item a {
  text-decoration: none;
}

.materials-index h3 a {
  color: #1F4D64;
}

.materials-index dl, .view-item dl {
  font-size: 12px;
  margin: 10px 0 0 0;
}

.materials-index dl a, .view-item dl a {
  font-weight: bold;
}

.materials-index dt, .view-item dt {
  float: left;
  margin-right: 4px;
  color: #616161;
  font-weight: bold;
}

.materials-index dd, .view-item dd {
  margin-left: 0;
  margin-bottom: 2px;
}

.materials-index dl.collapsed {
  display: none;
}

.materials-index .details {
  margin-left: 20px;
  margin-right: 120px;
}

.materials-index .expand-button {
  margin-top: 1px;
}

.materials-index .expand-link.expanded {
  display: none;
}

.materials-index .index-navigation {
  font-size: 13px;
  padding: 10px 0;
}

.materials-index .index-navigation.top {
  margin-bottom: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0% 100%;
}

.materials-index .index-navigation.bottom {
  margin-top: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0% 0%;
}

.materials-index .index-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.materials-index .index-navigation li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 11px 0 0;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
}

.materials-index .index-navigation li.last {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

.materials-index .index-navigation .expand-links {
  float: left;
}

.materials-index .index-navigation .pagination {
  float: right;
  color: #999;
}

.materials-index .index-navigation .pagination strong {
  color: #000;
}

.materials-index .index-navigation .pagination a {
  color: #0B7BA9;
}

.index-filters .search {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.index-filters .search input.text {
  width: 173px;
}

.index-filters .search input.button {
  color: #333;
  font-size: 11px;
  margin: 5px 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.index-filters .filter {
  clear: both;
  padding-bottom: 11px;
  margin-bottom: 10px;
}

.index-filters .filter input,
.advanced-search .filter input {
  float: left;
  display: block;
}

.index-filters .filter label,
.advanced-search .filter label {
  display: block;
}

.index-filters .filter dd,
.advanced-search .filter dd {
  clear: both;
  margin-left: 16px;
}

.index-filters .filter dt label,
.advanced-search .filter dt label {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-left: 36px;
}

.index-filters .filter dt label span {
  display: block;
  float: left;
}

.index-filters .filter dd label {
  margin-left: 20px;
  color: #0B7BA9;
  line-height: 16px;
  height: 16px;
  width: 146px;
  overflow: hidden;
}

.advanced-search .filter dd label {
  margin-left: 20px;
}

.index-filters .filter dd.collapsed,
.index-filters .filter ul.collapsed,
.advanced-search .filter dd.collapsed,
.advanced-search .filter ul.collapsed {
  display: none;
}

.index-filters dt .tooltip-button {
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  background: url(../images/tooltip-btn-13.png) no-repeat;
}

.top-keywords .all {
  display: none;
}

.top-keywords .top {
  margin-bottom: 5px;
}

.top-keywords .see-more {
  color: #666;
  font-size: 14px;
}

.item-keywords a {
  font-size: 12px;
  font-weight: bold;
}

.item-tags .button-ct {
  text-align: center;
  margin-top: 5px;
}

.view-item-navigation {
  text-align: center;
  width: 580px;
  margin: 2px auto 0 auto;
}

.view-item-navigation a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.view-item-navigation a.item-link.prev {
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
  padding-right: 14px;
  margin-right: 10px;
}

.view-item-navigation a.item-link.next {
  background: url(../images/dotted-line-vert.gif) repeat-y 0 0;
  padding-left: 14px;
  margin-left: 10px;
}

.view-item-navigation a.item-link.hidden {
  visibility: hidden;
}

/* Browse All */
.content .browse-materials {
  background: #f3f7f8;
  border: 1px #bccacd;
  border-style: none solid solid solid;
}

.content .browse-materials table {
  margin-bottom: 10px;
}

.content .browse-materials thead th {
  background: #f3f7f8 url(../images/box-header-bg.png) repeat-x 0% 0%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 7px 0 14px 0;
}

.content .browse-materials  th a, .content .browse-materials  th a:visited {
  color: white;
}

.content .browse-materials  th.sep {
  background: #f3f7f8 url(../images/box-header-sep.png) no-repeat 0% 0%;
}

.content .browse-materials  th.sep div {
  width: 11px;
}

.content .browse-materials  td {
  padding: 0;
}

.content .browse-materials  ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .browse-materials  li {
  margin: 7px 15px;
  font-size: 13px;
  color: #2683a5;
  font-weight: bold;
  list-style-type: none;
}

.content .browse-materials  li a, .content .browse-materials  li a:visited {
  text-decoration: none;
  color: #2683a5;
}

.content .browse-materials  li span {
  float: right;
}

.content .browse-materials td.sep {
  background: #f3f7f8 url(../images/browse-table-column-sep.png)
  repeat-y 0% 0%;
}

.content .browse-materials td.sep div, .content .browse-materials  td.nosep div {
  width: 11px;
}

.content .browse-materials.providers li {
  font-size: 11px;
  margin: 7px 10px;
  list-style-type: none;
}

.csv-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/csv-icon.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-top: 2px;
}

.rss-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/rss-icon.gif) no-repeat 0 0;
  text-indent: -9999px;
  margin-top: 2px;
}

.advanced-search .search-box {
  background: #0c5671 url(../images/advancedsearch-searchbox-bg.png) repeat-x 0% 0%;
  padding: 10px;
  margin-bottom: 20px;
}

.advanced-search .search-box h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
}

.advanced-search .search-box input.searchbutton {
  float: right;
}

.advanced-search .search-box input.text {
  width: 452px;
  border: 1px solid #9d9d9d;
  margin-bottom: 7px;
}

.advanced-search .search-box select {
  width: 147px;
  margin-right: 5px;
}

.box.search-by-keyword label {
  display: block;
  float: left;
  clear: both;
  color: #1A5565;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 13px;
}

.box.search-by-keyword input.text {
  float: right;
  margin-top: 10px;
  margin-right: 13px;
}

.box.search-by-keyword .buttons,
.box.filters .buttons {
  text-align: right;
  margin: 10px;
}

.advanced-search .filters .languages {
  margin: 5px 13px 20px 13px;
}

.advanced-search .filters .languages label {
  color: #1A5565;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.advanced-search .filters table {
  margin-left: 13px;
  margin-right 13px;
  width: 530px;
}

.advanced-search .filter dt label {
  color: #1A5565;
  font-size: 14px;
  font-weight: bold;
}

.advanced-search .filter dt {
  margin-bottom: 2px;
}

.advanced-search .filter dd label {
  color: #333;
  font-size: 13px;
}

.advanced-search .filter dd.collapsible {
  margin-left: 17px;
}

.advanced-search .filter dd.collapsible ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advanced-search .filter dd.collapsible li {
  margin: 0;
  padding: 0;
  clear: both;
  margin-left: 16px;
}