.materials-index .item {
  border-bottom: 1px solid #BFC7CA;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.materials-index .item.last {
  border: none;
}

.materials-index h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 4px;
  color: #1F4D64;
}

.view-item h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 4px;
}

.view-item h1 a {
  color: #1F4D64;
}

.view-item h1 a:hover {
  text-decoration: underline;
}

.view-item h1 a img {
  vertical-align: text-top;
  margin-right: 1px;
}

.materials-index h1 img {
  vertical-align: top;
}

.materials-index a,.view-item a {
  text-decoration: none;
}

.materials-index h1 a {
  color: #1F4D64;
}

.materials-index .details dl,.view-item .details dl {
  margin: 10px 0 0 0;
}

.materials-index .details dl a,.view-item .details dl a {
  font-weight: bold;
}

.materials-index .details dt,.view-item .details dt {
  float: left;
  margin-right: 4px;
  color: #616161;
  font-weight: bold;
  clear: left;
}

.materials-index .details dd,.view-item .details dd {
  margin-left: 0;
  margin-bottom: 2px;
}

.materials-index .details dd.clear,.view-item .details dd.clear {
  clear: left;
}

.materials-index .details dl.collapsed {
  display: none;
}

.materials-index .details {
  margin-left: 20px;
  margin-right: 120px;
}

.materials-index .details dt.topics,.view-item .details dt.topics {
  line-height: 16px;
}

.materials-index .details dd.topics a,.view-item .details dd.topics a {
  display: inline-block;
  padding-left: 20px;
  line-height: 16px;
}

.cou-bucket {
  color: #0B7BA9;
  font-size: 10px;
  height: 29px;
  line-height: 12px;
  padding-left: 36px;
  padding-right: 2px;
  padding-top: 4px;
  width: 50px;
  margin: 3px 0;
  cursor: pointer;
}

.cou-bucket.no-strings-attached {
  background: url(../images/no-strings-attached.png) no-repeat 0% 50%;
}

.cou-bucket.remix-and-share {
  background: url(../images/remix-and-share.png) no-repeat 0% 50%;
}

.cou-bucket.share-only {
  background: url(../images/share-only.png) no-repeat 0% 50%;
}

.cou-bucket.read-the-fine-print {
  background: url(../images/read-the-fine-print.png) no-repeat 0% 50%;
}

.materials-index .details .message {
  background-color: #FC6;
  border: 1px solid #A88743;
  color: #544322;
  font-weight: bold;
  padding: 2px 5px;
}

.materials-index .expand-button {
  margin-top: 1px;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.materials-index .details a.expand-link.expanded {
  display: none;
}

.materials-index .item .right,.view-item .right {
  float: right !important;
  margin-left: 10px;
}

.materials-index .item dl.actions {
  margin: 0;
  padding: 0;
}

.view-item .stars {
  margin-left: 5px;
}

.view-item .stars.s00 {
  display: none;
}

.view-item .cou-bucket {
  margin-left: 5px;
}

.view-item .add-this {
  margin-bottom: 10px;
}

.view-item .add-this img {
  margin-top: 2px;
}

.view-item form.rate {
  width: 97px;
}

.materials-index .item dl.actions.active {
  position: relative;
}

.materials-index .item dl.actions dd {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: none;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: -1px;
  top: 2em;
  z-index: 5;
}

.materials-index .item dl.actions.active dd {
  display: block;
  z-index: 15;
}

.materials-index .item dl.actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  background: #3D8298;
  border: 1px solid #1B536A;
  left: -4px;
  position: relative;
}

.materials-index .item dl.actions ul li {
  margin: 0;
  padding: 0;
}

.materials-index .item dl.actions ul a {
  color: #ffffff;
  padding: 2px 5px;
  white-space: nowrap;
  display: block;
}

.materials-index .item dl.actions ul a:hover {
  background-color: #1C4D65;
}

.materials-index .index-navigation {
  padding: 10px 0;
}

.materials-index .index-navigation.top {
  margin-bottom: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0% 100%;
}

.materials-index .index-navigation.bottom {
  margin-top: 15px;
  background: url(../images/dotted-line-hor.gif) repeat-x 0% 0%;
}

.materials-index .index-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.materials-index .index-navigation li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 11px 0 0;
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
}

.materials-index .index-navigation li.last {
  margin-right: 0;
  padding-right: 0;
  background: none;
}

.materials-index .index-navigation .expand-links {
  float: left;
}

.materials-index .index-navigation .pagination {
  float: right;
  color: #999;
}

.materials-index .index-navigation .pagination strong {
  color: #000;
}

.materials-index .index-navigation .pagination a {
  color: #0B7BA9;
}

.index-filters .search {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.index-filters .search input.text {
  width: 173px;
}

.index-filters .search input.button {
  color: #333;
  font-size: 11px;
  margin: 5px 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.index-filters .filter {
  clear: both;
  padding-bottom: 11px;
  margin-bottom: 10px;
}

.index-filters .filter input,.advanced-search .filter input {
  float: left;
  display: block;
}

.index-filters .filter label,.advanced-search .filter label {
  display: block;
  float: left;
}

.index-filters .filter dt,.advanced-search .filter dt {
  clear: both;
}

.index-filters .filter dd,.advanced-search .filter dd {
  clear: both;
  margin-left: 16px;
}

.index-filters .filter dt label,.advanced-search .filter dt label {
  color: #666;
  font-weight: bold;
}

.index-filters .filter dt label span {
  display: block;
  float: left;
}

.index-filters .filter dd label {
  color: #0B7BA9;
  line-height: 16px;
  height: 16px;
  width: 146px;
  overflow: hidden;
}

.index-filters .filter dd.collapsed,.index-filters .filter ul.collapsed,.advanced-search .filter dd.collapsed,.advanced-search .filter ul.collapsed
  {
  display: none;
}

.index-filters dt .tooltip-button {
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  background: url(../images/tooltip-btn-13.png) no-repeat;
}

.top-keywords .all {
  display: none;
}

.top-keywords .top {
  margin-bottom: 5px;
}

.top-keywords .see-more {
  color: #666;
  font-size: 14px;
}

.item-keywords a {
  font-weight: bold;
}

.item-tags .button-ct {
  text-align: center;
  margin-top: 5px;
}

.view-item-navigation {
  text-align: center;
  width: 580px;
  margin: 2px auto 0 auto;
}

.view-item-navigation a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.view-item-navigation a.item-link.prev {
  background: url(../images/dotted-line-vert.gif) repeat-y 100% 0;
  padding-right: 14px;
  margin-right: 10px;
}

.view-item-navigation a.item-link.next {
  background: url(../images/dotted-line-vert.gif) repeat-y 0 0;
  padding-left: 14px;
  margin-left: 10px;
}

.view-item-navigation a.item-link.hidden {
  visibility: hidden;
}

.view-item .reviews {
  margin-top: 20px;
}

.view-item .reviews a.button {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.view-item .reviews dt {
  color: #616161;
  font-weight: bold;
}

.view-item .reviews dd {
  margin: 10px 20px;
  font-style: italic;
}

.view-item .reviews .by {
  display: block;
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

/* Browse All */
.content .browse-materials {
  background: #f3f7f8;
  border: 1px #bccacd;
  border-style: none solid solid solid;
}

.content .browse-materials table {
  margin-bottom: 10px;
}

.content .browse-materials thead th {
  background: #f3f7f8 url(../images/box-header-bg.png) repeat-x 0% 0%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 7px 0 14px 0;
}

.content .browse-materials  th a,.content .browse-materials  th a:visited
  {
  color: white;
}

.content .browse-materials  th.sep {
  background: #f3f7f8 url(../images/box-header-sep.png) no-repeat 0% 0%;
}

.content .browse-materials  th.sep div {
  width: 11px;
}

.content .browse-materials  td {
  padding: 0;
}

.content .browse-materials  ul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .browse-materials  li {
  margin: 7px 15px;
  color: #2683a5;
  font-weight: bold;
  list-style-type: none;
}

.content .browse-materials  li a,.content .browse-materials  li a:visited
  {
  text-decoration: none;
  color: #2683a5;
}

.content .browse-materials  li span {
  float: right;
}

.content .browse-materials td.sep {
  background: #f3f7f8 url(../images/browse-table-column-sep.png) repeat-y
    0% 0%;
}

.content .browse-materials td.sep div,.content .browse-materials  td.nosep div
  {
  width: 11px;
}

.content .browse-materials.providers li {
  font-size: 12px;
  margin: 7px 10px;
  list-style-type: none;
}

.csv-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/csv-icon.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-top: 2px;
}

.rss-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/rss-icon.gif) no-repeat 0 0;
  text-indent: -9999px;
  margin-top: 2px;
}

.email-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/email-icon.png) no-repeat 50% 50%;
  text-indent: -9999px;
  margin-top: 2px;
}

.advanced-search .search-box {
  background: #0c5671 url(../images/advancedsearch-searchbox-bg.png)
    repeat-x 0% 0%;
  padding: 10px;
  margin-bottom: 20px;
}

.advanced-search .search-box h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
}

.advanced-search .search-box input.searchbutton {
  float: right;
}

.advanced-search .search-box input.text {
  width: 452px;
  border: 1px solid #9d9d9d;
  margin-bottom: 7px;
}

.advanced-search .search-box select {
  width: 147px;
  margin-right: 5px;
}

.box.search-by-keyword label {
  display: block;
  float: left;
  clear: both;
  color: #1A5565;
  margin-top: 10px;
  margin-left: 13px;
}

.box.search-by-keyword input.text {
  float: right;
  margin-top: 10px;
  margin-right: 13px;
}

.box.search-by-keyword .buttons,.box.filters .buttons {
  text-align: right;
  margin: 10px;
}

.advanced-search #align-form {
  margin: 5px 13px 20px 13px;
}

.advanced-search #align-form .field {
  margin-bottom: 10px;
}

.advanced-search #align-form .field label {
  font-weight: bold;
  margin-bottom: 2px;
}

.advanced-search #align-form .field.loading label:after {
  content: url(../images/ajax-loader.gif);
}

.advanced-search .filters .languages {
  margin: 5px 13px 20px 13px;
}

.advanced-search .filters .languages label {
  color: #1A5565;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.advanced-search .filters table {
  margin-left: 13px;
  margin-right: 13px;
  width: 530px;
}

.advanced-search .filter dt label {
  color: #1A5565;
  font-size: 14px;
  font-weight: bold;
}

.advanced-search .filter dt {
  margin-bottom: 2px;
}

.advanced-search .filter dd label {
  color: #333;
}

.advanced-search .filter dd.collapsible {
  margin-left: 17px;
}

.advanced-search .filter dd.not-collapsible {
  padding-left: 17px;
}

.advanced-search .filter dd.not-collapsible label {
  margin-left: 0px;
}

.advanced-search .filter dd.collapsible ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advanced-search .filter dd.collapsible li {
  margin: 0;
  padding: 0;
  clear: both;
  margin-left: 16px;
}

.content-actions {
  background-color: #CDE2A7;
  border: 1px solid #74AE0B;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.content-actions ul {
  margin: 0;
  paddding: 0;
  list-style-type: none;
}

.content-actions ul li {
  margin: 0;
  padding: 3px 5px;
  float: right;
  border-left: 1px solid #74AE0B;
}

.content-actions a {
  color: #000;
  text-decoration: none;
}

.content-actions dl dt {
  font-weight: normal;
}

.content-actions dl dt a {
  padding-right: 16px;
  background: url(../images/content-actions-arrow.gif) no-repeat 100% 50%;
}

.content-actions dl {
  margin-bottom: 0;
}

.content-actions dl.active {
  position: relative;
}

.content-actions dl dd {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: none;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: -1px;
  top: 2em;
  z-index: 5;
}

.content-actions dl.active dd {
  display: block;
  z-index: 15;
}

.content-actions dl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -6px;
  background: #CDE2A7;
  border: 1px solid #74AE0B;
  position: relative
}

.content-actions dl ul li {
  margin: 0;
  padding: 0;
}

.content-actions dl ul a {
  padding: 4px 5px;
  white-space: nowrap;
  display: block;
}

.content-actions dl ul a:hover {
  background-color: #74AE0B;
}

.content-actions li dd li {
  float: none;
  border-left: none;
}

.content-actions dl ul li.icon a {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.content-actions dl ul li.edit a {
  background-image: url(../images/edit-icon.png);
}

.content-actions dl ul li.delete a {
  background-image: url(../images/delete-icon.png);
}

.tags-index .layout-columns {
  background: none;
}

.tags-index .column-left,.tags-index .column-right {
  display: none;
}

.tags-index .column-main {
  float: none;
  width: auto;
}

.tags-index ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags-index ul.letters {
  margin-bottom: 10px;
}

.tags-index ul.letters li {
  display: inline;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.tags-index ul.letters li a,.tags-index ul.letters li span {
  padding: 2px 5px;
  border: 1px solid #ccc;
}

.tags-index ul.letters li a {
  text-decoration: none;
}

.tags-index ul.letters li a:hover,.tags-index ul.letters li span {
  border-color: #666;
}

.tags-index ul.tags {
  float: left;
  margin-right: 10px;
  margin-left: 0;
  width: 210px;
  overflow: hidden;
}

.tags-index ul.tags li {
  margin: 3px 0;
  white-space: nowrap;
}

.tags-index ul.tags a {
  text-decoration: none;
}

.no-items-match {
  font-size: 14px;
}

.portlet.dotted.align-item-tags {
  padding-bottom: 10px; 
}

.align-item-tags ul {
  list-style-type: none; 
  margin-left: 5px;
  margin-bottom: 10px;
}

.align-item-tags ul li {
  margin: 4px 0;
  font-weight: bold; 
}