fieldset.tabular table, fieldset.tabular table td {
  padding: 0 5px;
  border: none;
}

fieldset.tabular.aligned label {
  float: none;
  width: auto;
}

fieldset.tabular input[type='text'] {
  width: 25em;
}

ul li.ui-menu-item, .form-row ul li {
  list-style-type: none;
}

#id_content_creation_date, #id_rss_timestamp_0 {
  width: 7em;
}

#id_rss_timestamp_1 {
  margin-left: 1em;
  width: 3em;
}

.form-row.tags ul {
  list-style-type: none;
}

.form-row.tags ul li {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 5px;
}

.form-row.tags ul li:hover {
  background: #DDF0F6;
}

.form-row.tags a.delete {
  display: inline-block;
  margin-left: 3px;
  width: 15px;
  height: 15px;
  background: url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  text-indent: -9999px;
}
