iframe#resource {
  top: 40px;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;
}

#toolbar li.rating span {
  vertical-align: top;
}

#toolbar .stars {
  margin-top: -1px;
  display: inline-block;
}

#toolbar .view-item-navigation {
  float: left;
}

#toolbar .view-item-navigation ul {
  float: none; 
}

#toolbar .add-this-ct {
   float: right;
   margin-top: 1px; 
}
