fieldset.tabular table,fieldset.tabular table td {
  border: none;
  padding: 0 5px;
}

fieldset.tabular.aligned label {
  float: none;
  width: auto;
}

fieldset.tabular input[type='text'] {
  width: 25em;
}

ul li.ui-menu-item,.form-row ul li {
  list-style-type: none;
}

#id_content_creation_date,#id_rss_timestamp_0 {
  width: 7em;
}

#id_rss_timestamp_1 {
  width: 3em;
  margin-left: 1em;
}

.form-row.tags ul {
  list-style-type: none;
}

.form-row.tags ul li {
  padding: 3px 5px;
  display: inline-block;
  margin-right: 5px;
}

.form-row.tags ul li:hover {
  background: #DDF0F6;
}

.form-row.tags a.delete {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  text-indent: -9999px;
  margin-left: 3px;
}