.toolbar-view .oembed {
  margin: 0 auto;
  padding-top: 80px;
  width: 600px;
}

.toolbar-view .oembed {
  margin: 0 auto;
  padding-top: 80px;
  width: 600px;
}

iframe#resource {
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 100%;
  height: 100px;
}

#toolbar li.rating span {
  vertical-align: top;
}

#toolbar .stars {
  display: inline-block;
  margin-top: -1px;
}

#toolbar .view-item-navigation {
  float: left;
}

#toolbar .view-item-navigation ul {
  float: none;
}

#toolbar .add-this-ct {
  float: right;
  margin-top: 1px;
}

body.toolbar-view #comment-form textarea {
  width: 550px;
  resize: none;
}
