@import "bootstrap/variables.scss";
@import "bootstrap/mixins.scss";
@import "mixins.scss";


#portlet-newsletter {
  .form-stacked {
    padding-left: 0;
    margin-bottom: 0;
    input[type='text'] {
      @include formColumns(5);
    }
    .actions {
      background: none;
      border: none;
      padding: 0;
      margin: $baseline / 3 0 0;
    }
  }
}
