.portlet {
  margin-bottom: 10px;
}

.portlet a {
  text-decoration: none;
}

.portlet.dotted {
  margin-bottom: 15px;
  padding-bottom: 17px;
}

.portlet h1 {
  margin-bottom: 5px;
  color: #666666;
  font-weight: normal;
  font-size: 16px;
}

.portlet h1.green {
  color: #679801;
}

.portlet h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #0A546D;
  font-weight: bold;
  font-size: 13px;
}

.portlet h2 a, .portlet h2 a:visited {
  color: #0A546D;
}

.portlet.oermaterials ul {
  list-style-type: none;
}

.portlet.oermaterials li a {
  font-size: 11px;
}

.portlet.oermaterials .topics li a {
  float: left;
  clear: both;
  display: block;
  padding-left: 22px;
  line-height: 16px;
  font-weight: bold;
  font-size: 14px;
}

.portlet.twitter .tweets {
  position: relative;
  overflow: auto;
  margin-bottom: 6px;
  height: 150px;
  border: 1px solid #CCC;
  background: white;
  list-style-type: none;
}

.portlet.twitter .tweets li {
  margin: 5px 5px 10px 5px;
  line-height: 1.25;
}

.portlet.twitter .tweets .date {
  display: block;
  margin-top: 5px;
  color: #666;
  text-align: right;
}

.portlet.twitter a.follow-btn {
  float: left;
  display: block;
  padding-right: 40px;
  background: url(../images/twitter-icon.png) no-repeat 100% 0;
  line-height: 32px;
  font-size: 16px;
}

.portlet.cou ul {
  list-style-type: none;
}

.portlet.featured-searches ul {
  list-style-type: none;
}

.portlet.browse-providers, .portlet.browse-materials {
  margin-bottom: 20px;
}

.portlet.browse-providers a, .portlet.browse-materials a {
  font-weight: bold;
  font-size: 16px;
}

.portlet.featured-searches li {
  margin: 7px 0;
  font-weight: bold;
}

.portlet.featured-provider dt {
  margin: 5px 0;
  font-weight: bold;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.column-left .portlet.advanced-search {
  padding: 5px 10px;
  border: solid #B5CDD9;
  border-width: 2px 1px;
  background: #F2F8F8;
  color: #1a5565;
  font-weight: bold;
  font-size: 14px;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.column-left .portlet.advanced-search p {
  margin: 5px 0;
}

.portlet.bookmarklet {
  padding: 10px;
  height: 188px;
  background: url(../images/bookmarklet-portlet-bg.png) no-repeat 50% 50%;
  text-align: center;
}

.portlet.bookmarklet h1 {
  color: #1E4E62;
  font-weight: bold;
  font-size: 14px;
}

.portlet.bookmarklet p {
  color: #1E4E62;
  margin-bottom: 1em;
}

#sponsors-portlet p {
  margin-right: 20px;
  color: #666;
  line-height: 16px;
}

#sponsors-portlet div {
  margin: 15px 0;
  text-align: center;
}
