@import "bootstrap/variables.scss";
@import "bootstrap/mixins.scss";
@import "mixins.scss";

.portlet {
  margin-bottom: $baseline / 1.5;
}

.portlet.dotted {
  padding-bottom: $baseline / 1.5 + 1;
}

.portlet h1 {
  @include change-text-size(1.3);
  margin-bottom: $baseline / 2;
  color: #666666;
  font-weight: normal;
}

.portlet h1.green {
  color: #679801;
}

.portlet h2 {
  @include change-text-size(1);
  margin-top: $baseline / 2;
  margin-bottom: $baseline / 3;
  color: #0A546D;
}

.portlet h2:last-child {
  margin-bottom: 0;
}

.portlet.oermaterials {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
  }
  li {
    @include change-text-size(0.85);
  }
}

.portlet.oermaterials .topics li {
  @include change-text-size(1.1);
}

.portlet.oermaterials .topics li a {
  display: inline-block;
  padding-left: 22px;
  font-weight: bold;
}

.portlet.twitter .tweets {
  position: relative;
  overflow: auto;
  margin-left: 0;
  margin-bottom: $baseline / 2;
  height: 150px;
  border: 1px solid #CCC;
  list-style-type: none;
  padding: $baseline / 3;
}

.portlet.twitter .tweets li {
  margin-bottom: $baseline / 2;
  color: $grayDark;
}

.portlet.twitter .tweets .date {
  display: block;
  margin-top: $baseline / 3;
  color: $gray;
  text-align: right;
}

.portlet.twitter a.follow-btn {
  @include change-font-size(1.3);
  display: inline-block;
  padding-right: 40px;
  background: url(../images/twitter-icon.png) no-repeat 100% 0;
  line-height: 32px;
}

.portlet.cou ul {
  list-style-type: none;
  margin: 0;
}

.portlet.featured-searches ul {
  list-style-type: none;
}

.portlet.browse-providers, .portlet.browse-materials {
  margin-bottom: 20px;
}

.portlet.browse-providers a, .portlet.browse-materials a {
  font-weight: bold;
  font-size: 16px;
}

.portlet.featured-searches li {
  margin: 7px 0;
  font-weight: bold;
}

.portlet.featured-provider dt {
  margin: 5px 0;
  font-weight: bold;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.column-left .portlet.advanced-search {
  padding: 5px 10px;
  border: solid #B5CDD9;
  border-width: 2px 1px;
  background: #F2F8F8;
  color: #1a5565;
  font-weight: bold;
  font-size: 14px;
}

/* This selector is very specific to prevent multiple class bug in IE6 */
.column-left .portlet.advanced-search p {
  margin: 5px 0;
}

.portlet.bookmarklet {
  padding: 10px;
  height: 188px;
  background: url(../images/bookmarklet-portlet-bg.png) no-repeat 50% 50%;
  text-align: center;
}

.portlet.bookmarklet h1 {
  @include change-text-size(1.1);
  color: #1E4E62;
  font-weight: bold;
  margin-bottom: $baseline / 4;
}

.portlet.bookmarklet p {
  @include change-line-height(0.9);
  margin-bottom: 0;
  color: #1E4E62;
}

.portlet.bookmarklet a {
  display: inline-block;
  margin: $baseline / 2 0;
  padding: 5px 10px;
  border: 1px solid #F5A456;
  background-color: #FFCA74;
  color: #1E4E62;
  font-size: 15px;
}

#sponsors-portlet p {
  margin-right: 20px;
  color: #666;
  line-height: 16px;
}

#sponsors-portlet div {
  margin: 15px 0;
  text-align: center;
}
