.profile table {
  width: auto;
}

.profile-view .layout-columns {
  background: none;
}

.profile-view .column-left,
.profile-view .column-right {
  width: 230px;
}

.profile-view .column-main {
  width: 460px;
}

.profile-view #content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em;
}

.profile-view #content ul li {
  margin: 0 0 0.5em;
  padding: 0;
}

.profile-view section.avatar,
.profile-view section.basic,
.profile-view section.roles,
.profile-view section.levels {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
}

.profile-view section.avatar {
  width: 160px;
}

.profile-view section.basic {
  width: 280px;
}

.profile-view section.roles,
.profile-view section.levels {
  width: 220px;
}

.profile-view section h1 {
  font-size: 1em;
  font-weight: bold;
}

.profile-view section.avatar .wrap {
  width: 140px;
  height: 140px;
  position: relative;
  margin-bottom: 5px;
}

.profile-view section.avatar .wrap.loading {
  background: url(../images/ajax-loader-big.gif) no-repeat 50% 50%;
}

.profile-view section.avatar .wrap.loading img {
  display: none;
}

.profile-view section.avatar .wrap span {
  display: block;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  background-color: #eee;
  border: solid #ccc;
  border-width: 0 0 1px 1px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
}

.profile-view #upload-avatar-btn {
  display: inline-block;
  height: 16px;
}

.profile-view .name {
  font-size: 2em;
  color: #0a546d;
}

.profile-view a.edit {
  display: inline-block;
  width: 160px;
  padding: 5px 0;
  background: #679801;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.profile-view .portlet.links {
  background-color: #CED9DD;
  padding: 1em;
  color: #0A546D;
}

.profile-view .portlet.links h1 {
  color: #0A546D;
  text-align: center;
  margin-bottom: 1em;
}

.profile-view .portlet.links a {
  color: #0A546D;
  text-decoration: underline;
}

.profile-view .portlet.links p {
  margin-bottom: 1em;
}

.profile-view .portlet.links p.website span {
  display: block;
  margin-bottom: 3px;
}

.profile-view .portlet.links p.website a {
  margin-left: 1em;
  text-decoration: underline;
}

.profile-view .portlet.links ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0;
}

.profile-view .portlet.links ul li {
  padding: 0;
  margin: 0.5em 0;
}

.profile-view .portlet.links ul li a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
  background: no-repeat 0 50%;
  text-decoration: none;
}

.profile-view .portlet.links ul li a.facebook {
  background-image: url(../images/icon-facebook.png);
}

.profile-view .portlet.links ul li a.twitter {
  background-image: url(../images/icon-twitter.png);
}

.profile-view .portlet.links ul li a.skype {
  background-image: url(../images/icon-skype.png);
}

.profile thead td,
.profile thead th {
  padding: 0;
}

.profile form.user-info {
  width: 350px;
}

.profile thead th {
   background: none;
   font-size: 20px;
   color: #0A546D;
   font-weight: normal;
   padding-bottom: 10px; 
}

.profile th span {
  display: inline-block;
}

.profile th.loading span {
   padding-right: 20px;
   background: url(../images/ajax-loader.gif) no-repeat 100% 50%;
}

.profile-edit table {
   margin-left: 100px;
}

.profile th.user-info,.profile td.user-info {
  padding-left: 35px;
  padding-right: 35px;
  border-right: 1px solid #ccc;
}

.profile form.user-info input.text {
  width: 338px;
}

.profile form.change-password {
  width: 250px;
}

.profile th.change-password,.profile td.change-password {
  padding-left: 35px;
}

.profile form.change-password input.text {
  width: 238px;
}

.profile form .field {
  margin-bottom: 15px;
}

.profile form.formatted label {
  margin: 0;
}

.profile form.formatted label.error {
  font-size: 12px; 
}

.profile div.label {
  margin-bottom: 5px;
}

.profile form.formatted .required label {
  background: none;
}

.profile form.formatted input.text {
  font-size: 14px;
  height: 18px;
  padding: 2px 4px;
  margin: 0;
}

.profile form.formatted textarea.text {
  padding: 2px 4px;
  margin: 0;
  resize: none;
}

.profile form.about {
  width: 800px;
}

.profile form.about textarea {
  width: 400px;
  height: 198px;
}

.profile form.about input.text {
  width: 350px;
}

.profile form.formatted .autocomplete-list-widget label {
  font-weight: normal;
}
