.stars {
  height: 18px;
  width: 86px;
  background: url(../images/stars.png) no-repeat;
  margin-bottom: 5px;
}

.stars.hover {
  background-image: url(../images/stars-hover.png);
}

.stars.s00 {
  background-position: 0 0;
}

.stars.s05 {
  background-position: 0 -68px;
}

.stars.s10 {
  background-position: 0 -136px;
}

.stars.s15 {
  background-position: 0 -204px;
}

.stars.s20 {
  background-position: 0 -272px;
}

.stars.s25 {
  background-position: 0 -340px;
}

.stars.s30 {
  background-position: 0 -408px;
}

.stars.s35 {
  background-position: 0 -476px;
}

.stars.s40 {
  background-position: 0 -544px;
}

.stars.s45 {
  background-position: 0 -612px;
}

.stars.s50 {
  background-position: 0 -680px;
}

form.rate {
  display: none;
  text-align: right;
}

form.rate div {
  margin: 3px;
}
