@import "bootstrap/variables.scss";
@import "bootstrap/mixins.scss";
@import "mixins.scss";

.resource-comments {
  margin-top: $baseline;
  > h1 {
    @include change-font-size(1.4);
  }
}

.resource-comments article {
  margin-bottom: $baseline;
  padding: $baseline / 2;
}

.resource-comments article.author {
  border: 1px solid #ccc;
}

.resource-comments article h1 {
  margin-bottom: $baseline / 4;
  color: #333;
  font-weight: normal;
  @include change-text-size(1.1);
}

.resource-comments {
  p {
    font-style: italic;
  }
  h1+p {
      margin-left: 1em;
  }
}


.resource-comments footer {
  position: relative;
  padding-left: 3em;
  height: 16px;
  border: none;
  padding-top: 0;
  margin-top: 0;
}

.resource-comments footer .by {
  position: absolute;
  left: 400px;
}

.resource-comments footer a {
  margin-right: 0.5em;
}

.resource-comments footer a span {
  border-bottom: 1px dashed;
}

.resource-comments footer .edit,
.resource-comments footer .delete {
  display: inline-block;
  margin-right: 1em;
  padding-left: 20px;
  background: no-repeat 0 50%;
}

.resource-comments footer .edit {
  background-image: url(../images/icon-comment-edit.png);
}

.resource-comments footer .delete {
  background-image: url(../images/icon-comment-delete.png);
}
