body.review form.review {
  float: left;
  width: 458px;
}

body.review form.review textarea.text {
  width: 450px;
  height: 300px;
  resize: none;
}

body.review .guidelines {
  margin-left: 480px;
}

body.review .guidelines p.collapsed {
  display: none;
}

body.review .guidelines > h1 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

body.review .guidelines > section > h1 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

body.review .guidelines a.expand-all,
body.review .guidelines a.collapse-all {
  margin-left: 5px;
}

body.review .guidelines a.expand-all.expanded,
body.review .guidelines a.collapse-all.collapsed {
  display: none;
}

body.review .guidelines > section > section > h1 {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 16px;
  font-size: 1em;
}

body.review .guidelines > section > section p {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 22px;
  font-style: italic;
}

body.review .guidelines section h1 a.expand-button {
  margin-right: 5px;
}