html, body {
  height: 100%;
}

header.global {
  position: relative;
  height: 50px;
  background: #94adb5 url(../images/rubrics-manage/header.png) no-repeat 2em 50%;
}

header.global .logo {
  position: absolute;
  top: 0;
  left: 2em;
  display: block;
  width: 400px;
  height: 50px;
}

header.global .logout {
  position: absolute;
  top: 1em;
  right: 2em;
  color: #fff;
  font-size: 14px;
}

.wrapper {
  margin: 0 auto -125px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

footer.global, .push {
  height: 125px;
}

footer.global {
  background: #96A9B4 url(../images/rubrics-manage/footer.png) no-repeat 100% 50%;
}

.content {
  margin: 1em 2em 2em 2em;
}

.content.no-breadcrumbs {
  margin-top: 2em;
}

.content h1 {
  font-size: 150%;
}

.content h2 {
  font-size: 130%;
}

#login-form {
  margin: 2em auto;
}

.datagrid-pager.pagination table td {
  vertical-align: middle;
}

#toolbar {
  position: relative;
  height: auto;
}

#toolbar .right {
  position: absolute;
  top: 4px;
  right: 5px;
}

#toolbar {
  padding: 4px;
}

#toolbar input[type='search'] {
  margin-left: 3em;
}

#toolbar .datebox input.combo-text {
  text-align: center;
}

#summary {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 10px;
  border: 1px solid #ccc;
}

#summary td {
  padding: 1px 5px;
  vertical-align: middle;
  line-height: 20px;
  font-size: 15px;
}

#summary td.sep {
  padding-right: 1em;
}

#summary td.number {
  line-height: 40px;
  font-weight: bold;
  font-size: 30px;
}

#summary td:last-child {
  padding-right: 15px;
}

#summary td.small {
  padding-left: 5px;
  line-height: 20px;
  font-size: 13px;
}

.datagrid {
  clear: both;
}

.datagrid td input[type='text'] {
  margin: 0;
  text-align: center;
}

.rubrics-menu h1 {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  vertical-align: bottom;
  line-height: 1.1em;
  font-weight: normal;
  font-size: 13px;
}

.rubrics-menu ul {
  display: inline-block;
  margin: 10px 0 0;
  list-style-type: none;
  vertical-align: middle;
}

.rubrics-menu li {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 2px 5px;
  border: 1px solid #0B7BA9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #074c69;
  vertical-align: middle;
}

.rubrics-menu li.selected {
  background-color: #CED9DD;
}

.rubrics-menu li a {
  color: #0B7BA9;
  text-decoration: none;
}

.rubrics-menu li a:hover {
  text-decoration: underline;
}

.breadcrumbs {
  margin-top: 1em;
  margin-left: 2em;
}

.breadcrumbs a {
  text-decoration: underline;
}

.manage-rubrics .panel {
  overflow: inherit;
}

.manage-rubrics .resource-comments {
  margin-top: 1em;
}

.datagrid .has-comments {
  display: inline-block;
  width: 24px;
  height: 16px;
  background: url(../images/evaluation/icon-comment.png) no-repeat 50% 50%;
  vertical-align: middle;
}

.datagrid .oer-url {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/rubrics-manage/icon-external-link.png) no-repeat 50% 0;
  vertical-align: middle;
}
