@import "mixins.scss";

form.send-this-popup {
  position: absolute;
  z-index: 99;
  display: none;
  padding: 7px;
  width: 258px;
  border-color: #C0D8E4 #A3BFCD #96B0BD #A2BFCD;
  border-style: solid;
  border-width: 1px;
  background: white;
}

form.send-this-popup h4 {
  @include change-text-size(1.3);
  margin-bottom: $baseline / 2;
  color: #666666;
  font-weight: normal;
}

form.send-this-popup .text {
  width: 250px;
}

form.send-this-popup textarea {
  height: 45px;
}

form.send-this-popup textarea,
form.send-this textarea {
  resize: none;
}
