form.send-this-popup {
  position: absolute;
  z-index: 99;
  display: none;
  padding: 7px;
  width: 258px;
  border-color: #C0D8E4 #A3BFCD #96B0BD #A2BFCD;
  border-style: solid;
  border-width: 1px;
  background: white;
}

form.send-this-popup h4 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 3px;
  color: #666;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

form.send-this-popup .field {
  margin-bottom: 0;
}

form.send-this-popup .text {
  width: 250px;
}

form.send-this-popup textarea {
  height: 45px;
}

form.send-this-popup textarea,
form.send-this textarea {
  resize: none;
}

form.send-this {
  margin: 0 auto;
  width: 550px;
}

form.send-this .text {
  width: 542px;
}

form.send-this a {
  text-decoration: none;
}
