.slider {
  visibility: hidden;
  width: 540px;
  height: 190px;
  list-style-type: none;
}

.slider .wrapper {
  background: no-repeat 50% 50%;
}

.slider .learning-is-sharing .column1 {
  float: left;
  margin-top: 137px;
  padding-top: 10px;
  width: 480px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.slider .learning-is-sharing .column2 {
  float: right;
  margin-top: 137px;
  padding-top: 12px;
  padding-left: 20px;
  width: 460px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.slider .learning-is-sharing .column2 em {
  color: #ffcc66;
  font-style: normal;
  font-size: 17px;
}
