.stats ul.periods {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stats ul.periods a {
  text-decoration: none;
}

.stats ul.periods li {
  display: inline;
  margin: 0;
  padding: 0 0.5em;
  border-right: 1px solid #ccc;
  list-style-type: none;
}

.stats ul.periods li.last {
  border: none;
}

.stats table {
  margin-top: 1em;
}

.stats table td {
  padding: 0.5em 0.5em;
}

.stats table .even td {
  background-color: #eee;
}

.stats table td.graph {
  padding: 0 0 0 5px;
}

.stats table .even td.graph {
  background-color: inherit;
}

.stats table.activities {
  width: 500px;
}

.stats table.roles {
  width: 500px;
}
