.tag-cloud a {
  margin: 1px;
  color: #0b7ba9;
  text-decoration: none;
  font-weight: normal;
}

.tag-cloud a:visited {
  color: #0b7ba9;
}

.tag-cloud a:hover {
  text-decoration: underline;
  opacity: 1.0;
}

a.tag0 {
  font-size: 1em;
  opacity: .80;
}

a.tag1 {
  font-size: 1.2em;
  opacity: .90;
}

a.tag2 {
  font-size: 1.4em;
}

a.tag3 {
  font-size: 1.6em;
}

a.tag4 {
  font-size: 1.8em;
}

a.tag5 {
  font-size: 2em;
}

a.tag6 {
  font-size: 2.2em;
}

a.tag7 {
  font-size: 2.4em;
}

a.tag8 {
  font-size: 2.6em;
}

a.tag9 {
  font-size: 2.8em;
}

#add-tags-form label {
  display: block;
}

#id_tags {
  width: 173px;
}

#id_tags.loading {
  background: url(../images/ajax-loader.gif) no-repeat 100% 0;
}

.user-tags {
  display: none;
  margin-bottom: 5px;
  list-style-type: none;
}

body.authenticated .user-tags {
  display: block;
}

.user-tags li.tag,
.portlet.item-tags .user-tags li.tag {
  position: relative;
  display: inline-block;
  margin: 3px 6px 3px 0;
  padding: 0;
  border: 2px solid #C1DEE8;
  background-color: #fff;
}

.user-tags li.tag a,
.portlet.item-tags .user-tags li.tag a {
  display: inline-block;
  margin-right: 20px;
  padding: 1px 5px 1px 3px;
  background-color: #C1DEE8;
  color: #017CA5;
}

.user-tags li.tag a.delete,
.portlet.item-tags .user-tags li.tag a.delete {
  position: absolute;
  top: 0;
  right: 2px;
  float: right;
  display: block;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: transparent url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  vertical-align: middle;
  text-indent: -9999px;
}

#add-tags-form {
  display: none;
}

body.authenticated #add-tags-form {
  display: block;
}

.portlet.item-tags ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

.portlet.item-tags li {
  display: inline-block;
  margin: 3px 3px 3px 0;
  padding: 3px 5px;
}

.portlet.item-tags li.keyword,
.portlet.item-tags li.topic {
  background-color: #CED9DD;
}

.portlet.item-tags li.keyword a,
.portlet.item-tags li.topic a {
  color: #1E4E62;
}

.portlet.item-tags li.tag {
  background-color: #C1DEE8;
}

.portlet.item-tags li.tag a {
  color: #017CA5;
}

body.authenticated .portlet.item-tags .login {
  display: none;
}

#add-tags-dialog .user-tags li {
  float: left;
  clear: none;
  line-height: 16px;
}

#add-tags-dialog .user-tags li div {
  margin-right: 17px;
}

#add-tags-dialog a {
  color: #0B7BA9;
  text-decoration: none;
}

#add-tags-dialog #add-tags-form {
  margin-bottom: 5px;
  padding: 3px 5px;
}

#add-tags-dialog p {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
}
