.tag-cloud a {
  text-decoration: none;
  margin: 1px;
  color: #0b7ba9;
  font-weight: normal;
}

.tag-cloud a:visited {
  color: #0b7ba9;
}

.tag-cloud a:hover {
  text-decoration: underline;
  opacity: 1.0;
}

a.tag0 {
  font-size: 1em;
  opacity: .80;
}

a.tag1 {
  font-size: 1.2em;
  opacity: .90;
}

a.tag2 {
  font-size: 1.4em;
}

a.tag3 {
  font-size: 1.6em;
}

a.tag4 {
  font-size: 1.8em;
}

a.tag5 {
  font-size: 2em;
}

a.tag6 {
  font-size: 2.2em;
}

a.tag7 {
  font-size: 2.4em;
}

a.tag8 {
  font-size: 2.6em;
}

a.tag9 {
  font-size: 2.8em;
}

#add-tags-form label {
  display: block;
}

#id_tags {
  width: 173px;
}

#id_tags.loading {
  background-image: url(../images/ajax-loader.gif);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.user-tags {
  list-style-type: none;
  margin-bottom: 5px;
}

.user-tags li {
  padding: 3px 5px;
  clear: both;
}

.user-tags li:hover {
  background: #f6f6f6;
}

.user-tags li div {
  margin-right: 25px;
}

.user-tags a.delete {
  float: right;
  width: 15px;
  height: 15px;
  display: block;
  background: url(../images/icon-delete-gray.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

#add-tags-dialog .user-tags li {
  float: left;
  clear: none;
  line-height: 16px;
}

#add-tags-dialog .user-tags li div {
  margin-right: 17px;
}

#add-tags-dialog a {
  color: #0B7BA9;
  text-decoration: none;
}

#add-tags-dialog #add-tags-form {
  padding: 3px 5px;
  margin-bottom: 5px;
}

#add-tags-dialog p {
   font-size: 16px;
   text-align: center;
   margin-top: 25px;
}