<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ request.LANGUAGE_CODE }}" lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% if page_title %}{{ page_title }}{% if page_subtitle %}: {{ page_subtitle }}{% endif %} | {% endif %}OER Commons{% endblock %}</title>
    {% block meta_description %}{% endblock %}
    <link rel="icon" href="{{STATIC_URL}}images/favicon.ico"/>
    {% include "include/css.html" %}
    {% block extra-css %}{% endblock %}
    {% include "include/js.html" %}
    {% block extra-js %}{% endblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}{% if microsite %} {{ microsite}}{% endif %}">
    {% include "include/header.html" %}

    {% block promo %}
      <div class="fixed-width">
        <img src="{{ STATIC_URL }}images/promo-bnr.gif" alt="Learning is Sharing" />
      </div>
    {% endblock %}
    
    {% if breadcrumbs %}
      <div class="breadcrumbs fixed-width">
        <a href="{% url frontpage %}">Home</a> &rarr;
        {% for crumb in breadcrumbs %}
          {% if forloop.last %}
            {{ crumb.title }}
          {% else %}
            <a href="{{ crumb.url }}">{{ crumb.title }}</a> &rarr;
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if page_title %}
      <h1 class="page-title fixed-width">{{ page_title }}{% if page_subtitle %}: <span>{{ page_subtitle }}</span>{% endif %}</h1>
    {% endif %}

    {% block above-content %}
      <div class="action-panel empty fixed-width"></div>
    {% endblock %}
    
    <div class="columns fixed-width">

      <div class="column-left">
        {% block column-left %}
          &nbsp;
        {% endblock %}
      </div>

      <div class="column-main">
        {% include "include/status-messages.html" %}
  
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <div class="column-right">
        {% block column-right %}
          &nbsp;
        {% endblock %}
      </div>

      <div class="clear"></div>
    </div>
    
    {% include "include/footer.html" %}
  </body>
</html>
