{% extends "base.html" %}

{% block contentclass %}contribute{% endblock %}

{% block above-content %}{% endblock %}

{% block content %}
  <p>OER Commons is a network of teaching and learning materials built by
     linking to institutional collections and individual authors’ curricula
     and other learning materials.</p>
  <p class="align-center">
    <a href="{% url materials:courses:add %}" class="require-login button blue rc5">Add a Resource</a>
  </p>
  <h2>Criteria for Submission</h2>
  <dl>
    <dt>Learning-focused</dt>
    <dd>Most of our resources are course-related materials, which includes
      materials that have an explicit learning focus.</dd>
    <dt>Materials are hosted elsewhere</dt>
    <dd>You do not need to upload your materials. We link to them where
      they are currently hosted. Examples: educational materials on a website
      for a scientific organization, activities on a teacher’s wiki</dd>
    <dt>Right to Use</dt>
    <dd>For OER Commons to include your educational resources, they need to
      have usage rights, or “conditions of use” that allow the material to be
      used and shared without violating copyright law. This is possible through
      Creative Commons licenses (or other open licenses such as GFDL) that
      specify how others may use, share, and change resources. We encourage
      authors to make their resources as “open” as possible.</dd>
    <dd>If you are the author of the resource, you can choose an open license
      on the submission form. If you are not the author, you can submit
      resources that are already openly licensed.</dd>
  </dl>
  <p class="align-right">
    <a href="http://creativecommons.org/about/licenses/meet-the-licenses">Learn more about Creative Commons Licenses</a>
  </p>
  <h2>Submitting a Resource</h2>
  <p>We welcome you to submit resources! You will be able to enter details or
    “metadata”, such as the URL and keywords, that enable others to find your content more easily.</p>
  <p>After submitting the resource information, our staff will review the
    submission and either approve it or contact you for more information.  </p>
  <p class="align-center">
    <a href="{% url materials:courses:add %}" class="require-login button blue rc5">Add a Resource</a>
  </p>
  <p class="footnote">
    Are you affiliated with an institution or organization that would like to
    contribute a collection of resources? We have a metadata schema we can
    share, and we can harvest some RSS and OAI feeds. Please contact
    <a href="mailto:info@oercommons.org">info@oercommons.org</a>,
    we would be happy to talk with you.
  </p>
{% endblock %}

{% block column-right %}
  {% include "include/portlets/bookmarklet.html" %}
{% endblock %}
