{% extends "base.html" %}
{% load utils %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/contribute.css">
{% endblock %}

{% block bodyclass %}no-columns{% endblock %}

{% block contentclass %}contribute{% endblock %}

{% block above-content %}{% endblock %}

{% block content %}
  <div class="wrap">
    <section class="sheet">
      <header>
        <hgroup>
          <h1>Create OER</h1>
        </hgroup>
        <hr>
      </header>
      <p>Create an educational resource in Open Author and instantly share your
        resource with the world.</p>
      <p>
        <a href="{% url authoring:new %}" class="require-login button-green rc3">Launch Open Author</a>
      </p>
      <h3>What is Open Author?</h3>
      <div class="sample rc5"></div>
      <p class="help">
        Open Author lets you combine text, pictures, sound, files and video.
        Saved as openly licensed educational resources, you can share them with
        friends, colleagues and educators from around the world. You can also
        print and download your resource as a PDF, as well as download all
        included media.
      </p>
    </section>
    <section class="sheet">
      <header>
        <hgroup>
          <h1>Add OER from the Web</h1>
        </hgroup>
        <hr>
      </header>
      <p>Know of a great resource that belongs in the OER Commons collection?
        Submit it here!</p>
      <p>
        <a href="{% url materials:courses:add %}" class="require-login button-green rc3">Submit a Resource</a>
      </p>
      <h3>Or, Use the Bookmark Button</h3>
      <div class="bookmarklet rc5">
        <p>Submit resource from any website.</p>
        <p>
          <a class="button-orange rc5 rc-shape" href="javascript:(function() {OER_HOST = '{% protocol %}{% domain %}';try {var x = document.createElement('SCRIPT');x.type = 'text/javascript';x.src = OER_HOST + '/media/javascripts/submit.js?' + (new Date().getTime() / 100000);document.getElementsByTagName('head')[0].appendChild(x);} catch (e) {}})();">Submit OER</a>
        </p>
        <p>Drag this button to your favorites bar. When you find a resource on
          the web, click the new link to submit.</p>
      </div>
      <p class="help">
        Open educational resources (OER) are teaching and learning materials
        freely available online for everyone to use. Examples of content
        appropriate for OER Commons include: full courses, course modules,
        syllabi, lectures, homework assignments, quizzes, lab and classroom
        activities, presentations, and more.
      </p>
    </section>
  </div>
  <div class="share-buttons">
    <span>Share</span>
    <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_diigo"></a>
      <a class="addthis_button_email"></a>
      <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=oercommons"></script>
  </div>
{% endblock %}

{% block extra-js %}
  <script>
    $(function() {
      $("#content div.wrap").equalHeights();
    });
  </script>
{% endblock %}
