{% extends "base.html" %}
{% load flatblock_tags %}

{% block extra-js %}
<script type="text/javascript"> 
  $(function() {
    oer.accordion.init($("div.portlet.oermaterials div.accordion"));
    $("div.portlet.cou li a").cluetip({local:true, arrows: true, width: 300});
  });
</script> 
{% endblock %}

{% block promo %}
  <div id="frontpage-promo" class="fixed-width">
    <div class="column1">
      Learning is Sharing
    </div>
    <div class="column2">
      Find <em>Free-to-Use</em> Teaching and Learning Content from around<br>
      the World. Organize K-12 Lessons, College Courses, and more.
    </div>
  </div>
{% endblock %}

{% block above-content %}{% endblock %}

{% block column-left %}
<div class="portlet oermaterials"> 
  <h4 class="dotted">OER Materials</h4> 
  <div class="accordion clearfix"> 
    <h5 class="accordion-header"><a href="#">Subject Areas</a></h5> 
    <div class="accordion-body"> 
      <ul> 
        {% for general_subject in general_subjects %}
        <li> 
          <a href="{% url materials:general_subject_index general_subjects=general_subject.slug %}"> 
             {{ general_subject.name }} ({{ general_subject.count }})
          </a> 
        </li> 
        {% endfor %}
      </ul> 
    </div> 
    <h5 class="accordion-header"><a href="#">Grade Levels</a></h5> 
    <div class="accordion-body"> 
      <ul> 
        {% for grade_level in grade_levels %}
        <li> 
          <a href="{% url materials:grade_level_index grade_levels=grade_level.slug %}"> 
             {{ grade_level.name }} ({{ grade_level.count }})
          </a> 
        </li> 
        {% endfor %}
      </ul> 
    </div> 
  </div>    
  <h5>Topics</h5> 
  <div class="topics clearfix"> 
    <ul> 
      {% for microsite in microsites %}
      <li> 
        <a href="{{ microsite.get_absolute_url }}" class="{{ microsite.slug }}"> 
           {{ microsite.name }}
        </a> 
      </li> 
      {% endfor %}
    </ul> 
  </div> 
  <h5><a href="{% url materials:browse_providers %}">Browse by Provider</a></h5>
</div>
{% endblock %}

{% block content %}
  {% flatblock "recommended-resources" using "flatblocks/frontpage-block.html" %}
  <table class="frontpage-blocks"><tbody><tr>
    <td class="first" width="50%">
      {% flatblock "featured-k-12-resources" using "flatblocks/frontpage-block.html" %}
    </td>
    <td width="50%">
      {% flatblock "featured-higher-ed-resources" using "flatblocks/frontpage-block.html" %}
    </td>
  </tr></tbody></table>
  <div class="frontpage-block">
    <h4 class="dotted">Tags</h4>
    <div class="tag-cloud">
      {% for keyword in tagcloud %}
        <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block column-right %}
<div class="portlet twitter dotted clearfix"> 
  <h4 class="green">OER Commons Tweets</h4> 
  {% if tweets %}
  <ul class="tweets"> 
    {% for tweet in tweets %}
    <li> 
      {{ tweet.text|safe }} 
      <span class="date">{{ tweet.date|date:"DATE_FORMAT" }}</span> 
    </li> 
    {% endfor %}
  </ul> 
  {% endif %}
  <a href="http://twitter.com/OERCommons" class="follow-btn"> 
    Follow Our Tweets
  </a> 
</div> 

{% include "include/portlets/addthis.html" %}

{% include "include/portlets/cou.html" %}

{% endblock %}
