{% extends "base.html" %}
{% load flatblock_tags %}
{% load newsletter_tags %}

{% block meta_description %}
  <meta name="description" content="{% flatblock "site-description" %}">
{% endblock %}

{% block extra-js %}
<script type="text/javascript"> 
  $(function() {
    oer.accordion.init($("section.portlet.oermaterials div.accordion"));
    $("section.portlet.cou li a").qtip(DEFAULT_TOOLTIP_OPTIONS);
    $(".slider").anythingSlider({
      width: 540,
      height: 190,
      buildNavigation: false,
      autoPlay: false,
      startStopped: true
    });
    oer.newsletter.init();
  });
</script>
{% endblock %}

{% block promo %}{% endblock %}

{% block above-content %}
<div class="fixed-width">
  <div class="frontpage-highlight left align-center">
    Find Free-to-Use Teaching and Learning Content from Around the World
    {% spaceless %}
    <ul class="buttons">
      <li>
        <fb:like href="" send="false" layout="button_count" show_faces="false" font=""></fb:like>
        <div id="fb-root"></div>
      </li>
      <li class="google">
        <g:plusone size="medium"></g:plusone>
      </li>
    </ul>
    {% endspaceless %}
  </div>
  <div class="frontpage-highlight right">
    <ul>
      <li>Free to Use</li>
      <li>Openly Licensed</li>
      <li><em>{{ resource_number }}</em> Resources</li>
      <li>From K-12 to College Courses</li>
    </ul>
    <div class="align-center">
      <a class="button-blue-big rc5" href="{% url materials:browse %}">Browse Now</a>
    </div>
  </div>
{% include "include/slider.html" %}
</div>
{% endblock %}

{% block column-left %}
<section class="portlet oermaterials dotted">
  <h1 class="dotted">OER Materials</h1> 
  <div class="accordion clearfix"> 
    <h2 class="accordion-header"><a href="#">Subject Areas</a></h2> 
    <div class="accordion-body"> 
      <ul> 
        {% for general_subject in general_subjects %}
        <li> 
          <a href="{% url materials:general_subject_index general_subjects=general_subject.slug %}"> 
             {{ general_subject.name }} ({{ general_subject.count }})
          </a> 
        </li> 
        {% endfor %}
      </ul> 
    </div> 
    <h2 class="accordion-header"><a href="#">Grade Levels</a></h2> 
    <div class="accordion-body"> 
      <ul> 
        {% for grade_level in grade_levels %}
        <li> 
          <a href="{% url materials:grade_level_index grade_levels=grade_level.slug %}"> 
             {{ grade_level.name }} ({{ grade_level.count }})
          </a> 
        </li> 
        {% endfor %}
      </ul> 
    </div> 
  </div>    
  <h2>Topics</h2> 
  <div class="topics clearfix"> 
    <ul> 
      {% for microsite in microsites %}
      <li> 
        <a href="{{ microsite.get_absolute_url }}" class="{{ microsite.slug }}"> 
           {{ microsite.name }}
        </a> 
      </li> 
      {% endfor %}
    </ul> 
  </div> 
  <h2><a href="{% url materials:browse_providers %}">Browse by Provider</a></h2>
</section>

<section class="portlet" id="sponsors-portlet">
  <h1 class="green">Sponsorship</h1>
  <p>OER Commons is a project of <a href="http://www.iskme.org">ISKME</a></p>
  <div>
    <a href="http://www.iskme.org">
      <img alt="ISKME" src="{{STATIC_URL }}images/iskme.png">
    </a>
  </div>
</section>
{% endblock %}

{% block content %}

  {% if blog_posts %}
  <div class="frontpage-block blog">
    <h4 class="dotted"><a href="{% url blog %}">Blog</a></h4>
    {% for post in blog_posts %}
      <div>
        <h5><a href="{{ post.url }}">{{ post.title|safe }}</a></h5>
        {{ post.snippet|safe|truncatewords:70 }}
      </div>
    {% endfor %}
  </div>
  {% endif %}

  {% flatblock "recommended-resources" using "flatblocks/frontpage-block.html" %}
  {% include "include/featured-resources.html" %}
  <div class="frontpage-block tags">
    <h4 class="dotted">Tags</h4>
    <div class="tag-cloud dotted">
      {% for keyword in tagcloud %}
        <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
      {% endfor %}
    </div>
    <a class="view-all-tags" href="{% url materials:tags %}">View All Tags</a>
  </div>
{% endblock %}

{% block column-right %}

{% include "include/portlets/bookmarklet.html" %}

<section class="portlet twitter dotted clearfix"> 
  <h1 class="green">OER Commons Tweets</h1> 
  {% if tweets %}
  <ul class="tweets"> 
    {% for tweet in tweets %}
    <li> 
      {{ tweet.text|safe }} 
      <span class="date">{{ tweet.date|date:"DATE_FORMAT" }}</span> 
    </li> 
    {% endfor %}
  </ul> 
  {% endif %}
  <a href="http://twitter.com/OERCommons" class="follow-btn"> 
    Follow Our Tweets
  </a> 
</section> 

{% include "include/portlets/addthis.html" %}

{% newsletter_portlet %}

{% include "include/portlets/cou.html" %}

{% endblock %}

{% block extra-footer %}
  <script src="http://connect.facebook.net/en_US/all.js#appId=101857373226557&amp;xfbml=1"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
