{% load curriculum_tags %}
<section class="portlet align-item-tags dotted">
  <h1>Common Core Standards</h1>
  <ul class="align-tags">
    {% spaceless %}
      {% for tag in tags %}
        {% if tag.id %}
          <li class="rc3 user-tag" data-id="{{ tag.id }}">
            <a href="{{ tag.url }}">{{ tag.code }}</a>
            <a href="#" class="delete">x</a>
          </li>
        {% else %}
          <li class="rc3">
            <a href="{{ tag.url }}">{{ tag.code }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endspaceless %}
  </ul>
  <div class="login">
    <a href="{% url users:login %}" class="dashed">Log in</a> to align this item.
  </div>
  <a class="dashed" id="show-align-form" href="#">Align this item</a>
</section>
<div id="align-dialog">
  {% align_form item %}
</div>
