*.bat
*.orig
*.pyc
*.sh
*.sql
.DS_Store
.project
.pydevproject
.pydevproject.bak
.settings
.idea
.svn/
commit.txt
.installed.cfg
bin/
develop-eggs/
parts/
eggs/
downloads/
virtualenv/
project.db
celerybeat-schedule
.fabricrc
project/media/CACHE/
project/media/admin/
project/media/debug_toolbar/
project/media/django_extensions/
project/media/upload/
project/media/reports/
project/media/harvester/
project/media/sentry
project/production.py
project/development.py
project/staging.py
project/test_settings.py

/project/manage.py
apps/cssreload
project/media/cssreload/
project/media/SCSS_CACHE/
project/media/authoring/
project/media/cache/
.mr.developer.cfg
src/
django.log
