<!DOCTYPE html>
{% load compress %}
{% load scss %}
{% load flatblock_tags %}
<html lang="{{ request.LANGUAGE_CODE }}" class="no-js">
  <head>
    <meta charset="utf-8"/>
    {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/bootstrap/bootstrap.scss" %}" media="all">

      <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.css" media="all">

      <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/base.scss" %}" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/form.scss" %}" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/align-form.scss" %}" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/evaluation-tool.scss" %}" media="all">
    {% endcompress %}

    <!--[if lt IE 8]>
      {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie.css" media="all" />
      {% endcompress %}
    <![endif]-->

    {% include "include/modernizr.html" %}
  </head>
  <body class="evaluation-tool{% if request.user.is_authenticated %} authenticated{% endif %}">

    <header>
      <h1></h1>
    </header>

    {% block content %}
    {% endblock %}

    {% include "include/cdn-js.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.js"></script>

    <!--[if lt IE 9]>
      {% compress js %}
      <script type="text/javascript" src="{{ STATIC_URL }}javascripts/lib/rounded-corners-min.js"></script>
      {% endcompress %}
    <![endif]-->

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/namespace.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/global.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/align-form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/evaluation-tool.js"></script>
    {% endcompress %}

    {% block extra-js %}
    {% endblock %}

  </body>
</html>
