{% extends "rubrics/tool/base.html" %}

{% block content %}
  <div class="intro">

    <p class="align-center">
      <a href="http://www.achieve.org/oer-rubrics" target="_blank" class="rc5 learn">Learn about evaluating OER</a>
    </p>

    {% if not request.user.is_authenticated %}
      <p class="login align-center">Evaluators, please <a href="{% url users:login %}" target="_blank">login here</a></p>
    {% endif %}

    <p><strong>
      Achieve has developed a series of rubrics for this tool to help gauge various aspects
      of quality, allowing an additional filter for sorting and another way to discover OER.
      For example, these rubrics enable ratings of the quality of content explanation and
      assessment. These kinds of ratings are essential, especially for states and districts
      looking to recommend specific OER to their teachers.
    </strong></p>

    <section class="guidelines">
      <h1>Guidelines &amp; Reminders</h1>
      {% include "rubrics/tool/include/guidelines.html" %}
    </section>

    {% if object %}
      <div class="align-center">
        <a href="{% url rubrics:evaluate_rubrics content_type_id=content_type.id object_id=object.id %}" class="rc5 start">Start Evaluating</a>
      </div>
    {% endif %}

  </div>
{% endblock %}
