{% load utils %}
<section class="portlet bookmarklet">
  <h1>New Bookmark Button</h1>
  <p>Add resources from any website!</p>
  <a class="rc5 rc-shape" href="javascript:(function() {OER_HOST = '{% protocol %}{% domain %}';try {var x = document.createElement('SCRIPT');x.type = 'text/javascript';x.src = OER_HOST + '/media/javascripts/submit.js?' + (new Date().getTime() / 100000);document.getElementsByTagName('head')[0].appendChild(x);} catch (e) {}})();">Add OER</a>
  <p>Drag this button to your favorites bar. When you find an OER resource on
     the web, click that link to submit.</p>
</section>