<section class="portlet cou dotted"> 
  <h1 class="dotted">Conditions of Use</h1> 
  <ul> 
    <li> 
      <a href="#no-strings-attached-tooltip"
         rel="#no-strings-attached-tooltip"
         title="No Strings Attached">No Strings Attached</a> 
    </li> 
    <li> 
      <a href="#remix-and-share-tooltip"
         rel="#remix-and-share-tooltip"
         title="Remix and Share">Remix and Share</a> 
    </li> 
    <li> 
      <a href="#share-only-tooltip"
         rel="#share-only-tooltip" title="Share Only">Share Only</a> 
    </li> 
    <li> 
      <a href="#read-the-fine-print-tooltip"
         rel="#read-the-fine-print-tooltip"
         title="Read the Fine Print">Read the Fine Print</a> 
    </li> 
  </ul> 
</section>
{% include "include/cou-tooltips.html" %} 