{% extends "base.html" %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.profile.init_about();
    });
  </script>
{% endblock %}

{% block bodyclass %}no-columns profile{% endblock %}

{% block above-content %}{% endblock %}

{% block content %}

  <table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
        <th class="about"><span>About me</span></th>
    </tr>
  </thead>
  <tbody><tr>
    <td class="about">
      <form method="post" class="formatted about" name="about" action="{% url users:profile_about %}">
    
        {% with form.about_me as field %}
          {% include "include/form-field.html" %}
        {% endwith %}

        <div class="buttons">
          <input type="submit" class="next" value="Save" />
        </div>
      </form>
    </td>
  </tr></tbody></table>
  
{% endblock %}
