{% extends "base.html" %}

{% block above-content %}{% endblock %}

{% block content %}

  <form method="post" class="formatted profile"  name="profile" action="{% url users:profile %}">
  
    <p class="change-password-link"><a href="#change-password">Change password</a></p>

    {% for field in profile_form %}
      {% include "include/form-field.html" %}
    {% endfor %}
    <div class="field">
      <label>My Portrait:</label>
      <p>If want to have a picture that will be shown in your profile and portfolio page you should 
      upload it to <a href="http://gravatar.com">Globally Recognized Avatar (gravatar)</a> service.
      This picture will be used on all Gravatar-enabled sites that you are registered in.</p>
    </div>
    <div class="buttons">
      <input type="submit" name="save-profile" class="button" value="Save profile" />
    </div>
  </form>

  <hr class="tall" />

  <form method="post" class="formatted change-password"  name="change-password"
        action="{% url users:profile %}" id="change-password">
    <h3>Change password</h3>
    {% for field in change_password_form %}
      {% include "include/form-field.html" %}
    {% endfor %}
    <div class="buttons">
      <input type="submit" name="change-password" class="button" value="Change" />
    </div>
  </form>
  
{% endblock %}
