{% extends "base.html" %}
{% load simplegravatar %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.profile.init_user_info();
      oer.profile.init_change_password();
    });
  </script>
{% endblock %}

{% block bodyclass %}no-columns{% endblock %}

{% block above-content %}{% endblock %}

{% block content %}

  <table class="profile" cellpadding="0" cellspacing="0">
  <thead>
  	<tr>
        <th></th>
  		<th class="user-info"><span>Basic Information</span></th>
  		<th class="change-password"><span>Change Password</span></th>
  	</tr>
  </thead>
  <tbody><tr>
    <td class="avatar">
      {% show_gravatar request.user.email 93 %}
    </td>
    <td class="user-info">
      <form method="post" class="formatted user-info" name="user-info" action="{% url users:profile %}">
      
        {% for field in user_info_form %}
          {% include "include/form-field.html" %}
        {% endfor %}
        <div class="buttons">
          <input type="submit" name="user-info" class="save" value="Save" />
          <input type="submit" name="user-info" value="Save and tell us more!" />
        </div>
      </form>
    </td>
    <td class="change-password">
      <form method="post" class="formatted change-password"  name="change-password"
            action="{% url users:profile %}" id="change-password">
        {% for field in change_password_form %}
          {% include "include/form-field.html" %}
        {% endfor %}
        <div class="buttons">
          <input type="submit" name="change-password" class="save" value="Change" />
        </div>
      </form>
    </td>
  </tr></tbody></table>

{% endblock %}
