{% extends "base.html" %}
{% load honeypot %}
{% load flatblock_tags %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      $("form[name='registration']").validate({rules: oer.validation.rules.registration});
      $("#id_password").showPasswordCheckbox();
    });
  </script>
{% endblock %}

{% block above-content %}{% endblock %}

{% block content %}
  <noscript>
  <div class="status-message">Make sure you have Javascript enabled in your browser.
    It is required to complete the registration.</div>
  </noscript>
  <form method="post" class="formatted" name="registration" action="{% url users:registration %}">
    {% with form.email as field %}
      {% include "include/form-field.html" %}
    {% endwith %}
    {% with form.password as field %}
      {% include "include/form-field.html" %}
    {% endwith %}
    {% with form.newsletter as field %}
      <div class="field">
        {{ field }} {{ field.label_tag }}
      </div>
    {% endwith %}
    {% render_honeypot_field %}
    <div class="buttons">
      <input type="submit" class="button" value="Register" />
    </div>
  </form>

  {% flatblock "registration-tracking-step-1" %}
  
{% endblock %}
