<div style="display: none" id="no-strings-attached-tooltip"> 
No restrictions on your remixing, redistributing, or making derivative works. 
Give credit to the author, as required. 
</div> 
<div style="display: none" id="remix-and-share-tooltip"> 
Your remixing, redistributing, or making derivatives works comes with some 
restrictions, including how it is shared. 
</div> 
<div style="display: none" id="share-only-tooltip"> 
Your redistributing comes with some restrictions. Do not remix or make 
derivative works. 
</div> 
<div style="display: none" id="read-the-fine-print-tooltip"> 
Copyrighted materials, available under Fair Use and the TEACH Act for US-based 
educators, or other custom arrangements. Go to the resource provider to see 
their individual restrictions.</div> 
