{% load compress %}
{% load scss %}
{% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/bootstrap/bootstrap.scss" %}" media="all">

  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.css" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/anythingslider.css" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.inline-labels.css" media="all">

  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/base.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/layout.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/buttons.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/header.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/footer.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/login.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/registration.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/profile.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/frontpage.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/tags.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/align-form.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/portlets.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/rating.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/autocomplete-list-widget.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/materials.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/resource-comments.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/myitems.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/savedsearches.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/information.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/sendthis.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/green.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/stats.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/slider.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/newsletter.scss" %}" media="all">
  <link rel="stylesheet" href="{{ STATIC_URL }}{% scss "styles/evaluation-tool.scss" %}" media="all">
{% endcompress %}

<!--[if lt IE 8]>
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie.css" media="all" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie-inline-block.css" media="all" />
  {% endcompress %}
<![endif]-->

