{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/reset.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/typography.css" media="all" />

<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.cluetip.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/jquery.inline-labels.css" media="all" />

<link rel="stylesheet" href="{{ STATIC_URL }}styles/base.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/form.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/header.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/column-layout.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/footer.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/login.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/frontpage.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/tags.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/align-form.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/portlets.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/rating.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/autocomplete-list-widget.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/materials.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/myitems.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/savedsearches.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/information.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/sendthis.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/green.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/stats.css" media="all" />
<link rel="stylesheet" href="{{ STATIC_URL }}styles/newsletter.css" media="all" />
{% endcompress %}

<!--[if lt IE 8]>
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" media="all" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie.css" media="all" />
  {% endcompress %}
<![endif]-->

