<div class="row featured-resources">
  <section class="frontpage-block span7">
    <h1>Featured K-12 Resources</h1>
    {% if featured_k12 %}
      <ul>
        {% for item in featured_k12 %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
  <section class="frontpage-block span7">
    <h1 class="dotted">Featured Higher Ed Resources</h1>
    {% if featured_highered %}
      <ul>
        {% for item in featured_highered %}
          <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</div>
