{% load navigation %}
<div id="header">
  <div class="fixed-width">
    
    <a id="logo" title="OER Commons" href="{% url frontpage %}"></a>
    
    <ul class="header-links">
      {% if request.user.is_anonymous %}
        <li>
          <a href="{% url registration %}">Register Now!</a>
        </li>
        <li>
          <a href="{% url auth_login %}">Log In</a>
        </li>
      {% endif %}
      {% if request.user.is_authenticated %}
        <li>
          <a href="{% url profile_edit %}">My Profile</a>
        </li>
        <li>
          <a href="{% url auth_logout %}">Logout</a>
        </li>
      {% endif %}
      <li>
        <a href="{% url feedback %}">Feedback</a>
      </li>
      <li>
        <a href="{% url information %}">Help</a>
      </li>
      <li class="last">
        <a title="Contribute Content" class="button-contribute"
           href="{% url contribute %}">Contribute Content</a>
      </li>
    </ul>
    
  </div>
</div>

<div class="navigation-ct fixed-width">
  {% navigation %}
  
  <div class="search-box">
    <form action="{% url materials_search %}" method="get">
      <input type="text" name="f.search" value="Enter Search" class="text">
      <input type="submit" value="Search" class="button">
      <input type="button" onclick="window.location='{% url materials_advanced_search %}'" value="Advanced Search" class="button"> 
    </form>
  </div>  
</div>
