{% load navigation %}
<header class="global fl-clearfix">
  <div class="fixed-width">
    {% if microsite and microsite.slug == "green" %}
      <a id="logo" title="OER Commons" href="{% url frontpage %}"></a>
      <a id="logo-green" title="Green OER" href="{% url materials:microsite microsite=microsite.slug %}"></a>
    {% else %}
      <a id="logo" title="OER Commons" href="{% url frontpage %}"></a>
    {% endif %}
    <nav>
      {% spaceless %}
      <ul>
        <li class="anon">
          <a rel="nofollow" href="{% url users:registration %}">Register Now!</a>
        </li>
        {% url users:login as login_url %}
        {% if request.path != login_url %}
          <li class="anon">
            <a rel="nofollow" class="login" href="{{ login_url }}">Log In</a>
          </li>
        {% endif %}
        <li class="auth user dropdown">
          Hello, <span class="user-name">{% if request.user.is_authenticated %}{{ request.user.get_full_name|default:request.user }}{% endif %}</span>
          <b class="caret"></b>
          <ul class="user-menu dropdown-menu">
            <li><a href="{% url users:profile %}">Account Settings</a></li>
          </ul>
        </li>
        <li class="auth">
          <a rel="nofollow" href="{% url users:logout %}">Logout</a>
        </li>
        <li>
          <a href="{% url information %}">Help</a>
        </li>
      </ul>
      {% endspaceless %}
    </nav>
    <div id="global-search-box">
      <form action="{% if microsite %}{% url materials:search microsite=microsite.slug %}{% else %}{% url materials:search %}{% endif %}" method="get">
        <input type="text" id="search-input" name="f.search" value="" class="text rc5" x-webkit-speech="x-webkit-speech" />
        <input type="submit" value="Search" class="button rc5" />
        <a href="{% url materials:advanced_search %}">Advanced Search</a>
      </form>
    </div>
  </div>
</header>

<div class="fl-clearfix global-tabs">
  <div class="fixed-width">
    {% navigation %}
  </div>
</div>

    <div class="flc-toc-tocContainer"> </div>
