{% load compress %}
{% include "include/cdn-js.html" %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.qtip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.anythingslider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.inline-labels.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.corner.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.showPasswordCheckbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/amplify.store.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/history.adapter.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.ocupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/postmessage.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/namespace.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/search-box.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/next-url.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/collapsibles.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/accordions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/status-message.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/login.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/profile.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-view-item.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/advanced-search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/validation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/rating.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/autocomplete-list-widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/tags-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/align-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/myitems-index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/saved-search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/send-this.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/content-submission.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/newsletter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/global-init.js"></script>
{% endcompress %}

<!--[if lt IE 9]>
  {% compress js %}
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/rounded-corners-min.js"></script>
  {% endcompress %}
<![endif]-->
