{% load compress %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery-1.4.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery-ui-1.8.4.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.cluetip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/search-box.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/cluetips.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/accordions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/collapsibles.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-view-item.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/advanced-search.js"></script>
{% endcompress %}
