{% extends "base.html" %}
{% load rating_tags %}
{% load materials_tags %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.accordion.init($("div.portlet.oermaterials div.accordion"));
      oer.collapsibles.init($("#content"));
      oer.materials.index.init_actions_menus();
    });
  </script>
{% endblock %}


{% block page-title %}{% endblock %}
{% block promo %}{% endblock %}

{% block above-content %}
<div class="green-feature fixed-width">
  <h2>Highlight</h2>
  <p><a href="/courses/sun-curve-design-challenge-design-process-activity">Sun Curve Design Challenge</a>: A student-teacher collaborative<br/>
     OER program focusing on scientific inquiry and green design<br/>
     innovation to generate new ideas for sustainable agriculture.</p>
</div>
{% endblock %}

{% block contentclass %}microsite-frontpage{% endblock %}


{% block column-left %}
<div class="portlet oermaterials clearfix">
  <h4 class="dotted">Browse Resources</h4>
  <h6>by Green Subtopic</h6>
  <div class="accordion dotted clearfix">
  {% for topic, tree_info in topics %}
    {% if topic.level == 0 %}
      <h5{% if not tree_info.closed_levels %} class="accordion-header"{% endif %}><a href="{% url materials:topic_index topics=topic.slug, microsite=microsite.slug %}" title="{{ topic.name }}">{{ topic.name }} ({{ topic.count }})</a></h5>
    {% else %}
      {% if tree_info.new_level %}
      <div class="accordion-body"><ul>
      {% endif %}
        <li>
          <a href="{% url materials:topic_index topics=topic.slug, microsite=microsite.slug %}" title="{{ topic.name }}">{{ topic.name|shrink:20 }} ({{ topic.count }})</a>
        </li>
      {% if tree_info.closed_levels %}
      </ul></div>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  
  <div class="accordion dotted clearfix">
    <h5 class="accordion-header"><a href="#">Grade Level</a></h5>
    <div class="accordion-body">
      <ul>
        {% for level in grade_levels %}
          <li><a href="{% url materials:grade_level_index grade_levels=level.slug, microsite=microsite.slug %}" title="{{ level.name }}">{{ level.name }} ({{ level.count }})</a></li>
        {% endfor %}
      </ul>
    </div>
  	<h5 class="accordion-header"><a href="#">Material Type</a></h5>
  	<div class="accordion-body">
  		<ul>
  		  {% for material_type in course_material_types %}
  		    <li><a href="{% url materials:material_type_index course_material_types=material_type.slug, microsite=microsite.slug %}" title="{{ material_type.name }}">{{ material_type.name|shrink:18 }} ({{ material_type.count }})</a></li>
  		  {% endfor %}
  		</ul>
  	</div>
  </div>
  
</div>

<div class="portlet" id="green-sponsors-portlet">
  <h4 class="green">Sponsorship</h4>
  <p>Green OER is a project in OER Commons developed by 
     <a href="http://www.iskme.org">ISKME</a> in
     partnership with <a href="http://www.agroknow.gr">Agro-Know</a></p>
  <div>               
    <a href="http://www.iskme.org">
      <img alt="ISKME" src="{{STATIC_URL }}images/iskme.png">
    </a>
  </div>
  <div>               
    <a href="http://www.agroknow.gr">
      <img alt="Agro-Know Technologies" src="{{STATIC_URL }}images/agro-know.png">
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
  {% include "include/featured-resources.html" %}

  <h2 class="dotted"><span class="icon"></span> Top <strong>{{ microsite.name }}</strong> resources</h2>
  <div class="materials-index collapsibles">
    {% for item in items %}
      {% include "materials/include/index-item.html" %}
    {% endfor %}
  </div>

  {% rate_form %}
{% endblock %}

{% block column-right %}
   <div class="portlet top-keywords dotted">
     <h4 class="dotted"><span class="icon"></span> Top Keywords</h4>
     <div class="tag-cloud">
       {% for keyword in keywords %}
         <a href="{% url materials:keyword_index keywords=keyword.slug microsite=microsite.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
       {% endfor %}
     </div>
   </div>
{% endblock %}
