<div class="flc-subtitle-panel fl-subtitle-panel">
    <div class="flc-subtitle-panel-menu fl-subtitle-panel-menu">
        <a class="flc-subtitle-panel-menu-addSubtitle" href="#"></a>
        <span class="flc-subtitle-panel-menu-label"></span>
        <img class="flc-subtitle-panel-menu-tooltip" src="" />
    </div>
    <ul class="flc-subtitle-panel-languages">
        <li class="flc-subtitle-panel-language">
            <a class="flc-subtitle-panel-language-link" href="#"></a>
        </li>
        <li>
            <a class="flc-subtitle-panel-addSubtitle" href="#"></a>
        </li>
    </ul>
</div>