{% extends "rubrics/manage/base.html" %}

{% block content %}

  <div id="summary">
    <table><tbody><tr>
      {% if rubric %}
        <td class="number">{{ mean_score|floatformat }}</td>
        <td class="sep">Mean<br/> Score</td>
        <td class="number">{{ total_evaluations }}</td>
        <td class="sep">Total<br/> Evaluations</td>
        <td class="number">{{ week_evaluations}}</td>
        <td>New Evaluations<br/> this Week</td>
      {% else %}
        <td class="number">{{ week_evaluations }}</td>
        <td class="sep">New Evaluations<br/> this Week</td>
        <td class="number">{{ week_users }}</td>
        <td>New Evaluators<br/> this Week</td>
      {% endif %}
    </tr></tbody></table>
  </div>

  {% if rubric %}
    <h1>Rubric: {{ rubric }}</h1>
  {% else %}
    <h1>Welcome, {{ request.user }}</h1>
  {% endif %}

  <section class="rubrics-menu">
    <h1>Evaluations<br/> by Rubric:</h1>
    <ul>
      {% for rubric in rubrics %}
        {% if rubric.id == rubric_id %}
          <li class="rc3 selected">{{ rubric.name }}</li>
        {% else %}
          <li class="rc3"><a href="{% url rubrics_manage:rubric rubric_id=rubric.id %}">{{ rubric.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <div id="toolbar">
    Filter by:

    <select name="grade_level">
      <option value="">- Grade Level -</option>
      {% for grade_level in grade_levels %}
        <option value="{{ grade_level.id }}">{{ grade_level.name }}</option>
      {% endfor %}
    </select>

    <select name="general_subject">
      <option value="">- General Subject -</option>
      {% for general_subject in general_subjects %}
        <option value="{{ general_subject.id }}">{{ general_subject.name }}</option>
      {% endfor %}
    </select>

    <div class="right">
      Show evaluations from
      <input type="text" class="date" size="11" maxlength="11" name="from_date">
      to
      <input type="text" class="date" size="11" maxlength="11" name="until_date">

      <input type="search" name="search" placeholder="Search" />
    </div>
  </div>
  <table id="grid" data-url="{% if rubric %}{% url rubrics_manage:rubric rubric_id=rubric_id %}{% else %}{% url rubrics_manage:index %}{% endif %}">
  </table>
{% endblock %}

{% block extra-js %}
  <script>
    $(function() {
      oer.rubrics_manage.init_index();
    });
  </script>
{% endblock %}
