{% extends "rubrics/manage/base.html" %}

{% block content %}

  <div id="summary">
    <table><tbody><tr>
      <td class="number">{{ week_evaluations }}</td>
      <td class="sep">New Evaluations<br/> this Week</td>
      <td class="number">{{ week_users }}</td>
      <td>New Evaluators<br/> this Week</td>
    </tr></tbody></table>
  </div>

  <h1>Welcome, {{ request.user }}</h1>

  <div id="toolbar">
    Filter by:

    <select name="rubric">
      <option value="">- Rubric -</option>
      {% for rubric in rubrics %}
        <option value="{{ rubric.id }}">{{ rubric.name }}</option>
      {% endfor %}
    </select>

    <select name="grade_level">
      <option value="">- Grade Level -</option>
      {% for grade_level in grade_levels %}
        <option value="{{ grade_level.id }}">{{ grade_level.name }}</option>
      {% endfor %}
    </select>

    <select name="general_subject">
      <option value="">- General Subject -</option>
      {% for general_subject in general_subjects %}
        <option value="{{ general_subject.id }}">{{ general_subject.name }}</option>
      {% endfor %}
    </select>

    <div class="right">
      Show evaluations from
      <input type="text" class="date" size="11" maxlength="11" name="from_date">
      to
      <input type="text" class="date" size="11" maxlength="11" name="until_date">

      <input type="search" name="search" placeholder="Search" />
    </div>
  </div>
  <table id="grid" data-url="{% url rubrics_manage:index %}">
  </table>
{% endblock %}

{% block extra-js %}
  <script>
    $(function() {
      oer.rubrics_manage.init_index();
    });
  </script>
{% endblock %}
