{% extends "base.html" %}
{% load materials_tags %}


{% block column-left %}

  <section class="portlet browse-providers">
    <a href="{% url materials:browse_providers %}">Browse Collection Providers</a>
  </section>

  <section class="box portlet featured-searches">
    <h1 class="dotted">Featured Searches</h1>
    <ul>
      <li><a href="/search?f.search=Arts+Social+Justice">Art &amp; Social Justice</a></li>
      <li><a href="/courses/material_types/textbooks?f.cou_bucket=no-strings-attached&amp;f.cou_bucket=remix-and-share&amp;f.cou_bucket=share-only">Open Textbooks</a></li>
      <li><a href="/courses/material_types/textbooks?f.edu_level=primary&amp;f.edu_level=secondary">K-12 Textbooks</a></li>
    </ul>
  </section>
{% endblock %}

{% block contentclass %}browse-materials{% endblock %}

{% block content %}
  <div class="row">
    <div class="box span7">
      <h1>Subject areas</h1>
      <ul class="unstyled">
        {% for item in general_subjects %}
        <li>
          <a href="{% url materials:general_subject_index general_subjects=item.slug %}">{{ item.name|shrink:100 }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="box span7">
      <h1>Grade levels</h1>
      <ul class="unstyled">
        {% for item in grade_levels %}
        <li>
          <a href="{% url materials:grade_level_index grade_levels=item.slug %}">{{ item.name|shrink:100 }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="box">
    <h1>Materials types</h1>
    <div class="row">
      <div class="span7">
        <ul class="unstyled">
          {% for item in course_material_types_col1 %}
          <li>
            <a href="{% url materials:courses:material_type_index course_material_types=item.slug %}">{{ item.name|shrink:100 }}</a>
            <span>{{ item.count }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="span7">
        <ul class="unstyled">
          {% for item in course_material_types_col2 %}
          <li>
            <a href="{% url materials:courses:material_type_index course_material_types=item.slug %}">{{ item.name|shrink:100 }}</a>
            <span>{{ item.count }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box span7">
      <h1>Course related materials</h1>
      <ul class="unstyled">
        {% for item in course_or_module %}
        <li>
          <a href="{% url materials:courses:course_or_module_index course_or_module=item.slug %}">{{ item.name|shrink:100 }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="box span7">
      <h1>Libraries and collections</h1>
      <ul class="unstyled">
        {% for item in library_material_types %}
        <li>
          <a href="{% url materials:libraries:material_type_index library_material_types=item.slug %}">{{ item.name|shrink:100 }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
