{% extends "base.html" %}
{% load materials_tags %}

{% block bodyclass %}no-right-column{% endblock %}

{% block column-left %}
  <section class="box portlet browse-materials">
    <a href="{% url materials:browse %}">Browse OER Materials</a>
  </section>

  <section class="box portlet featured-provider">
    <h1>Featured Collection Provider</h1>
    <dl>
      <dt><a href="/browse/collection/stories-of-the-american-south">Stories of the American South</a></dt>
      <dd>The library of the University of North Carolina at Chapel Hill presents Stories of the American South.</dd>
    </dl>
  </section>
{% endblock %}

{% block contentclass %}browse-providers{% endblock %}

{% block content %}
  <div class="row">
    <div class="box span9">
      <h1>Course related materials</h1>
      <ul class="unstyled">
        {% for item in course_collections %}
        <li>
          <a href="{% url materials:courses:collection_index collection=item.slug %}">{{ item.name }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="box span9">
      <h1>Libraries and collections</h1>
      <ul class="unstyled">
        {% for item in library_collections %}
        <li>
          <a href="{% url materials:libraries:collection_index collection=item.slug %}">{{ item.name }}</a>
          <span>{{ item.count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
