{% extends "base.html" %}
{% load rating_tags %}
{% load savedsearches_tags %}
{% load sendthis_tags %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.materials.index.init();
      oer.saved_search.init();
      oer.send_this.init();
      $("div.portlet.cou a").cluetip({local:true, arrows: true, width: 300});
      $("#content div.cou-bucket").cluetip({local:true, arrows: true, width: 300});
    });
  </script>
{% endblock %}

{% block above-content %}
  {% include "materials/include/index-action-panel.html" %}
{% endblock %}

{% block column-left %}
  {% include "materials/include/index-filters.html" %}
{% endblock %}

{% block content %}
  <div class="materials-index collapsibles">

  {% with "top" as class %}
    {% include "materials/include/index-navigation.html" %}
  {% endwith %}

  {% for item in items %}
    {% include "materials/include/index-item.html" %}
  {% endfor %}

  {% with "bottom" as class %}
    {% include "materials/include/index-navigation.html" %}
  {% endwith %}
  </div>
  
  {% rate_form %}
  
  {% save_search_form index_url index_title %}
  {% send_this_form index_url %}
  
{% endblock %}

{% block column-right %}
   <div class="portlet top-keywords dotted">
     <h4 class="dotted">{% if microsite %}<span class="icon"></span> {% endif %}Top Keywords</h4>
     <div class="tag-cloud top dotted">
       {% for keyword in top_keywords %}
         <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
       {% endfor %}
     </div>
     {% if all_keywords %}
     <a href="#" class="see-more">See more</a>
     <div class="tag-cloud all">
       {% for keyword in all_keywords %}
         <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
       {% endfor %}
     </div>
     {% endif %}
   </div>
   
   {% include "include/portlets/cou.html" %}
   
{% endblock %}
