{% extends "base.html" %}
{% load rating_tags %}
{% load savedsearches_tags %}
{% load sendthis_tags %}
{% load tags_tags %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.materials.index.init();
      oer.saved_search.init();
      oer.send_this.init();
      oer.rating.init();
    });
  </script>
{% endblock %}

{% block above-content %}
  {% if items %}
    {% include "materials/include/index-action-panel.html" %}
  {% endif %}
{% endblock %}

{% block column-left %}
  {% include "materials/include/index-filters.html" %}
{% endblock %}

{% block content %}
  <div class="materials-index collapsibles">

  {% if items %}
    {% with "top" as class %}
      {% include "materials/include/index-navigation.html" %}
    {% endwith %}
  
    {% for item in items %}
      {% include "materials/include/index-item.html" %}
    {% endfor %}
  
    {% with "bottom" as class %}
      {% include "materials/include/index-navigation.html" %}
    {% endwith %}
  {% else %}
  <p class="no-items-match">No items match your search.</p>
  {% endif %}
  </div>
  
  {% save_search_form index_url index_title %}
  {% send_this_form index_url %}

  <div id="add-tags-dialog" style="display: none;">
      {% add_tags_form %}
  </div>
  
{% endblock %}

{% block column-right %}
   {% if items %}
   <section class="portlet top-keywords dotted">
     <h1 class="dotted">{% if microsite %}<span class="icon"></span> {% endif %}Top Keywords</h1>
     <div class="tag-cloud top dotted">
       {% for keyword in top_keywords %}
         <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
       {% endfor %}
     </div>
     {% if all_keywords %}
     <a href="#" class="see-more">See more</a>
     <div class="tag-cloud all">
       {% for keyword in all_keywords %}
         <a href="{% url materials:keyword_index keywords=keyword.slug %}" class="tag{{ keyword.number }}">{{ keyword.name }}</a>
       {% endfor %}
     </div>
     {% endif %}
   </section>
   {% endif %}
   
   {% include "include/portlets/cou.html" %}
   
{% endblock %}
