<!DOCTYPE html>
{% load compress %}
{% load flatblock_tags %}
{% load rating_tags %}
{% load tags_tags %}
{% load materials_tags %}
<html lang="{{ request.LANGUAGE_CODE }}" class="no-js">
  <head>
    <meta charset="utf-8"/>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/reset.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/typography.css" media="all" />

    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all" />

    <link rel="stylesheet" href="{{ STATIC_URL }}styles/base.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/form.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/login.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/rating.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/tags.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/evaluation-tool.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/materials-toolbar.css" media="all" />
    {% endcompress %}

    <!--[if lt IE 8]>
      {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" media="all" />
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie.css" media="all" />
      {% endcompress %}
    <![endif]-->

    <title>{{ item.title }} | OER Commons</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico"/>

    {% include "include/modernizr.html" %}
  </head>
  <body class="toolbar-view {% if request.user.is_authenticated %} authenticated{% endif %}">

    <a href="{% url frontpage %}" id="logo">OER Commons</a>

    <a href="javascript:window.location = '{{ item.url|escapejs }}';" id="close-toolbar">Close toolbar</a>

    <div id="toolbar">

      <div class="c1"><div class="c2"><div class="c3"><div class="c4"><div class="green-bar">

        {% if came_from_index %}
        <div class="view-item-navigation">
          {% spaceless %}
          <ul>
            {% if prev_item_url %}
              <li class="sep"><a class="item-link prev" href="{{ prev_item_url }}">&laquo; Previous Item</a></li>
            {% endif %}
            {% if index_url %}
              <li{% if next_item_url %} class="sep"{% endif %}><a href="{{ index_url }}">Return to Search Results...</a></li>
            {% endif %}
            {% if next_item_url %}
              <li><a class="item-link next" href="{{ next_item_url }}">Next Item &raquo;</a></li>
            {% endif %}
          </ul>
          {% endspaceless %}
          <form action="" method="post">
            <input type="hidden" name="index_path" value="{{ index_path }}" />
            <input type="hidden" name="batch_size" value="{{ index_params.batch_size }}" />
            <input type="hidden" name="sort_by" value="{{ index_params.sort_by }}" />
            {% hidden_filters hidden_filters %}
          </form>
        </div>
        {% endif %}

        {% spaceless %}
        <ul>
          <li class="sep">
            <a href="{{ save_url }}" class="save"{% if saved %} style="display: none;"{% endif %}>Save to My Items</a>
            <a href="{{ unsave_url }}" class="unsave"{% if not saved %} style="display: none;"{% endif %}>Remove from My Items</a>
          </li>
          <li>
            <a href="{% url myitems:myitems %}">My Items</a>
          </li>
        </ul>
        {% endspaceless %}

        {% spaceless %}
        <ul>
          <li class="rating"><span>Rating: </span>{% stars item.identifier item.rating %}</li>
          <li class="sep"><a href="#" class="review">Review</a></li>
          <li class="sep"><a href="{% url rubrics:evaluate_intro %}?url={{ item.url }}" id="evaluate-btn">Evaluate</a></li>
          <li><a href="{{ add_tags_url }}" class="tags">Tags</a></li>
        </ul>
        {% endspaceless %}

        <div class="add-this-ct">
          <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
          </div>
          <script type="text/javascript">
            addthis_url    = location.href;
            addthis_title  = document.title;
            addthis_pub    = 'oercommons';
          </script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4dbe4f65120603bd"></script>
        </div>

      <div class="clear"></div>

      </div></div></div></div></div>

    </div>

    <div id="status-messages"></div>

    <div id="add-tags-dialog" style="display: none;">
        {% add_tags_form %}
    </div>

    <div id="review-dialog" style="display: none;">
      <form action="{{ add_review_url }}" method="post" id="review-form" class="formatted review">
        {% with review_form as form %}
          {% for field in form.visible_fields %}
            <div class="help">{{ field.help_text }}</div>
            <div class="errors">
              {% for error in field.errors %}
                <label class="error">{{ error }}</label>
              {% endfor %}
            </div>
            <div class="field">{{ field }}</div>
          {% endfor %}
        {% endwith %}
        <div class="buttons">
            <input type="submit" value="Add review" />
        </div>
      </form>
    </div>

    <iframe id="resource" src="{{ item.url }}" width="100%" height="100%"></iframe>

    {% include "include/cdn-js.html" %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/namespace.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/validation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/status-message.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/tags-form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/rating.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/evaluation-tool.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-view-item.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-toolbar.js"></script>
    {% endcompress %}
    <script type="text/javascript">
      ITEM_TITLE = "{{ item.title|escapejs }}";
      $(function() {
          oer.materials.toolbar.init();
          oer.rating.init();
      });
    </script>

    {% flatblock "google-analytics" %}

  </body>
</html>
