{% extends "base.html" %}
{% load materials_tags %}
{% load rating_tags %}
{% load sendthis_tags %}

{% block title %}{{ item.title }} | {{ block.super }}{% endblock %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.materials.view_item.init();
      oer.send_this.init();
      {% if content_actions or workflow_actions %}
        oer.materials.view_item.init_content_actions();
      {% endif %}
    });
  </script>
{% endblock %}

{% block above-content %}
<div class="action-panel fixed-width">
  <ul class="right">
    <li>
      <a class="email-icon send-this" href="#" title="Send this">Send this</a>
    </li>
    {% if save_url %}
      <li class="last"><a href="{{ save_url }}">Save this item</a></li>
    {% endif %}
    {% if unsave_url %}
      <li class="last"><a href="{{ unsave_url }}">Remove from collection</a></li>
    {% endif %}
  </ul>
  {% if came_from_index %}
  <div class="view-item-navigation">
    {% if prev_item_url %}
      <a class="item-link prev" href="{{ prev_item_url }}">&laquo; Previous Item</a>
    {% else %}
      <a class="item-link prev hidden" href="#">&laquo; Previous Item</a>
    {% endif %}
    {% if index_url %}
      <a href="{{ index_url }}">Return to Search Results...</a>
    {% endif %}
    {% if next_item_url %}
      <a class="item-link next" href="{{ next_item_url }}">Next Item &raquo;</a>
    {% else %}
      <a class="item-link next hidden" href="#">Next Item &raquo;</a>
    {% endif %}
    <form action="" method="post">
      <input type="hidden" name="index_path" value="{{ index_path }}" />
      <input type="hidden" name="batch_size" value="{{ index_params.batch_size }}" />
      <input type="hidden" name="sort_by" value="{{ index_params.sort_by }}" />
      {% hidden_filters hidden_filters %}
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
{% if content_actions or workflow_actions %}
  <div class="content-actions">
    <ul class="clearfix">
      {% if content_actions %}
        <li>
          <dl>
            <dt><a href="#">Item Actions...</a></dt>
            <dd><ul>
            {% for action in content_actions %}
              <li class="icon {{ action.class }}"><a href="{{ action.url}}" >{{ action.title }}</a></li>
            {% endfor %}
            </ul></dd>
          </dl>
        </li>
      {% endif %}
      {% if workflow_actions %}
        <li>
          <dl>
            <dt><a href="#">Status: {{ item.get_workflow_state_display }}...</a></dt>
            <dd><ul>
            {% for action in workflow_actions %}
              <li><a href="{{ action.url}}" >{{ action.title }}</a></li>
            {% endfor %}
            </ul></dd>
          </dl>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}

<div class="view-item">
  <div class="right">
    {% stars item.rating %}
    {% rate_form rate_item_url %}
    <a href="#" class="rate-item"><img alt="" src="{{ STATIC_URL }}images/rate-btn.png" /></a>
    {% cou_bucket item.license.bucket %}
  </div>
  
  <div class="right add-this">
    <script type="text/javascript">
      addthis_url    = location.href;   
      addthis_title  = document.title;  
      addthis_pub    = 'oercommons';     
    </script>
    <script src="http://s7.addthis.com/js/addthis_widget.php?v=12" type="text/javascript"></script>
  </div>
  
  <div class="details">
    <h3>
      {{ item.title|safe }}
      <a href="{{ item.url }}"><img alt="{{ item.title }}" src="{{ STATIC_URL }}images/external-link-icon.gif" /></a>  
    </h3>

    <dl>
      {% if item.authors.all.count %}
      <dt>Author:</dt>
      <dd>{{ item.authors.all|join:", " }}</dd>
      {% endif %}

      {% if item.general_subjects.all.count %}
      <dt>Subject:</dt>
      <dd>{{ item.general_subjects.all|join:", " }}</dd>
      {% endif %}

      {% if item.institution %}
      <dt>Institution Name:</dt>
      <dd>{{ item.institution.name }}</dd>
      {% endif %}

      {% if item.collection %}
      <dt>Collection:</dt>
      <dd>
        <a href="{% url materials:collection_index collection=item.collection.slug %}">{{ item.collection.name }}</a>
      </dd>
      {% endif %}

      {% if item.grade_levels.all.count %}
      <dt>Grade Level:</dt>
      <dd>{{ item.grade_levels.all|join:", " }}</dd>
      {% endif %}
      
    </dl>
    
    <dl>
      <dt>Abstract:</dt>
      <dd>{{ item.abstract|linebreaks }}</dd>
    </dl>

    <dl>
      {% if item.course_or_module %}
      <dt>Course Type:</dt>
      <dd>{{ item.get_course_or_module_display }}</dd>
      {% endif %}

      {% if item.languages.all.count %}
      <dt>Languages:</dt>
      <dd>{{ item.languages.all|join:", " }}</dd>
      {% endif %}

      {% if item.material_types.all.count %}
      <dt>Material Type:</dt>
      <dd>{{ item.material_types.all|join:", " }}</dd>
      {% endif %}
      
      {% if item.media_formats.all.count %}
      <dt>Media Format:</dt>
      <dd>{{ item.media_formats.all|join:", " }}</dd>
      {% endif %}

      {% if item.curriculum_standards %}
      <dt>Curriculum Standards:</dt>
      <dd>{{ item.curriculum_standards }}</dd>
      {% endif %}

      {% if item.tech_requirements %}
      <dt>Technical Requirements:</dt>
      <dd>{{ item.tech_requirements }}</dd>
      {% endif %}

      {% if item.community_types.all.count %}
      <dt>Content Type:</dt>
      <dd>{{ item.community_types.all|join:", " }}</dd>
      {% endif %}
      
      {% if item.community_topics.all.count %}
      <dt>Content Topic:</dt>
      <dd>{{ item.community_topics.all|join:", " }}</dd>
      {% endif %}
    </dl>
    
    <dl>
      {% if item.license %}
        {% with item.license as license %}
          <dt>Conditions of Use:</dt>
          <dd>
            {% if license.url %}
              <a href="{{ license.url }}">{{ license.name }}</a>
            {% else %}
              {{ license.name }}
            {% endif %}
            {% if license.description %}<br /> {{ license.description }}{% endif %}
            {% if license.image %}<br /> <img src="{{ license.image }}" alt="{{ license.name }}" />{% endif %}
          </dd>
          {% if license.copyright_holder %}
          <dt>Copyright Holder:</dt>
          <dd>{{ license.copyright_holder }}</dd>
          {% endif %}
        {% endwith %}
      {% endif %}
    </dl>
  </div>
  
  <div class="reviews">
    <a href="{{ add_review_url }}" class="button with-next-url"><img alt="Review This Item" src="{{ STATIC_URL}}images/add-review-btn.png" /></a>
    {% with item.reviews.all as reviews %}
      {% if reviews %}
      <dl>
        <dt>Reviews</dt>
        {% for review in reviews %}
          <dd>
            {{ review.text|linebreaksbr }}
            {% with review.user as author %}
            <span class="by">- {{ author.first_name }} {{ author.last_name }}</span>
            {% endwith %}
          </dd>
        {% endfor %}
      </dl>
      {% endif %}
    {% endwith %}
  </div>

  <div class="notes clear">
    <a href="{{ add_note_url }}" class="button with-next-url"><img alt="Add Notes" src="{{ STATIC_URL}}images/add-notes-btn.png" /></a>
    {% if user_note %}
      <dl>
        <dt>My Notes</dt>
        <dd>
          {{ user_note.text|linebreaksbr }}
        </dd>
      </dl>
    {% endif %}
  </div>
  
</div>

{% with item.get_absolute_url as path %}
  {% send_this_form path %}
{% endwith %}

{% endblock %}

{% block column-right %}
  <div class="portlet item-tags dotted">
    <h4 class="dotted">Item Tags</h4>
    {% if tags %}
       <div class="tag-cloud dotted">
       {% for tag in tags %}
         <a href="{% url materials:keyword_index keywords=tag.slug %}" class="tag{{ tag.number }}">{{ tag.name }}</a>
       {% endfor %}
       </div>
    {% else %}
      <p class="dotted">This item has not been tagged yet.</p>
    {% endif %}
    
    {% if user_tags %}
      <h4 class="dotted my-tags">My Tags</h4>
      <div class="dotted">
        {% for tag in user_tags %}
          <a href="{% url materials:keyword_index keywords=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if add_tags_url %}
      <div class="button-ct">
        <a class="with-next-url" href="{{ add_tags_url }}">
          {% if user_tags %}
            <img src="{{ STATIC_URL }}images/edit-tag-btn.png" alt="Edit Your Tags" />
          {% else %}  
            <img src="{{ STATIC_URL }}images/add-tag-btn.png" alt="Tag This Item" /> 
          {% endif %}
        </a>
      </div>
    {% endif %}
  </div>

  <div class="portlet item-keywords dotted">
    <h4 class="dotted">Keywords</h4>
    {% for keyword in item.keywords.all %}
      <a href="{% url materials:keyword_index keywords=keyword.slug %}">{{ keyword.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endblock %}
