{% extends "base.html" %}
{% load materials_tags %}
{% load rating_tags %}
{% load sendthis_tags %}
{% load tags_tags %}
{% load flatblock_tags %}
{% load thumbnail %}
{% load curriculum_tags %}
{% load utils %}
{% load i18n %}

{% block title %}{{ item.title }} | {{ block.super }}{% endblock %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.materials.view_item.init();
      oer.send_this.init();
      oer.tags_portlet.init();
      oer.align_tags_portlet.init();
      oer.tags_form.init();
      oer.rating.init();
      {% if content_actions or workflow_actions %}
        oer.materials.view_item.init_content_actions();
      {% endif %}
      $("section.portlet a.tooltip").qtip(TOPLEFTSIDE_TOOLTIP_OPTIONS);
    });
  </script>
{% endblock %}

{% block bodyclass %}wide-right-column view-item{% endblock %}

{% block above-content %}{% endblock %}

{% block content-itemscope-attrs %} itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle"{% endblock %}

{% block content %}

  {% if came_from_index %}
  <nav class="view-item-navigation" data-index-cookie="{{ index_cookie }}">
    {% if prev_item_url %}
      <a class="item-link prev" href="{{ prev_item_url }}">&laquo; Previous Item</a>
    {% else %}
      <a class="item-link prev hidden" href="#">&laquo; Previous Item</a>
    {% endif %}
    {% if index_url %}
      <a href="{{ index_url }}">Return to Search Results...</a>
    {% endif %}
    {% if next_item_url %}
      <a class="item-link next" href="{{ next_item_url }}">Next Item &raquo;</a>
    {% else %}
      <a class="item-link next hidden" href="#">Next Item &raquo;</a>
    {% endif %}
  </nav>
  {% endif %}

  {% if content_actions or workflow_actions %}
  <div class="content-actions">
    {% spaceless %}
    <ul class="clearfix">
      {% if content_actions %}
        <li>
          <dl>
            <dt><a href="#">Item Actions...</a></dt>
            <dd><ul>
            {% for action in content_actions %}
              <li class="icon {{ action.class }}"><a href="{{ action.url}}" >{{ action.title }}</a></li>
            {% endfor %}
            </ul></dd>
          </dl>
        </li>
      {% endif %}
      {% if workflow_actions %}
        <li>
          <dl>
            <dt><a href="#">Status: {{ item.get_workflow_state_display }}...</a></dt>
            <dd><ul>
            {% for action in workflow_actions %}
              <li><a href="{{ action.url}}" >{{ action.title }}</a></li>
            {% endfor %}
            </ul></dd>
          </dl>
        </li>
      {% endif %}
    </ul>
    {% endspaceless %}
   </div>
{% endif %}

<article class="view-item item" data-content-type="{{ content_type.id }}" data-object-id="{{ item.id }}" id="{{ item.identifier }}">

  {% if not item.screenshot %}
  <div class="right clear">
    {% cou_bucket item.license.bucket %}
  </div>
  {% endif %}

  <div class="details">
    <h1 itemprop="name">
      {% if request.preferences.show_toolbar %}
        <a href="{{ toolbar_view_url }}">
      {% else %}
        <a href="{{ item.url }}" target="_blank">
      {% endif %}
        <img src="{{ STATIC_URL }}images/item-title-icon.png" alt="{{ item.title }}" />{{ item.title|safe }}
      </a>
    </h1>

    <meta itemprop="url" content="{{ item.url }}" />
    <meta itemprop="keywords" content="{{ item.keyword_names|join:", " }}" />

    {% if item.screenshot %}
      <div class="left">
        {% thumbnail item.screenshot "300x250" crop="0px 0px" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {% cou_bucket item.license.bucket %}
      </div>
    {% endif %}
    <dl>
      {% if item.authors.all.count %}
      <dt>Author:</dt>
      <dd>
        {% for author in item.authors.all %}
          <span itemprop="author">{{ author }}</span>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </dd>
      {% endif %}

      {% if item.general_subjects.all.count %}
      <dt>Subject:</dt>
      <dd>{{ item.general_subjects.all|join:", " }}</dd>
      {% endif %}

      {% if item.institution %}
      <dt>Institution Name:</dt>
      <dd>{{ item.institution.name }}</dd>
      {% endif %}

      {% if item.collection %}
      <dt>Collection:</dt>
      <dd>
        <a href="{% url materials:collection_index collection=item.collection.slug %}">{{ item.collection.name }}</a>
      </dd>
      {% endif %}

      {% if item.grade_levels.all.count %}
      <dt>Grade Level:</dt>
      <dd>{{ item.grade_levels.all|join:", " }}</dd>
      {% endif %}
    </dl>

    <dl>
      <dt>Abstract:</dt>
      <dd itemprop="description">{{ item.abstract|linebreaks }}</dd>
    </dl>

    <dl>
      {% if item.course_or_module %}
      <dt>Course Type:</dt>
      <dd>{{ item.get_course_or_module_display }}</dd>
      {% endif %}

      {% if item.languages.all.count %}
      <dt>Languages:</dt>
      <dd>{{ item.languages.all|join:", " }}</dd>
      {% endif %}

      {% if item.material_types.all.count %}
      <dt>Material Type:</dt>
      <dd>{{ item.material_types.all|join:", " }}</dd>
      {% endif %}

      {% if item.media_formats.all.count %}
      <dt>Media Format:</dt>
      <dd>{{ item.media_formats.all|join:", " }}</dd>
      {% endif %}

      {% if item.curriculum_standards %}
      <dt>Curriculum Standards:</dt>
      <dd>{{ item.curriculum_standards }}</dd>
      {% endif %}

      {% if item.tech_requirements %}
      <dt>Technical Requirements:</dt>
      <dd>{{ item.tech_requirements }}</dd>
      {% endif %}

      {% if item.community_types.all.count %}
      <dt>Content Type:</dt>
      <dd>{{ item.community_types.all|join:", " }}</dd>
      {% endif %}

      {% if item.community_topics.all.count %}
      <dt>Content Topic:</dt>
      <dd>{{ item.community_topics.all|join:", " }}</dd>
      {% endif %}
    </dl>

    <dl class="license">
      {% if item.license %}
        {% with item.license as license %}
          <dt>Conditions of Use:</dt>
          <dd>
            {% if license.url %}
              <a href="{{ license.url }}">{% if license.name %}{{ license.name }}{% else %}{{ license.url }}{% endif %}</a>
            {% else %}
              {{ license.name }}
            {% endif %}
            {% if license.description %}<br /> {{ license.description }}{% endif %}
            {% if license.image %}<br /> <img src="{{ license.image }}" alt="{{ license.name }}" />{% endif %}
          </dd>
          {% if license.copyright_holder %}
          <dt>Copyright Holder:</dt>
          <dd>{{ license.copyright_holder }}</dd>
          {% endif %}
        {% endwith %}
      {% endif %}
    </dl>
  </div>

  <div class="align-right">
    <a id="goto" {% if request.preferences.show_toolbar %}href="{{ toolbar_view_url }}"{% else %}href="{{ item.url }}" target="_blank"{% endif %}
       class="button-blue-big rc5">Go to OER Item</a>
  </div>

</article>

<section class="resource-comments">
  <h1>Comments:</h1>
  {% for comment in comments %}
    <article{% if comment.is_review and comment.author == request.user %} class="author rc5"{% endif %} itemprop="reviews" itemscope="itemscope" itemtype="http://schema.org/Review">
      {% if comment.title %}<h1>{{ comment.title }}</h1>{% endif %}
      <p itemprop="reviewBody">{{ comment.text|linebreaksbr }}</p>
      <footer>
        {% if comment.is_review and comment.author == request.user %}
          <a href="#" class="edit"><span>Edit</span></a>
          <a href="#" class="delete"><span>Delete</span></a>
        {% endif %}
        <span class="by" itemprop="author">- {{ comment.author|username }}</span>
      </footer>
    </article>
  {% endfor %}
  <form{% if hide_comment_form %} style="display: none;"{% endif %} id="comment-form" class="formatted" method="post" action="{{ comment_url }}">
    {% with comment_form.text as field %}
      <div class="field">
        <div class="errors">
          {% for error in field.errors %}
            <label class="error">{{ error|safe }}</label>
          {% endfor %}
        </div>
        {{ field }}
      </div>
    {% endwith %}
    <div class="buttons">
      <a href="#" class="button-blue-big rc5">Add Comment</a>
    </div>
  </form>
</section>

{% for rating in item.ratings.all %}
  <span itemprop="reviews" itemscope="itemscope" itemtype="http://schema.org/Review">
    <span itemprop="reviewRating" itemscope="itemscope" itemtype="http://schema.org/Rating">
       <meta itemprop="ratingValue" content="{{ rating.value }}" />
       <meta itemprop="bestRating" content="5" />
    </span>
  </span>
{% endfor %}

{% include "include/cou-tooltips.html" %}

{% with item.get_absolute_url as path %}
  {% send_this_form path %}
{% endwith %}

{% endblock %}

{% block column-right %}
  <section class="portlet dotted save">
    {% if saved %}
      <a href="{{ unsave_url }}" class="require-login">Remove from My Items</a>
    {% else %}
      <a href="{{ save_url }}" class="require-login save">Add to My Items</a>
    {% endif %}
  </section>

  <section class="portlet dotted">
    <h1>Rate and Review</h1>
    {% stars item.identifier item.ratings.all %}
    <div>
      <a href="{{ toolbar_view_url }}#evaluate" id="evaluate-btn" class="button-blue-big rc5">Evaluate Resource</a>
      <a href="#evaluate-tooltip" rel="#evaluate-tooltip" class="tooltip"><small>What is this?</small></a>
      <div style="display: none" id="evaluate-tooltip">
          These seven rubrics will help users determine the degree of alignment of OER to
          education standards and to determine aspects of OER quality (such as explanation of
          content, assessment, and interactivity).
      </div>

    </div>
    {% if evaluations_number and evaluation_scores %}
      <div class="evaluation-results">
        <figure>
          <table>
            <thead>
              <tr>
                <th>Rubric</th>
                <th width="120">Average Score<br/> (3 Points Possible)</th>
              </tr>
            </thead>
            <tbody>
              {% for score in evaluation_scores %}
                <tr>
                  <td class="first">{{ score.name }}</td>
                  <td>
                    {% if score.score_class == "nr" %}
                        <span class="nr"></span>
                    {% else %}
                        {% if score.score == None %}
                          <span class="na">N/A</span>
                        {% else %}
                          <span class="s{{ score.score_class }}">{{ score.score|floatformat }}
                            {% if score.evaluations_number %}
                              <span class="users">({% blocktrans count count=score.evaluations_number %}{{ count }} user{% plural %}{{ count }} users{% endblocktrans %})</span>
                            {% endif %}
                          </span>
                        {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </figure>
      </div>
    {% endif %}
  </section>

  {% align_item_tags_portlet item %}

  <section class="portlet addthis dotted">
    <h1>Share</h1>
      <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_button_compact"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=oercommons"></script>
  </section>

  <section class="portlet item-tags">
    <h1>Tags</h1>
    <p>Keywords, descriptive words, interested groups &amp; more</p>
    <ul>
      {% for tag in tags %}
        {% if tag.class == "topic" %}
          <li class="rc3 topic {{ tag.microsite.slug }}">
            {% if tag.other %}
              <a href="{{ topic.microsite.get_absolute_url }}">{{ tag.microsite.name }}</a>
            {% else %}
              <a href="{% url materials:topic_index topics=tag.slug, microsite=tag.microsite.slug %}">{{ tag.name }}</a>
            {% endif %}
          </li>
        {% else %}
          <li class="rc3 {{ tag.class }}">
            <a href="{% url materials:keyword_index keywords=tag.slug %}">{{ tag.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="user-tags">
      {% for tag in user_tags %}
        <li class="rc3 tag" data-id="{{ tag.id }}">
          <a href="{% url materials:keyword_index keywords=tag.slug %}">{{ tag.name }}</a>
          <a href="#" class="delete">x</a>
        </li>
      {% endfor %}
    </ul>

    <form action="{{ add_tags_url }}"
          method="post" id="add-tags-form" name="add-tags-form">
      <label for="id_tags">Add new tag:</label>
      <input type="text" name="tags" id="id_tags" value="" class="text" />
    </form>
    <div class="login">
        <a href="{% url users:login %}" class="dashed">Log in</a> to add tags to this item.
    </div>

  </section>

{% endblock %}

{% block extra-footer %}
  {% flatblock "conversion-view-item" %}
{% endblock %}
