<div id="{{ name }}-widget" class="autocomplete-list-widget" data-url="{{ autocomplete_url }}">
  {% spaceless %}
  <ul class="clearfix">
      {% for val in value %}
        <li><a href="#" class="delete">Delete</a> <span>{{ val }}</span></li>
      {% endfor %}
  </ul>
  {% endspaceless %}
  <input type="hidden" id="id_{{ name }}" name="{{ name }}" value="{% if value %}{{ value|join:"," }}{% endif %}" />
  {% if new_item_label %}<label for="add-{{ name }}">{{ new_item_label }}:</label>{% endif %}
  <input type="text" id="add-{{ name }}" class="add" class="text" value="" />
</div>
