<html>
<body>
<p>Welcome {{ user.get_full_name }},</p>
<p>Thank you for joining OER Commons!</p>
<p>Your user name is <strong>{{ user.email|default:user.username }}</strong></p>
<p>Please visit the following link to
 activate your account and complete your registration.</p>
<p><a href="{{ url }}?code={{ key }}">{{ url }}?code={{ key }}</a></p>
<p>If the link doesn't work, copy and paste it in your browser, or enter this
 confirmation code {{ key }} at 
 <a href="{{ url }}">{{ url }}</a>.</p>
<p>We're excited to have you as a member of OER Commons. Once you activate your
 account, you can contribute your own items, and tag, rate, review, and save
  existing items. Please contact us at info@oercommons.org with any questions
   or comments you may have. Again, welcome!</p>
<p>The OER Commons Team</p>
</body>
</html>
