<table><tbody>
  {% for field in fields %}
    <tr>
      <td class="label">{{ field.label }}</td>
      <td>
        <select name="cc-question-{{ field.id }}">
          {% for option in field.enum %}
            <option value="{{ option.value }}">{{ option.text }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
  {% endfor %}
  <tr><td colspan="2" class='buttons'>
    <img class="loader hide" alt="Loading..." src="{{ STATIC_URL }}images/ajax-loader.gif" />
    <input type="button" name="issue" value="Choose" class="button" />
  </td></tr>
</tbody></table>
