{% load utils %}

{% with form.derived as field %}
  {% with "Derived" as label %}
    {% include "materials/forms/include/checkbox-field.html" %}
  {% endwith %}
{% endwith %}

<div class="derived-fields{% if not form.derived|bound_field_value %} hidden{% endif %}">
  {% with form.derived_title as field %}
    {% include "include/form-field.html" %}
  {% endwith %}
  {% with form.derived_url as field %}
    {% include "include/form-field.html" %}
  {% endwith %}
  {% with form.derived_description as field %}
    {% include "include/form-field.html" %}
  {% endwith %}
</div>
