{% load materials_tags %}
{% load utils %}
<div class="cou fields">

  <div class="field">
    <div class="help">Please indicate the existing license for this item. To
      generate a Creative Commons license for the item, please go to 
      <a href="http://creativecommons.org/license/">http://creativecommons.org/license/</a></div>
    {% with form.license_type as field %}
      {{ field }}
    {% endwith %}
  </div>
  
  <div class="field cc-latest{% if form.license_type|bound_field_value != "cc" %} hidden{% endif %}">
    {% with form.license_cc as field %}
      <span class="choose">(<a href="#">choose...</a>)</span>
      <div class="errors">
        {% for error in field.errors %}
          <label class="error">{{ error }}</label>
        {% endfor %}
      </div>
      {{ field }}
      {% if form.license_type|bound_field_value == "cc" and field|bound_field_value %}
        {% with field|bound_field_value as license_url %}
        <a class="name" href="{{ license_url }}">{% get_cc_license_name license_url %}</a>
        {% endwith %}
      {% else %}
        <a class="name hidden" href="#"></a>
      {% endif %}
      <div class="selection-widget hidden">
        {% cc_selection_widget %}
      </div>
    {% endwith %}
  </div>
    
  <div class="field cc-old{% if form.license_type|bound_field_value != "cc-old" %} hidden{% endif %}">
    {% with form.license_cc_old as field %}
      <div class="errors">
        {% for error in field.errors %}
          <label class="error">{{ error }}</label>
        {% endfor %}
      </div>
      {{ field }}
    {% endwith %}
  </div>

  <div class="custom-license{% if form.license_type|bound_field_value != "custom" %} hidden{% endif %}">
    {% with form.license_custom_name as field %}
      <div class="field required">
        <div class="errors">
          {% for error in field.errors %}
            <label class="error">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="label">{{ field.label_tag }}</div>
        {{ field }}
      </div>
    {% endwith %}
    {% with form.license_custom_url as field %}
      <div class="field">
        <div class="errors">
          {% for error in field.errors %}
            <label class="error">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="label">{{ field.label_tag }}</div>
        {{ field }}
      </div>
    {% endwith %}
  </div>
      
  {% with form.license_description as field %}
    {% include "include/form-field.html" %}
  {% endwith %}
  
  {% if "cou_bucket" in form.fields %}
    {% with form.cou_bucket as field %}
      {% include "include/form-field.html" %}
    {% endwith %}
  {% endif %}
  
  {% with form.copyright_holder as field %}
    {% include "include/form-field.html" %}
  {% endwith %}

</div>
