{% load utils %}

{% with form.has_prerequisites as field %}
  {% include "materials/forms/include/checkbox-field.html" %}
{% endwith %}
<fieldset class="prerequisites-fields{% if not form.has_prerequisites|bound_field_value %} hide{% endif %}">
  <legend>First suggested pre-requisite</legend>
  <table class="columns"><tbody><tr>
    <td>
      {% with form.prerequisite_1_title as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form.prerequisite_1_url as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
  </tr></tbody></table>
</fieldset>

<fieldset class="prerequisites-fields{% if not form.has_prerequisites|bound_field_value %} hide{% endif %}">
  <legend>Second suggested pre-requisite</legend>
  <table class="columns"><tbody><tr>
    <td>
      {% with form.prerequisite_2_title as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form.prerequisite_2_url as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
  </tr></tbody></table>
</fieldset>

{% with form.has_postrequisites as field %}
  {% include "materials/forms/include/checkbox-field.html" %}
{% endwith %}
<fieldset class="postrequisites-fields{% if not form.has_postrequisites|bound_field_value %} hide{% endif %}">
  <legend>First suggested post-requisite</legend>
  <table class="columns"><tbody><tr>
    <td>
      {% with form.postrequisite_1_title as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form.postrequisite_1_url as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
  </tr></tbody></table>
</fieldset>

<fieldset class="postrequisites-fields{% if not form.has_postrequisites|bound_field_value %} hide{% endif %}">
  <legend>Second suggested post-requisite</legend>
  <table class="columns"><tbody><tr>
    <td>
      {% with form.postrequisite_2_title as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
    <td>
      {% with form.postrequisite_2_url as field %}
        {% include "include/form-field.html" %}
      {% endwith %}
    </td>
  </tr></tbody></table>
</fieldset>
