{% load utils %}

{% with form.in_rss as field %}
  {% with "Include in RSS" as label %}
    {% include "materials/forms/include/checkbox-field.html" %}
  {% endwith %}
{% endwith %}

<div class="rss-fields{% if not form.in_rss|bound_field_value %} hidden{% endif %}">
  {% with form.rss_description as field %}
    <div class="field required">
      <div class="errors">
        {% for error in field.errors %}
          <label class="error">{{ error }}</label>
        {% endfor %}
      </div>
      <div class="label">{{ field.label_tag }}</div>
      {{ field }}
    </div>
  {% endwith %}
  {% with form.rss_timestamp as field %}
    <div class="field required">
      <div class="errors">
        {% for error in field.errors %}
          <label class="error">{{ error }}</label>
        {% endfor %}
      </div>
      <div class="label">{{ field.label_tag }}</div>
      {{ field }}
    </div>
  {% endwith %}
</div>
