<nav class="index-navigation clearfix {{ class }}">
  {% spaceless %}
  <ul class="expand-links">
    <li>
      <a class="expand-all dashed" href="#">Expand all</a>
    </li>
    <li>
      <a class="collapse-all dashed" href="#">Collapse all</a>
    </li>
  </ul>
  {% endspaceless %}

  {% if pagination.pages|length > 1 %}
    <div class="pagination">
      <ul>
        {% if pagination.prev_page_url %}
          <li class="prev">
            <a title="Previous page" rel="prev" href="{{ pagination.prev_page_url }}">&larr; Previous page</a>
          </li>
        {% else %}
          <li class="prev disabled"><a href="#">&larr; Previous page</a></li>
        {% endif %}

        {% for page in pagination.pages %}
          {% if page %}
            {% if page.url %}
              <li><a href="{{ page.url }}">{{ page.number }}</a></li>
            {% else %}
              <li class="active"><a href="#">{{ page.number }}</a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><a href="#">…</a></li>
          {% endif %}
        {% endfor %}

        {% if pagination.next_page_url %}
          <li class="next">
            <a title="Next page" rel="next" href="{{ pagination.next_page_url }}">Next page &rarr;</a>
          </li>
        {% else %}
          <li class="next disabled"><a href="#">Next page &rarr;</a></li>
        {% endif %}

      </ul>
    </div>
  {% endif %}
</nav>
