{% load materials_tags %}
<article class="item clearfix collapsible{% if forloop.last %} last{% endif %}" data-identifier="{{ item.identifier }}">
  <a class="expand-button collapsed" href="#"></a>
  {% include "materials/include/index-item-right.html" %}
  <div class="details">
    <h1>
      <a class="item-link" href="{{ item.view_url }}">{{ item.title|safe }}</a>
      {% if item.view_full_url %}
        <a {% if item.url and not request.preferences.show_toolbar %}href="{{ item.url }}" target="_blank"{% else %}href="{{ item.view_full_url }}"{% endif %}>
          <img alt="{{ item.title }}" src="{{ STATIC_URL }}images/external-link-icon.gif" />
        </a>
      {% endif %}
    </h1>
    {% include "materials/include/index-item-details.html" %}
  </div>
</article>
