<a class="expand-link collapsed dashed" href="#">Show item description</a>
<dl class="collapsed">
  <dt>Abstract:</dt>
  <dd>{{ item.abstract|linebreaks }}</dd>
</dl>
<dl>
  {% if item.general_subjects %}
  <dt>Subject:</dt>
  <dd>{{ item.general_subjects|join:", " }}</dd>
  {% endif %}

  {% if item.grade_levels %}
  <dt>Grade Level:</dt>
  <dd>{{ item.grade_levels|join:", " }}</dd>
  {% endif %}

  {% if item.topics %}
  <dt class="topics">SubTopics:</dt>
  <dd class="topics clearfix">
    {% for topic in item.topics %}
      {% if topic.other %}
        <a href="{{ topic.microsite.get_absolute_url }}"
           class="{{ topic.microsite.slug }}">{{ topic.microsite.name }}</a>
      {% else %}
        <a href="{% url materials:topic_index topics=topic.slug, microsite=topic.microsite.slug %}"
           class="{{ topic.microsite.slug }}">{{ topic.name }}</a>
      {% endif %}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>
  {% endif %}

  {% if item.collection %}
  <dt>Collection:</dt>
  <dd>
    <a href="{% url materials:collection_index collection=item.collection.slug %}">{{ item.collection.name }}</a>
  </dd>
  {% endif %}
</dl>
