{% extends "base.html" %}
{% load myitems_tags %}

{% block column-left %}
    {% myitems_views_portlet %}
    {% my_tags_portlet %}
{% endblock %}

{% block bodyclass %}no-right-column{% endblock %}

{% block column-right %}{% endblock %}

{% block content %}
    {% include "myitems/include/user-info.html" %}

    {% if items %}
        <div class="materials-index collapsibles">
            {% block top-navigation %}{% endblock %}

            {% block top-hint %}{% endblock %}

            {% for item in items %}
                <article class="item clearfix {% if forloop.last %} last{% endif %}" data-identifier="{{ item.identifier }}">
                    <h1>
                        <a class="item-link" href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a>
                    </h1>
                    <ul class="folder-list">
                        {% for folder in item.folders %}
                            <li data-folder-id="{{ folder.id }}">{{ folder.name }} <a href="#" class="delete">Delete</a></li>
                        {% endfor %}
                        <li class="last">
                            <a href="#">Add</a>
                            <input type="text" />
                        </li>
                    </ul>
                </article>
            {% endfor %}

            {% block bottom-navigation %}{% endblock %}

            {% block bottom-hint %}{% endblock %}
        </div>

    {% else %}
        {% block no-items %}
            {% if no_items_message %}<p class="clear">{{ no_items_message }}</p>{% endif %}
        {% endblock %}
    {% endif %}

{% endblock %}
