{% extends "base.html" %}
{% load myitems_tags %}

{% block column-left %}
    {% myitems_views_portlet %}
    {% my_tags_portlet %}
{% endblock %}

{% block bodyclass %}no-right-column{% endblock %}

{% block column-right %}{% endblock %}

{% block content %}
    {% include "myitems/include/user-info.html" %}

    {% if items %}
        <div class="materials-index">
            <form id="folder-item-form" class="hidden">
                <input type="text" />
                <a class="dashed" href="#">Submit</a>
            </form>

            {% for item in items %}
                <article class="item clearfix{% if forloop.last %} last{% endif %}" data-identifier="{{ item.identifier }}">
                    <h1>
                        <a class="item-link" href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a>
                    </h1>
                    <ul class="folder-list">
                        {% for folder in item.folders %}
                            <li data-folder-id="{{ folder.id }}">{{ folder.name }} <a href="#" class="delete">Delete</a></li>
                        {% endfor %}
                        <li class="last">
                            <a class="dashed" href="#">Add</a>
                        </li>
                    </ul>
                </article>
            {% endfor %}

            {% with "bottom" as class %}
                {% include "materials/include/index-navigation.html" %}
            {% endwith %}
        </div>

    {% else %}
        {% block no-items %}
            {% if no_items_message %}<p class="clear">{{ no_items_message }}</p>{% endif %}
        {% endblock %}
    {% endif %}

{% endblock %}
