{% extends "myitems/myitems.html" %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.myitems.init();
    });
  </script>
{% endblock %}


{% block content %}
  {% include "myitems/include/user-info.html" %}

  {% if items %}
    <div class="materials-index saved searches">

    {% for item in items %}
      {% include "myitems/include/index-saved-search.html" %}
    {% endfor %}

    </div>

    <div class="unsave-confirmation message">
      Remove this saved search?
      <a href="#" class="unsave">Yes, remove</a> | <a href="#" class="cancel">Cancel</a>
    </div>
  {% else %}
    <p class="clear">You have not saved any search yet.</p>
  {% endif %}
  
{% endblock %}
