{% extends "lessons/authoring/base.html" %}

{% block content %}

  <form action="{% url lessons:edit_organize lesson_id=lesson.id %}" method="post"
        class="formatted" id="organize-form">

    <aside class="column-left">

    </aside><section id="content" class="content column-main">

      <section class="image">
        <header>
          <h1>Add a Picture</h1>
          <span>(optional)</span>
        </header>
        <img src="{% if lesson.image %}{{ lesson.get_thumbnail.url }}{% else %}http://placehold.it/220x150/dddddd/333333&text=No%20image{% endif %}" />
        <div class="controls">
          <p>Choose and image for your lesson</p>
          <a href="{% url lessons:edit_image_upload lesson_id=lesson.id %}" class="upload rc3">Upload</a>
          <a href="{% url lessons:edit_image_remove lesson_id=lesson.id %}" class="remove rc3"{% if not lesson.image %} style="display: none;"{% endif %}>Remove</a>
        </div>
      </section>

      <section class="organize">
        <header>
          <h1>Organize</h1>
          <span>(optional)</span>
        </header>
        {% with form.group as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
        {% with form.instruction_date as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
        {% with form.keywords as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
      </section>

      <section class="align">
        <header>
          <h1>Align</h1>
          <span>(optional)</span>
        </header>
        <div class="field">
          <div class="help">One liner about aligning to standards.</div>
          <div class="label">
            <label>Common Core Curriculum Standards</label>
          </div>
          <a href="#" class="align rc3">Align</a>
      </div>
      </section>

      <div class="buttons">
        <a href="#">Next</a>
      </div>

    </section><aside class="column-left">
    </aside>

  </form>

{% endblock %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.authoring.init_organize_form();
    });
  </script>
{% endblock %}