{% extends "lessons/authoring/base.html" %}

{% block content %}

  <form action="{% url lessons:edit_organize lesson_id=lesson.id %}" method="post"
        class="formatted" id="organize-form">

    <aside class="column-left">

    </aside><section id="content" class="content column-main">
      {% with form.title as field %}
        {% include "include/form-field.html" %}
      {% endwith %}

      {% with form.subjects as field %}
        {% include "include/form-field.html" %}
      {% endwith %}

      {% with form.summary as field %}
        {% include "include/form-field.html" %}
      {% endwith %}

      {% with form.goals as field %}
        {% include "include/form-field.html" %}
      {% endwith %}

      <div class="buttons">
        <a href="#">Next</a>
      </div>

    </section><aside class="column-left">
    </aside>

  </form>

{% endblock %}

{% block extra-js %}
  <script type="text/javascript">
    $(function() {
      oer.authoring.init_organize_lesson();
    });
  </script>
{% endblock %}