.fl-subtitle-mainWrap {
    display: table-cell;
}
.fl-subtitle-panel-languages {
    position: absolute;
}
.fl-subtitle-widgetWrap {
    display: block;
    overflow: hidden;
}
.flc-subtitle-panel {
    float: right;
    font-family: "Myriad Pro",Helvetica,sans-serif;
}
div.fl-subtitle-widgetWrap, div.fl-subtitle-mainWrap, div.fl-subtitle-panel, div.fl-subtitle-panel div.fl-subtitle-panel-menu, div.fl-subtitle-panel .fl-subtitle-panel-languages {
    margin-bottom: 0;
}
.fl-subtitle-panel-menu {
    background-color: #E6E6E6;
    padding: 8px;
    color: #A7A7A7;
    border-color: #E0E0E0;
    border-width: 2px;
    width: 200px;
    text-shadow: #ffffff 1px 1px 1px;
}
.fl-subtitle-panel-languages {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-height: 281px;
    overflow-y: scroll;
}
.fl-subtitle-panel-languages li a {
    display: block;
    text-decoration: none;
    background-color: #E6E6E6;
    background-image: url(../images/pencil-default.png);
    background-repeat: no-repeat;
    background-position: 10.5px center;
    padding: 8px 8px 8px 30px;
    color: #4091C4;
    border-color: #E0E0E0;
    border-width: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 163px;
    min-height: 19px;
    border-top: #E0E0E0 2px solid;
}
.fl-subtitle-panel-languages li a:hover {
    color: #9BCB37;
    background-image: url(../images/pencil-hover.png);
}
.fl-subtitle-panel-languages li a.fl-subtitle-panel-addSubtitle {
    background-image: url(../images/arrow-default.png);
}
.fl-subtitle-panel-languages li a.fl-subtitle-panel-addSubtitle:hover {
    background-image: url(../images/arrow-hover.png);
}
.fl-subtitle-panel-menu .fl-subtitle-panel-addSubtitle {
    text-decoration: none;
    background-image: url(../images/arrow-default.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    padding: 8px 8px 8px 30px;
    color: #4091C4;
}
.fl-subtitle-panel-menu .fl-subtitle-panel-addSubtitle:hover {
    background-image: url(../images/arrow-hover.png);
    color: #9BCB37;
}
.fl-subtitle-panel-tooltip {
    position    : absolute;
    padding     : 3px 5px;
    background-color: #FFCB33;
    color: black;
    font-family: "Myriad Pro",Helvetica,sans-serif;
    border: #F6E8C4 1px solid; 
}