{% extends "base.html" %}
{% load scss %}

{% block bodyclass %}authoring describe-step{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}{% scss "styles/authoring.scss" %}">
{% endblock %}

{% block layout %}
  <form id="describe-form" action="{% url authoring:describe pk=object.material.pk %}" method="post" class="authoring-form">
    <div class="authoring-head">
      <div class="steps-icons describe"></div>
      <h1 id="material-title">{{ object.title }}</h1>
      {% include "include/status-messages.html" %}
      <div class="clear"></div>
    </div>

    {% spaceless %}
      <div id="toolbar" class="help">Enter descriptions to help others discover your work:</div>
    {% endspaceless %}

    <div class="layout-columns">

      <div class="column-left">
        {% with form.summary as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
      </div>

      <div class="column-main">
        {% with form.learning_goals as field %}{% with "learning-goals" as field_class %}
          {% include "include/form-field.html" %}
        {% endwith %}{% endwith %}
        {% with form.keywords as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
      </div>

      <div class="column-right">
        {% with form.subjects as field %}{% with "subjects" as field_class %}
          {% include "include/form-field.html" %}
        {% endwith %}{% endwith %}
        {% with form.grade_level as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
        {% with form.language as field %}
          {% include "include/form-field.html" %}
        {% endwith %}
      </div>

      {% spaceless %}
      <div class="buttons">
        <input type="hidden" name="next" value="">
        <a href="#" class="prev"><span class="icon"></span></a>
        <a href="#" class="next"><span class="wrap">Next Step: <strong>Submit</strong></span><span class="icon"></span></a>
      </div>
      {% endspaceless %}
    </div>
  </form>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra-js %}
  <script src="{{ STATIC_URL }}javascripts/authoring/describe.js"></script>
  <script>
    $(function(e) {
      new Describe();
    });
  </script>
{% endblock %}
