{% extends "base.html" %}
{% load scss %}

{% block bodyclass %}no-columns{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}{% scss "styles/authoring.scss" %}">
{% endblock %}

{% block above-content %}{% endblock %}
{% block status-messages %}{% endblock %}

{% block content %}
  <form id="edit-authored-material"
        action="{% url authoring:edit material_id=material.id %}" method="post">
    {% spaceless %}
      <div class="actions">
        <a href="#save" class="button">Save</a>
        <a href="#preview" class="preview">Preview</a>
        <a href="#edit" class="edit hidden">Edit</a>
        <a href="#done" class="done">Done</a>
      </div>
      {% include "include/status-messages.html" %}
      <h1 id="material-title">{% if material.title %}{{ material.title }}{% else %}Click here to edit title{% endif %}</h1>
      {{ form.title }}
    {% endspaceless %}
    <div id="editor">
      {% spaceless %}
      <div class="toolbar">
        <div class="text-style">
          <a href="#" class="select"><span>Text style...</span></a>
          <ul>
            <li><a href="#regular" class="regular"><span>Regular text</span></a></li>
            <li><a href="#header" class="header"><span>Header</span></a></li>
            <li><a href="#sub-header" class="sub-header"><span>Sub-header</span></a></li>
            <li><a href="#quote" class="quote"><span>Quote</span></a></li>
          </ul>
        </div>
        <span class="sep"></span>
        <a class="button bold" href="#bold">Bold</a>
        <a class="button italic" href="#italic">Italic</a>
        <a class="button underline" href="#underline">Underline</a>
        <span class="sep"></span>
        <a class="button link" href="#link">Link</a>
        <span class="sep"></span>
        <a class="button bullet-list" href="#bullet-list">Bullet list</a>
        <a class="button number-list" href="#number-list">Number list</a>
        <span class="sep"></span>
        <a class="button media" href="#media">Media</a>
        <div class="clear"></div>
      </div>
      <div id="media-dialog">
{#        TODO: add simple file input widget for browsers that don't support file drag'n'drop #}
        <div class="step upload" data-url="{% url authoring:upload material_id=material.id %}">
          <div class="left">
            <h2>Drop in a file</h2>
            <div class="drop-zone"></div>
            <input type="file" name="file">
          </div>
          <div class="sep"><span>or</span></div>
          <div class="right">
            <h2>Grab it from the web</h2>
            <input placeholder="http://" type="text" name="url">
            <p>Enter the web address or paste the code<br/>
            to the video, image, or document.</p>
          </div>
          <div class="actions">
            <a href="#cancel">Cancel</a>
            <a href="#ok">Ok</a>
          </div>
        </div>
        <div class="step upload-progress">
          <h2>Uploading your file, <strong></strong></h2>
          <div class="progress-ct">
            <div class="progress">
              <div class="fill"></div>
            </div>
            <div class="legend">0%</div>
          </div>
          <div class="actions">
            <a href="#cancel">Cancel</a>
          </div>
        </div>
        <div class="step image">
          <h2>Describe this image <strong></strong></h2>
          <div class="left">
          </div>
          <div class="right">
            <textarea placeholder="What's in this image? Describe it with a fiew words."></textarea>
          </div>
          <div class="actions">
            <a href="#cancel">Cancel</a>
            <a href="#ok">Ok</a>
          </div>
        </div>
        <div class="step document">
          <h2>Describe this attachment/document <strong></strong></h2>
          <div class="left">
            <input type="text" placeholder="Give this attachment/document a name">
          </div>
          <div class="actions">
            <a href="#cancel">Cancel</a>
            <a href="#ok">Ok</a>
          </div>
        </div>
      </div>
      {% endspaceless %}
      <div class="editor-area" contenteditable="true">
        {{ material.text|safe }}
      </div>
      <div class="preview hidden"></div>
      {{ form.text }}
    </div>
  </form>
  <div id="edit-link-dialog">
    <input type="text" name="url" placeholder="http://">
    <a href="#save" class="dashed">Save</a>
    <a href="#cancel" class="dashed">Cancel</a>
    <a href="#remove" class="remove dashed">Remove link</a>
  </div>
{% endblock %}

{% block extra-js %}
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.jeditable.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.iframe-transport.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.fileupload.js"></script>
  <script src="{{ STATIC_URL }}javascripts/authoring.js"></script>
  <script>
    $(function(e) {
      new oer.authoring.Editor();
    });
  </script>
{% endblock %}
