{% extends "base.html" %}

{% block bodyclass %}authoring-view{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}javascripts/videoPlayer/css/UIOptions-media.css">
  <link rel="stylesheet" href="{{ STATIC_URL}}javascripts/videoPlayer/css/VideoPlayer.css">
  <link rel="stylesheet" href="{{ STATIC_URL}}styles/authoring/view.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/infusion/components/subtitleWidget/css/SubtitleWidget.css">
{% endblock %}

{% block extra-js %}
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/lib/jquery-ui/js/jquery.ui.button.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/lib/captionator/js/captionator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_controllers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/ToggleButton.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/MenuButton.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_media.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_transcript.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_intervalEventsConductor.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_html5Captionator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/videoPlayer/js/VideoPlayer_unisub.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/authoring/afa.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/authoring/videoPlayer-integration.js"></script>
{% endblock %}

{% block layout %}

  {% include "include/header.html" %}

  {% if request.user.is_staff or request.user == material.author %}
    <div id="toolbar">
      <a href="{% url authoring:edit pk=material.pk %}">Back to edit mode</a>
    </div>
  {% endif %}

  <div class="oer-container layout-columns">

    <div class="column-left">
      <section id="toc">
        <h2>Table of Contents</h2>
        {{ toc }}
      </section>

      <section>
        <h2>Summary</h2>
        {{ object.abstract }}
      </section>

      <section>
        <h2>Learning Goals</h2>
        <ul>
          {% for goal in object.learning_goals.all %}
            <li>{{ goal }}</li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <a href="{{ object.get_absolute_url }}"><strong>"{{ object.title }}"</strong></a>
        {{ object.modified_timestamp|date:"Y" }}
        by <a href="#">{{ material.author.get_full_name|default:material.author }}</a>
        <br/>under <a href="{{ object.license.url }}">{{ object.license.name }}</a>
      </section>

      <section id="afa">
        {% include "authoring/include/afa.html" %}
      </section>

    </div>

    <div class="column-main clearfix">
      <article class="authored-content">
        <header>
          <h1>{{ object.title }}</h1>
          Created <strong>{{ object.modified_timestamp|date }}</strong> by <a href="#">{{ material.author.get_full_name|default:material.author }}</a>
        </header>
        {{ text }}
        <footer>
          {{ footnotes }}
        </footer>
      </article>
    </div>

  </div>
{% endblock %}

{% block footer %}{% endblock %}
