{% extends "base.html" %}

{% block bodyclass %}authoring-view{% if preview %} preview{% endif %}{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}styles/authoring/view.css">
{% endblock %}

{% block layout %}

  {% include "include/header.html" %}

  {% if request.user.is_staff or request.user == material.author %}
    {% spaceless %}
      <div id="toolbar">
        <div class="wrap">
          <a href="{% url authoring:edit pk=material.pk %}">Edit</a>
        </div>
      </div>
    {% endspaceless %}
  {% endif %}

  <div class="layout-columns">

    {% if not preview %}
      <div class="download-links">
        <a href="{{ object.get_pdf_url }}">download resource (PDF)</a>
      </div>
    {% endif %}

    <div class="column-left">
      <section id="toc">
        <h2>Table of Contents</h2>
        {{ toc }}
      </section>

      <section>
        <h2>Summary</h2>
        {{ object.abstract }}
      </section>

      <section>
        <h2>Learning Goals</h2>
        <ul>
          {% for goal in object.learning_goals.all %}
            <li>{{ goal }}</li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <a href="{{ object.get_absolute_url }}"><strong>"{{ object.title }}"</strong></a>
        {{ object.modified_timestamp|date:"Y" }}
        by <a href="#">{{ material.author.get_full_name|default:material.author }}</a>
        <br/>under <a href="{{ object.license.url }}">{{ object.license.name }}</a>
      </section>

    </div>

    <div class="column-main clearfix">
      <article class="authored-content">
        <header>
          <h1>{{ object.title }}</h1>
          Created <strong>{{ object.modified_timestamp|date }}</strong> by <a href="#">{{ material.author.get_full_name|default:material.author }}</a>
        </header>
        {{ text }}
        <footer>
          {{ footnotes }}
        </footer>
      </article>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
