{% extends "base.html" %}
{% load scss %}

{% block bodyclass %}authoring write-step{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}{% scss "styles/authoring.scss" %}">
{% endblock %}

{% block extra-head %}
  <script src="{{ STATIC_URL }}javascripts/lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}javascripts/lib/rangy/rangy-selectionsaverestore.js"></script>
  <script src="{{ STATIC_URL }}javascripts/lib/rangy/rangy-cssclassapplier.js"></script>
{% endblock %}

{% block layout %}
  <form id="write-form" action="{% url authoring:write pk=object.material.pk %}" method="post" class="authoring-form">
    <div class="authoring-head">
      <div class="step-icons">
        <a href="{% url authoring:write pk=object.material.pk %}" class="write active"></a>
        <a href="{% url authoring:describe pk=object.material.pk %}" class="describe"></a>
        <a href="{% url authoring:submit pk=object.material.pk %}" class="submit"></a>
      </div>
      <h1 id="material-title">{% if object.title %}{{ object.title }}{% else %}Click here to edit title{% endif %}</h1>
      {{ form.title }}
      <div class="actions">
        <a href="#preview" class="preview">Preview</a>
        <a href="#edit" class="edit hidden">Edit</a>
        <a href="#save" class="button">Save</a>
      </div>
      {% include "include/status-messages.html" %}
      <div class="clear"></div>
    </div>

    {% spaceless %}
      <div id="toolbar">
        <a class="button undo disabled" href="#undo">Undo</a>
        <a class="button redo disabled" href="#redo">Redo</a>
        <span class="sep"></span>
        <div class="text-style">
          <a href="#" class="select"><span>Text style...</span></a>
          <ul>
            <li><a href="#header" class="header"><span>Header</span></a></li>
            <li><a href="#sub-header" class="sub-header"><span>Sub-header</span></a></li>
            <li><a href="#paragraph" class="paragraph"><span>Paragraph</span></a></li>
            <li><a href="#quote" class="quote"><span>Long Quote</span></a></li>
          </ul>
        </div>
        <a class="button bullet-list" href="#bullet-list">Bullet list</a>
        <a class="button number-list" href="#number-list">Number list</a>
        <a class="button indent" href="#indent">Increase indent</a>
        <a class="button outdent" href="#outdent">Decrease indent</a>
        <span class="sep"></span>
        <a class="button table" href="#table">Insert table</a>
        <span class="sep"></span>
        <a class="button bold" href="#bold">Bold</a>
        <a class="button italic" href="#italic">Italic</a>
        <a class="button underline" href="#underline">Underline</a>
        <span class="sep"></span>
        <div class="color-selector">
          <a class="button text-color" href="#text-color">Change text color</a>
          <ul class="text">
            {% for i in 12345|make_list %}
              <li class="text-color-{{ i }}"></li>
            {% endfor %}
            <li class="text-color-remove"></li>
          </ul>
        </div>
        <div class="color-selector">
          <a class="button bg-color" href="#bg-color">Change background color</a>
          <ul class="bg">
            {% for i in 12345|make_list %}
              <li class="bg-color-{{ i }}"></li>
            {% endfor %}
            <li class="bg-color-remove"></li>
          </ul>
        </div>
        <span class="sep"></span>
        <a class="button link" href="#link">Insert link</a>
        <span class="sep"></span>
        <a class="button media" href="#media">Media</a>
        <span class="sep"></span>
        <a class="button reference" href="#reference">Insert reference</a>
        <div class="clear"></div>

      </div>
    {% endspaceless %}

    <div class="layout-columns">

      <div class="column-left">
        <section id="outline">
          <h2>Table of Contents</h2>
        </section>
      </div>

      <div class="column-main">

        <div id="media-dialog">
  {#        TODO: add simple file input widget for browsers that don't support file drag'n'drop #}
          <div class="step upload" data-url="{% url authoring:upload pk=object.material.pk %}">
            <div class="head">I have permission to upload this item: <a href="#hide" class="hide">hide</a></div>
            <div class="body">
              <div class="left">
                <div class="drop-zone">
                  <span class="find">Find file
                    <input id="fileupload" type="file" name="file">
                  </span>
                  <span>drag &amp; drop</span>
                </div>
              </div>
              <div class="right">
                <label for="id_url">Grab a video, image, audio, or document from the web</label>
                <input placeholder="http://" type="text" name="url" id="id_url">
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
          <div class="step upload-progress">
            <div class="head">I have permission to upload this item:</div>
            <div class="body">
              uploading your file: <strong class="filename"></strong>
              <div class="progress">
                <div class="fill"><span class="legend">0%</span></div>
              </div>
              <a href="#cancel" class="cancel">cancel upload</a>
            </div>
          </div>
          <div class="step image">
            <div class="head">
              <a href="#"></a>
              <ul>
                <li class="embed">embed</li>
                <li class="download">download link</li>
              </ul>
            </div>
            <div class="body">
              <div class="left">
              </div>
              <div class="right">
                <input type="text" placeholder="Image title">
                <textarea placeholder="What's in this image? Describe it with a few words."></textarea>
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
          <div class="step document">
            <div class="head">&nbsp;</div>
            <div class="body">
              <div class="left">

              </div>
              <div class="right">
                <input type="text" placeholder="Give this attachment/document a name">
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
          <div class="step video">
            <div class="head">&nbsp;</div>
            <div class="body">
              <div class="left">
              </div>
              <div class="right">
                <input type="text" placeholder="What's in this video? Describe it with a few words.">
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
        </div>

        <div id="editor-area" class="authored-content" contenteditable="true" data-load-embed-url="{% url authoring:load-embed %}">
          {{ object.text|safe }}
        </div>
        <div class="preview authored-content hidden"></div>
        <div id="footnotes"></div>
        {{ form.text }}
      </div>

      <input type="hidden" name="next">

      {% spaceless %}
      <div class="buttons">
        <a href="{% url authoring:describe pk=object.material.pk %}" class="next"><span class="wrap">Next Step: <strong>Describe</strong></span><span class="icon"></span></a>
      </div>
      {% endspaceless %}

    </div>

  </form>

  <div id="link-dialog" class="popup-dialog">
    <div class="head">Link <span class="triangle"></span></div>
    <div class="body">
      <div class="field">
        <label for="id_link_text">Displayed text</label>
        <input type="text" id="id_link_text" name="link_text" placeholder="Enter text link will appear as">
      </div>
      <div class="field">
        <label for="id_link_url">Website, email</label>
        <input type="text" id="id_link_url" name="link_url" placeholder="Enter link here">
      </div>
    </div>
    <div class="actions">
      <a href="#remove" class="remove">clear link</a>
      <a href="#save" class="button primary">Save</a>
      <a href="#cancel" class="button">Cancel</a>
    </div>
  </div>

  <div id="reference-dialog" class="popup-dialog">
    <div class="head">Reference <span class="triangle"></span></div>
    <div class="body">
      <textarea name="referebce_text" placeholder="Enter the source of this content through author, title of work, url, date, etc."></textarea>
    </div>
    <div class="actions">
      <a href="#remove" class="remove">Clear reference</a>
      <a href="#save" class="button primary">Save</a>
      <a href="#cancel" class="button">Cancel</a>
    </div>
  </div>


{% endblock %}

{% block footer %}{% endblock %}

{% block extra-js %}
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.blockUI.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.jeditable.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.iframe-transport.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.fileupload.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.linkify.js"></script>
  <script src="{{ STATIC_URL }}javascripts/authoring/base.js"></script>
  <script src="{{ STATIC_URL }}javascripts/authoring/write.js"></script>
  <script>
    $(function(e) {
      initStepButtons();
      new Write();
    });
  </script>
{% endblock %}
