{% extends "base.html" %}
{% load scss %}

{% block bodyclass %}authoring-tool{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" href="{{ STATIC_URL}}{% scss "styles/authoring.scss" %}">
{% endblock %}

{% block layout %}
  <form id="write-form" action="{% url authoring:write material_id=material.id %}" method="post">
    <div class="head">
      <div class="steps-icons write"></div>
      <h1 id="material-title">{% if material.title %}{{ material.title }}{% else %}Click here to edit title{% endif %}</h1>
      {{ form.title }}
      <div class="actions">
        <a href="#preview" class="preview">Preview</a>
        <a href="#edit" class="edit hidden">Edit</a>
        <a href="#save" class="button">Save</a>
      </div>
      {% include "include/status-messages.html" %}
    </div>

    {% spaceless %}
      <div id="toolbar">
        <a class="button undo disabled" href="#undo">Undo</a>
        <a class="button redo disabled" href="#redo">Redo</a>
        <span class="sep"></span>
        <div class="text-style">
          <a href="#" class="select"><span>Text style...</span></a>
          <ul>
            <li><a href="#header" class="header"><span>Header</span></a></li>
            <li><a href="#sub-header" class="sub-header"><span>Sub-header</span></a></li>
            <li><a href="#paragraph" class="paragraph"><span>Paragraph</span></a></li>
            <li><a href="#quote" class="quote"><span>Long Quote</span></a></li>
          </ul>
        </div>
        <a class="button bullet-list" href="#bullet-list">Bullet list</a>
        <a class="button number-list" href="#number-list">Number list</a>
        <a class="button indent" href="#indent">Increase indent</a>
        <a class="button outdent" href="#outdent">Decrease indent</a>
        <span class="sep"></span>
        <a class="button table" href="#table">Insert table</a>
        <span class="sep"></span>
        <a class="button bold" href="#bold">Bold</a>
        <a class="button italic" href="#italic">Italic</a>
        <a class="button underline" href="#underline">Underline</a>
        <span class="sep"></span>
        <a class="button text-color" href="#text-color">Change text color</a>
        <a class="button bg-color" href="#bg-color">Change background color</a>
        <span class="sep"></span>
        <a class="button link" href="#link">Insert link</a>
        <span class="sep"></span>
        <a class="button media" href="#media">Media</a>
        <span class="sep"></span>
        <a class="button reference" href="#reference">Insert reference</a>
        <div class="clear"></div>

      </div>
    {% endspaceless %}

    <div class="layout-columns">

      <div class="column-left" id="outline">
        <h2>Table of Contents</h2>
      </div>

      <div class="column-main">

        <div id="media-dialog">
  {#        TODO: add simple file input widget for browsers that don't support file drag'n'drop #}
          <div class="step upload" data-url="{% url authoring:upload material_id=material.id %}">
            <div class="head">I have permission to upload this item: <a href="#hide" class="hide">hide</a></div>
            <div class="body">
              <div class="left">
                <div class="drop-zone">
                  <a href="#find">Find file</a>
                  <span>drag &amp; drop</span>
                </div>
                <input type="file" name="file">
              </div>
              <div class="right">
                <label for="id_url">Grab a video, image, audio, or document from the web</label>
                <input placeholder="http://" type="text" name="url" id="id_url">
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
          <div class="step upload-progress">
            <div class="head">I have permission to upload this item: <a href="#hide" class="hide">hide</a></div>
            <div class="body">
              uploading your file: <strong class="filename"></strong>
              <div class="progress">
                <div class="fill"><span class="legend">0%</span></div>
              </div>
              <a href="#cancel" class="cancel">cancel upload</a>
            </div>
          </div>
          <div class="step image">
            <div class="head">
              <a href="#"></a>
              <ul>
                <li class="embed">embed</li>
                <li class="download">download link</li>
              </ul>
            </div>
            <div class="body">
              <div class="left">
              </div>
              <div class="right">
                <input type="text" placeholder="Image title">
                <textarea placeholder="What's in this image? Describe it with a fiew words."></textarea>
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
          <div class="step document">
            <h2>Describe this attachment/document <strong></strong></h2>
            <div class="left">
              <input type="text" placeholder="Give this attachment/document a name">
            </div>
            <div class="actions">
              <a href="#cancel">Cancel</a>
              <a href="#ok">Ok</a>
            </div>
          </div>
          <div class="step video">
            <div class="head">&nbsp;</div>
            <div class="body">
              <div class="left">
              </div>
              <div class="right">
                <input type="text" placeholder="What's in this video? Describe it with a fiew words.">
                <a href="#submit" class="submit">submit</a>
              </div>
            </div>
          </div>
        </div>

        <div id="editor-area" class="authored-content" contenteditable="true" data-load-embed-url="{% url authoring:load-embed %}">
          {{ material.text|safe }}
        </div>
        <div class="preview authored-content hidden"></div>
        {{ form.text }}
      </div>

      {% spaceless %}
      <div class="buttons">
        <input type="hidden" name="next" value="true">
        <a href="#" class="next"><span class="wrap">Next Step: <strong>Describe</strong></span><span class="icon"></span></a>
      </div>
      {% endspaceless %}

    </div>

    <div id="edit-link-dialog">
      <input type="text" name="url" placeholder="http://">
      <a href="#save" class="dashed">Save</a>
      <a href="#cancel" class="dashed">Cancel</a>
      <a href="#remove" class="remove dashed">Remove link</a>
    </div>

  </form>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra-js %}
  <script src="{{ STATIC_URL }}javascripts/lib/rangy/rangy-core.js"></script>
  <script src="{{ STATIC_URL }}javascripts/lib/rangy/rangy-selectionsaverestore.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.blockUI.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.jeditable.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.iframe-transport.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery/jquery.fileupload.js"></script>
  <script src="{{ STATIC_URL }}javascripts/authoring/write.js"></script>
  <script>
    $(function(e) {
      new Write();
    });
  </script>
{% endblock %}
