.authored-content {
  padding: 20px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Times New Roman", serif;

  div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, ol, ul, table, figure {
    margin-bottom: 1em;
  }

  ul, ol {
    list-style-position: inside;
  }

  ul > ul, ol > ol, ul > ol, ul > ol {
    margin-left: 2em;
    margin-bottom: 0;
  }

  h2 {
    color: #690;
    border-bottom: 1px solid;
    font-size: 25px;
  }

  h3 {
    color: #9c3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  blockquote {
    padding-left: 7px;
    border-left: 3px solid #fc3;
    font-style: italic;
  }

  blockquote.l1 {
    margin-left: 2em;
  }

  blockquote.l2 {
    margin-left: 4em;
  }

  blockquote.l3 {
    margin-left: 6em;
  }

  blockquote.l4 {
    margin-left: 8em;
  }

  blockquote.l5 {
    margin-left: 10em;
  }

  a.download {
    display: inline-block;
    padding-left: 20px;
    background: url(../../images/authoring/icon-download.png) 0% 50% no-repeat;
    font-style: normal;
  }

  figcaption {
    font-family: "Myriad Pro", Helvetica, sans-serif;
  }

  figure.image {
    text-align: center;
    &.left {
      float: left;
      margin-right: 10px;
    }
    &.right {
      float: right;
      margin-left: 10px;
    }
    figcaption {
      font-style: italic;
      strong {
        font-style: normal;
        color: #666;
      }
    }
  }

  figure.download {
    font-size: 110%;
    padding: 3px 0 3px 22px;
    background: url(../images/authoring/download_icon&16.png) 0% 50% no-repeat;
  }

  figure.video {
    text-align: center;
    iframe, object, embed {
      margin: 0 auto;
    }
    figcaption {
      font-style: italic;
    }
    .unisubs-widget {
      margin: 0 auto;
    }
  }

  .text-color-1 {
    color: #940163;
  }
  .text-color-2 {
    color: #970000;
  }
  .text-color-3 {
    color: #663300;
  }
  .text-color-4 {
    color: #336600;
  }
  .text-color-5 {
    color: #003366;
  }
  .bg-color-1 {
    background-color: #f7c5c5;
  }
  .bg-color-2 {
    background-color: #f4ce73;
  }
  .bg-color-3 {
    background-color: #fceb4f;
  }
  .bg-color-4 {
    background-color: #d1e588;
  }
  .bg-color-5 {
    background-color: #bde8f2;
  }

  a.reference {
    font-size: 13px;
    margin: 0 3px;
    vertical-align: super;
  }

}
