{% extends "base.html" %}

{% block content %}

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "inline";
    feedback_widget_options.company = "oercommons";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>

{#<form name="feedback" class="formatted feedback" method="post" action="{% url feedback %}">#}
{#  <p>Please send us your feedback</p>#}
{#  {% for field in form %}#}
{#    {% include "include/form-field.html" %}#}
{#  {% endfor %}#}
{#  <div class="buttons">#}
{#    <input type="submit" class="button" name="send" value="Send" />#}
{#    <input type="submit" class="button" name="cancel" value="Cancel" />#}
{#  </div>#}
{#</form>#}
{% endblock %}
