<div class="action-panel materials fixed-width">
  
    <form method="get" action="{{ request.path }}">   
    <ul class="left">
      <li>
        Displaying <strong>{{ pagination.first_item_number }} - {{ pagination.last_item_number }}</strong> of <strong>{{ pagination.total_items }}</strong> results
      </li>
      <li>
        <select name="batch_size">
          {% for option in index_params.BATCH_SIZE_OPTIONS %}
            <option value="{{ option }}"{% if option == index_params.batch_size %}selected="selected"{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
        results per page
      </li>
      <li class="last">
        Sort by:
        <select name="sort_by">
          {% for option in index_params.SORT_BY_OPTIONS %}
            <option value="{{ option.value }}"{% if option.value == index_params.sort_by %}selected="selected"{% endif %}>{{ option.title }}</option>
          {% endfor %}
        </select>
      </li>
    </ul>
    </form>

</div>