{% load materials_tags %}
<div class="item clearfix collapsible{% if forloop.last %} last{% endif %}">
  <a class="expand-button collapsed" href="#"></a>
  {% include "materials/include/index-item-right.html" %}
  <div class="details">
    <h3>
      <a class="item-link" href="{{ item.get_absolute_url }}">{{ item.title|safe }}</a>
      <a class="unsave-item" href="{{ item.unsave_item_url }}"><img alt="Remove from collection" src="{{ STATIC_URL }}images/remove-from-collection.png" /></a>  
    </h3>
    {% include "materials/include/index-item-details.html" %}
  </div>
</div>