<div class="myitems-save-button" data-identifier="{{ content_type }}.{{ object_id }}" data-folders-number="{{ folder_number }}"
    {% if auto_folder %} data-auto-folder="{{ auto_folder }}"{% endif %}>
    {% if folders %}
        <ul class="my-items-views">
            {% for f in folders %}
              <li class="folder{% if f.saved %} selected{% endif %}" data-folder-id="{{ f.id }}">
                  <i class="folder-icon"></i>
                  <a class="folder-text" href="#">
                      <span class="name">{{ f.title }}</span>
                      (<span class="number">{{ f.count }}</span>)
                  </a>
              </li>
            {% endfor %}
            <li class="last">
                <form class="folder-create-form" method="post" action="{% url myitems:folder_add_item %}">
                    <i class="folder-icon"></i>
                    {{ folder_create_form.name }}
                    <a id="folder-create-button" class="dashed" href="#">Create a New Folder</a>
                    <a id="folder-create-submit" class="dashed hidden" href="#">Create</a>
                </form>
            </li>
        </ul>
    {% endif %}
    <div class="button-main rc3">
        {% spaceless %}
            <div class="save-unsave-button">
                {% if created %}
                    <a class="created button-green unpressable rc3">Saved</a>
                {% else %}
                    <a href="#" class="unsave button-green rc3{% if not saved %} hidden{% endif %}" data-tooltip="Remove from My OER">Saved</a>
                    <a href="#" class="save button-green rc3{% if saved %} hidden{% endif %}" data-tooltip="Save to My OER">Save</a>
                {% endif %}
            </div>
            <div class="folder-list" data-tooltip="Save in a folder">
                <div class="item-folder rc3">{{ folder_list_label }}</div>
                <a href="#" class="require-login folder-list-button rc3">▼</a>
            </div>
        {% endspaceless %}
    </div>
</div>