<section class="portlet my-items-views">
  <h1 class="rc6">Folders</h1>
  {% if views %}
  <form id="folder-create-form" method="post" action="{% url myitems:folder_create %}">
      <ul>
        {% for view in views %}
          <li class="view {{ view.name }}{% if view.selected %} selected{% endif %}">
              <a href="{{ view.url }}">
                  <span class="name">{{ view.title }}</span>
                  (<span class="number">{{ view.count }}</span>)
              </a>
          </li>
        {% endfor %}
        {% for f in folders %}
          <li class="folder{% if f.selected %} selected{% endif %}" data-folder-id="{{ f.id }}">
              <a href="{{ f.url }}">
                  <span class="name">{{ f.title }}</span>
                  (<span class="number">{{ f.count }}</span>)
              </a>
              <a href="#" class="delete">×</a>
          </li>
        {% endfor %}
          <li class="last">
              {{ folder_create_form.name }}
              <a id="folder-create-button" class="dashed" href="#">Create a New Folder</a>
              <a id="folder-create-submit" class="dashed hidden" href="#">Create</a>
          </li>
      </ul>
  </form>
  {% endif %}
</section>
