<section class="portlet">
  <h1 class="rc6">Folders</h1>
      <ul class="my-items-views">
        {% for view in views %}
          <li class="view {{ view.name }}{% if view.selected %} selected{% endif %}">
              {% if not forloop.first %}<i class="folder-icon"></i>{% endif %}
              <a class="folder-text" href="{{ view.url }}">
                  <span class="name">{{ view.title }}</span>
                  (<span class="number">{{ view.count }}</span>)
              </a>
          </li>
        {% endfor %}
        {% for f in folders %}
          <li class="folder{% if f.selected %} selected{% endif %}" data-folder-id="{{ f.id }}">
              <i class="folder-icon"></i>
              <a class="folder-text" href="{{ f.url }}">
                  <span class="name">{{ f.title }}</span>
                  (<span class="number">{{ f.count }}</span>)
              </a>
              <a href="#" class="delete">×</a>
          </li>
        {% endfor %}
          <li class="last">
              <form class="folder-create-form" method="post" action="{% url myitems:folder_create %}">
                  <i class="folder-icon"></i>
                  {{ folder_create_form.name }}
                  <a id="folder-create-button" class="dashed" href="#">Create a New Folder</a>
                  <a id="folder-create-submit" class="dashed hidden" href="#">Create</a>
              </form>
          </li>
      </ul>
</section>
