<!DOCTYPE html>
{% load compress %}
{% load flatblock_tags %}
<html lang="{{ request.LANGUAGE_CODE }}" class="no-js">
  <head>
    <meta charset="utf-8"/>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/reset.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/typography.css" media="all" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery/Aristo/jquery-ui-1.8.7.custom.css" media="all" />
    
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/base.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/form.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/autocomplete-list-widget.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/iframe-submission.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/rating.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/tags.css" media="all" />
    {% endcompress %}
    
    <!--[if lt IE 8]>
      {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" media="all" />
      <link rel="stylesheet" href="{{ STATIC_URL }}styles/ie.css" media="all" />
      {% endcompress %}
    <![endif]-->

    {% include "include/modernizr.html" %}    
  </head>
  <body class="iframe-submission{% if request.user.is_authenticated %} authenticated{% endif %}">
  
    <a href="{% url materials:iframe_close %}" id="close">Close</a>

    <div id="container" class="loading">
    </div>
    
    {% include "include/cdn-js.html" %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery/jquery.stepy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/namespace.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/content-submission.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/autocomplete-list-widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/validation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/tags-form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/rating.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/materials-index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/iframe-submission.js"></script>
    {% endcompress %}
    <script type="text/javascript">
      RESOURCE_URL = "{{ request.GET.url }}";
      $(function() {
        oer.iframe_submission.init();
      });
    </script>
    
  </body>
</html>
